:host {
    div {
        display: flex;
        align-items: center;
    }
    mat-form-field {
        width: ~"calc(100% - 40px)";
    }
    mat-icon.refresh {
        margin: -20px 0 0 15px;
    }
}