@import '../../../../../../../../styles/variables.less';


app-transport-process {
    position: relative;
    display: block;
    width: 100%;
    & div.command {
        position: relative;
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 12px;
        & button {
            margin-left: 6px;
        }
    }
}
.app-transport-process-menu {
    & button[mat-menu-item] {
        & div.shell-profile {
            position: relative;
            margin-top: -7px;
            & > span {
                height: 16px;
                line-height: 16px;
            }
            & > span.envvars-count {
                color: @scheme-color-3;
            }
            & > span.shell-path {
                position: relative;
                display: block;
                color: @scheme-color-3;
                font-size: 10px;
                max-width: 250px;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-top: -8px;
                white-space: nowrap;
                direction: rtl;
                max-width: 200px;
            }    
        }
        &[data-selected="true"] {
            &  div.shell-profile {
                &::before {
                    display: block;
                    position: absolute;
                    width: 2px;
                    height: 24px;
                    background: @scheme-color-accent;
                    left: -9px;
                    top: 7px;
                    content: '';
                }    
            }
        }
    }
    
}