@import '../../../../theme/variables.less';

app-views-search-output {
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    span.range {
        display: none!important;
    }
}