<div *ngIf="state.cursor.visible" class="cover left" [ngStyle]="{'width': state.cursor.leftPx}"></div>
<div *ngIf="state.cursor.visible" 
    [attr.class]="'cursor ' + movement.target" 
    (wheel)="wheelOnFrame($event)" 
    (mousedown)="mousedownOnFrame($event, Target.Select)"
    [ngStyle]="{'left': state.cursor.leftPx, 'right': state.cursor.rightPx}">
    <div class="move-trigger" (mousedown)="mousedownOnFrame($event, Target.Move)"></div>
    <div class="left" [attr.row]="state.cursor.from" (mousedown)="mousedownOnFrame($event, Target.Left)"></div>
    <div class="right" [attr.row]="state.cursor.to" (mousedown)="mousedownOnFrame($event, Target.Right)"></div>
</div>
<div *ngIf="state.cursor.visible" class="cover right" [ngStyle]="{'width': state.cursor.rightPx}"></div>
<div *ngIf="state.cursor.visible && selecting.x !== -1" class="selection" [ngStyle]="{'left': selecting.leftPx, 'width': selecting.widthPx}"></div>