<div class="wrapper">
    <ul class="columns">
        <li class="column"
            *ngFor="let header of controller.headers; let i = index;"
            (click)="ngOnCheckboxClick($event, i)">
            <mat-checkbox
                class="material-mofication-mini"
                [disableRipple]="true"
                [checked]="header.visible"></mat-checkbox>
            <span
                class="label t-normal"
                [ngStyle]="{'color': header.color}">
                {{header.caption}}
            </span>
        </li>
    </ul>
    <div class="controls">
        <ul class="colors">
            <li class="color"
                [ngStyle]="{'background': color}"
                *ngFor="let color of colors"
                (click)="ngOnColorClick($event, color)">
            </li>
        </ul>
    </div>
</div>
