<div class="wrapper">
    <ul class="columns">
        <li class="column"
            *ngFor="let header of controller.headers"
            (click)="ngOnContainerClick($event, header.uuid)">
            <mat-checkbox
                class="material-mofication-mini"
                [disableRipple]="true"
                (click)="ngOnCheckboxClick()"
                (ngModelChange)="ngOnCheckboxChange($event, header.uuid)"
                [(ngModel)]="header.visible"></mat-checkbox>
            <span
                class="label t-normal"
                [ngStyle]="{'color': header.color}">
                {{header.caption}}
            </span>
        </li>
    </ul>
    <div class="controls">
        <ul class="colors">
            <li class="color"
                [ngStyle]="{'background': color}"
                *ngFor="let color of colors"
                (click)="ngOnColorClick($event, color)">
            </li>
        </ul>
    </div>
</div>
