<ul class="columns">
    <li [attr.class]="'column ' + (header.key === index ? 'selected' : '')"
        *ngFor="let header of controller.headers | keyvalue"
        (click)="ngOnContainerClick(header.key)">
        <mat-checkbox
            class="material-mofication-mini"
            [disableRipple]="true"
            (click)="ngOnCheckboxClick()"
            (ngModelChange)="ngOnCheckboxChange($event, header.key)"
            [(ngModel)]="header.value.visible"></mat-checkbox>
        <span
            class="label t-normal"
            [ngStyle]="{'color': header.value.color}">
            {{header.value.caption}}
        </span>
    </li>
</ul>
<div class="controls">
    <ul class="colors">
        <li [attr.class]="'color ' + (c === color ? 'selected' : '')"
            [ngStyle]="{'background': c}"
            *ngFor="let c of colors; "
            (click)="ngOnColorClick(c)">
        </li>
    </ul>
    <div class="buttons">
        <button mat-stroked-button (click)="reset()">Reset</button>
    </div>
</div>
