@import '../../../../theme/variables.less';

:host {
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    bottom: 0;
    right: 0;
    left:0;
    top:0;
    overflow-x: hidden;
    overflow-y: auto;
    & div.wrapper{
        position: absolute;
        top:0;
        bottom: 0;
        width: 100%;
    }
    & span.cursor{
        position: absolute;
        display: none;
        top: 0;
        height: 100%;
        width: 0;
        border-left: 1px solid @scheme-color-4;
        pointer-events: none;
    }
    &:hover{
        & span.cursor{
            display: block;
        }
    }
}
