*{
    font-family : 'Roboto', sans-serif;
    color       : @dark;
}
body{
    background: @light;
}
body.no-user-select * {
    -webkit-touch-callout   : none;
    -webkit-user-select     : none;
    -khtml-user-select      : none;
    -moz-user-select        : none;
    -ms-user-select         : none;
    user-select             : none;
}
/*
body:not([data-loaded-manual]) *{
  color: rgba(0,0,0,0.001);
  text-shadow: 0 0 1rem rgba(0,0,0,0.4);
  background: rgba(255,255,255,1);
}
*/

.message-no-data{
    position    : absolute;
    width       : 100%;
    text-align  : center;
    margin-top  : -0.5rem;
    top         : 50%;
    line-height : 1rem;
    color       : rgb(200,200,200);
}
.noselect{
    -webkit-touch-callout   : none;
    -webkit-user-select     : none;
    -khtml-user-select      : none;
    -moz-user-select        : none;
    -ms-user-select         : none;
    user-select             : none;
    *{
        -webkit-touch-callout   : none;
        -webkit-user-select     : none;
        -khtml-user-select      : none;
        -moz-user-select        : none;
        -ms-user-select         : none;
        user-select             : none;
    }
}
.font-system{
    font-family : "Courier New", "Lucida Console", monospace, sans-serif !important;
    *{
        font-family : "Courier New", "Lucida Console", monospace, sans-serif !important;
    }
}
*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    background: @grey-less;
    border-radius: 5px;
}

*::-webkit-scrollbar-track {
    background: @light-grey;
    border-radius: 5px;
}

::-webkit-scrollbar-corner{
    background: @light-grey;
}