<ng-container *ngIf="connection === undefined">
    <span>No data about TCP connection</span>
</ng-container>
<ng-container *ngIf="connection !== undefined">
    <span [attr.class]="('ext ' + (isActive() ? 'active' : ''))">TCP</span>
    <div class="info">
        <span class="name t-normal">{{connection.bind_addr}}</span>
    </div>
    <div class="controlls" >
        <span class="small-icon-button codicon codicon-play-circle" *ngIf="element.source.observer === undefined" (click)="restart($event)"></span>
        <span class="small-icon-button codicon codicon-stop-circle" *ngIf="element.source.observer !== undefined" (click)="stop($event)"></span>
    </div>
</ng-container>
