@import '../../../../../styles/variables.less';

:host {
    position: relative;
    display: block;
    padding: 0;
    margin: 0 6px 0 0 ;
    height: 32px;
    & span.color {
        position: relative;
        display: inline-block;
        width: 4px;
        height: 100%;
    }
    & span.selected {
        position: absolute;
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        top: 50%;
        margin-top: -4px;
        left: -17px;
        background-color: @scheme-color-accent;
    }
}
