@import '../../styles/variables.less';

:host {
    position: fixed;
    display: block;
    top: 12px;
    right: 12px;
    z-index: 1000;
    & div.filter {
        position: absolute;
        padding: 6px 12px;
        background: @scheme-color-warning-light;
        box-shadow: 3px 3px 3px rgb(0 0 0 / 40%);
        border-radius: 3px;
    }
}
