<div *ngIf="_ng_isPending() === false" class="noreset">
    <span class="source">{{_ng_sourceName}}</span>
    <span class="number"><span class="filler">{{_ng_number_filler}}</span>{{_ng_number}}</span>
    <p class="row noreset" [innerHTML]="_ng_safeHtml" (click)="_ng_onRowSelect()"></p>
</div>
<div *ngIf="_ng_isPending() === true" class="noreset">
    <span class="source">n/d</span>
    <span class="number"><span class="filler">{{_ng_number_filler}}</span>{{_ng_number}}</span>
    <p class="row pending"><span></span></p>
</div>
    