@import '../../../../theme/scheme.less';

:host {
    position: relative;
    display: block;
    white-space: nowrap;
    height: 100%;
    width: 100%;
    text-align: right;
    margin: 0;
    padding: 0;
}