<mat-checkbox [checked]="state.active" (change)="_ng_onStateChange($event)" (click)="_ng_onStateClick($event)"></mat-checkbox>
<div class="doubleclick" (dblclick)="_ng_onDoubleClick($event)">
    <span class="color" [ngStyle]="{'background': state.colors.color}"></span>
    <span class="background" [ngStyle]="{'background': state.colors.background}"></span>
    <span class="request" *ngIf="!entity.getEditState().state()">{{state.filter.filter}}</span>
    <input #requestInput *ngIf="entity.getEditState().state()"
        matInput
        class="request"
        placeholder="Request"
        (keyup)="_ng_onRequestInputKeyUp($event)"
        (blur)="_ng_onRequestInputBlur()"
        [(ngModel)]="state.filter.filter"/>
</div>
<span class="flags">
    <span [attr.class]="'small-icon-button codicon codicon-case-sensitive ' + (state.filter.flags.cases ? 'active' : 'inactive')" (click)="_ng_flagsToggle($event, 'cases')"></span>
    <span [attr.class]="'small-icon-button codicon codicon-whole-word ' + (state.filter.flags.word ? 'active' : 'inactive')" (click)="_ng_flagsToggle($event, 'word')"></span>
    <span [attr.class]="'small-icon-button codicon codicon-regex ' + (state.filter.flags.reg ? 'active' : 'inactive')" (click)="_ng_flagsToggle($event, 'reg')"></span>
</span>
