<mat-checkbox class="material-mofication-mini" [disableRipple]="true" [checked]="state.active" (change)="_ng_onStateChange($event)"></mat-checkbox>
<div class="doubleclick" (dblclick)="_ng_onDoubleClick($event)">
    <span class="color" [ngStyle]="{'background': state.colors.color}"></span>
    <span class="background" [ngStyle]="{'background': state.colors.background}"></span>
    <span class="request" *ngIf="!entity.getEditState().state()">{{state.filter.filter}}</span>
    <input #requestInput *ngIf="entity.getEditState().state()"
        matInput
        class="request"
        placeholder="Request"
        (keyup)="_ng_onRequestInputKeyUp($event)"
        (blur)="_ng_onRequestInputBlur()"
        [(ngModel)]="state.filter.filter"/>
</div>
<span class="found" *ngIf="state.found !== 0">{{state.found}}</span>
<span class="flags" *ngIf="!entity.getEditState().state()">
    <span [attr.class]="'small-icon-button codicon codicon-case-sensitive ' + (state.filter.flags.cases ? 'active' : 'inactive')" (click)="_ng_flagsToggle($event, EFlag.cases)"></span>
    <span [attr.class]="'small-icon-button codicon codicon-whole-word ' + (state.filter.flags.word ? 'active' : 'inactive')" (click)="_ng_flagsToggle($event, EFlag.word)"></span>
    <span [attr.class]="'small-icon-button codicon codicon-regex ' + (state.filter.flags.reg ? 'active' : state.isValidRegex ? 'inactive' : 'invalid')" (click)="_ng_flagsToggle($event, EFlag.reg)"></span>
</span>
