@import '../../../../../styles/variables.less';


:host {
    position: relative;
    display: block;
    padding: 0 12px 0 24px;
    & span.slitter{
        position: relative;
        display: block;
        height: 8px;
    }
    & mat-form-field {
        width: 97%;
    }
}
