@import '../../../../styles/variables.less';



:host {
    position: relative;
    display: block;
    & span.path {
        margin-left: 12px;
    }
    & .nowrap {
        white-space: nowrap;    
        text-overflow: ellipsis;
        overflow: hidden;
    }
    & table {
        margin-left: -3px;
    }
    & table > tr {
        vertical-align: top;
    }
    & table * {
        border-spacing: 0px;
    }
    & table {
        & td.left-padding {
            padding-left: 12px;
        }
    }

}