<canvas [attr.width]="size.width"
        [attr.height]="getHeight()"
        (mousemove)="onMouseMove($event)"
        (click)="onClick($event)"
        [style.top]="getTopOffset()"
        #canvas></canvas>
<div *ngIf="selection.list.length > 0" class="ln-navigation-cover" (mousemove)="onMouseLeave($event)"></div>
<div *ngIf="selection.list.length > 0" [style.top]="selection.top" [attr.class]="'ln-navigation-wrapper' + (pin ? ' pinned' : '')">
    <ul [attr.class]="'ln-navigation'" (mouseleave)="onMouseLeave($event)" (mouseout)="onMouseLeave($event)">
        <li *ngFor="let item of selection.list;" (click)="item.onClick()">
            <span class="fa fa-arrow-circle-right" [style.color]="item.color"></span>
            <p class="font-system" [innerHTML]="item.html"></p>
        </li>
    </ul>
</div>