:host {
    position: absolute;
    display: block;
    height: 1px;
    width: 1px;
    top: -1px;
    left: 1px;
    overflow: hidden;
    opacity: 0.000001;
    & input {
        position: absolute;
        display: block;
        height: 1px;
        width: 1px;
        top: -1px;
        left: 1px;
        overflow: hidden;
    }
}