<mat-expansion-panel
    [disabled]="true"
    [expanded]="true"
    [hideToggle]="true">
    <mat-expansion-panel-header class="nowrap">
        <mat-panel-title>Running</mat-panel-title>
        <mat-panel-description>{{_ng_count()}}</mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngIf="_ng_running.length === 0">
        <p class="t-small nowrap">No processes are running</p>
    </div>
    <div *ngIf="_ng_running.length > 0">
        <div appTooltip
             [appTooltipContent]="template"
             [appTooltipRefreshRate]="500"
             class="running"
             *ngFor="let running of _ng_running">
            <div class="colorIndicator" [ngStyle]="{'background-color': running.meta.color}"></div>
            <mat-spinner [diameter]="15" mode="indeterminate"></mat-spinner>
            <span class="command">{{running.command}}</span>
            <ng-template #template>
                <table>
                    <tr>
                        <td class="color-scheme-1 t-small">Running</td>
                        <td class="color-scheme-0 t-small">{{_ng_info(running).running}}</td>
                    </tr>
                    <tr>
                        <td class="color-scheme-1 t-small">Recieved</td>
                        <td class="color-scheme-0 t-small">{{_ng_info(running).received}}</td>
                    </tr>
                </table>
            </ng-template>
            <mat-icon class="terminate" (click)="_ng_onTerminate(running)">close</mat-icon>
        </div>
    </div>
</mat-expansion-panel>
