list-view-item{
    position    : relative;
    display     : block;
    cursor      : text;
    p{
        margin      : 0;
        padding     : 0;
        height      : 1rem;
        display     : inline-block;
        min-width   : 100%;
        box-sizing  : border-box;
        position    : relative;
        top:0;
        span.filler{
            position    : absolute;
            display     : block;
            width       : 100%;
            height      : 100%;
            left        : 1.1rem;
            top         : 0px;
            box-sizing  : border-box;
        }
        .highlight-wrapper{
            margin      : 0;
            padding     : 0;
            height      : 1rem;
            display     : inline-block;
            min-width   : 100%;
        }
        &:hover{
            background  : @list-hover-background;
        }
        .number{
            position            : relative;
            display             : inline-block;
            margin              : 0 0.5rem 0 0;
            font-size           : 0.65rem;
            color               : @soft-dark;
            padding             : 0 0.2rem;
            border              : none;
            background          : @list-number-background;
            line-height         : 1rem;
            cursor              : pointer;
            left                : 0.5rem;
            z-index             : 10;
            &:after{
                content     : '';
                position    : absolute;
                height      : 1rem;
                width       : 0.5rem;
                top         : -0.1rem;
                left        : -0.5rem;
                background  : @light;
            }
            &.hide{
                width       : 0.7rem;
                font-size   : 0.5rem;
                font        : normal normal normal 10px/1 FontAwesome!important;
                color       : @grey;
                background  : @light;
                line-height: 1rem!important;
            }
        }
        .item{
            position        : relative;
            display         : inline;
            line-height     : 1rem;
        }
        &.selected{
            background      : @list-hover-background;
        }
        &.filtered{
            span.filler{
                background  : @light-blue;
            }
        }
        .favorite{
            position: relative;
            color   : @green-opacity-0-4;
            cursor  : pointer;
            &:hover{
                color   : @green;
            }
        }
        span.match{
            position: relative;
            display: inline-block;
            background: @soft-red;
            color:@white;
        }
        &.bookmarked{
            .number{
                background      : @soft-green;
                color           : @white;
                &.hide{
                    background  : @light;
                    color       : @soft-green;
                }
            }
        }
    }
}