list-view-item{
    position    : relative;
    display     : block;
    cursor      : text;
    height      : 1rem;
    p{
        margin      : 0;
        padding     : 0;
        height      : 1rem;
        display     : inline-block;
        min-width   : 100%;
        box-sizing  : border-box;
        position    : relative;
        top         :0;
        overflow    : hidden;
        span.filler{
            position    : absolute;
            display     : block;
            width       : 100%;
            height      : 100%;
            left        : 1.1rem;
            top         : 0px;
            box-sizing  : border-box;
        }
        .highlight-wrapper{
            margin      : 0;
            padding     : 0;
            height      : 1rem;
            display     : inline-block;
            min-width   : 100%;
        }
        .number{
            position                : relative;
            display                 : inline-block;
            margin                  : 0 0.5rem 0 0;
            font-size               : 0.65rem;
            color                   : @soft-dark;
            padding                 : 0 0.2rem;
            border                  : none;
            background              : @list-number-background;
            line-height             : 1.3rem;
            cursor                  : pointer;
            -webkit-touch-callout   : none!important;
            -webkit-user-select     : none!important;
            -khtml-user-select      : none!important;
            -moz-user-select        : none!important;
            -ms-user-select         : none!important;
            user-select             : none!important;
            /*z-index             : 10;*/
            &.active{
                font-weight     : bold;
                color           : @dark;
            }
            &:after{
                content     : '';
                position    : absolute;
                height      : 1.3rem;
                width       : 0.5rem;
                top         : -0.1rem;
                left        : -0.5rem;
                background  : @light;
            }
            &.hide{
                width       : 0.7rem;
                font-size   : 0.5rem;
                font        : normal normal normal 10px/1 FontAwesome!important;
                color       : @grey;
                background  : @light;
                line-height: 1.2rem!important;
                &.active{
                    font-weight : normal;
                    color       : @dark;
                }
            }

        }
        .item{
            position        : relative;
            display         : inline;
            line-height     : 1rem;
        }
        &.selected{
            .number{
                background: @dark;
                color:@light;
            }
        }
        &.filtered{
            span.filler{
                background  : @light-blue;
            }
        }
        .favorite{
            position: relative;
            color   : @green-opacity-0-4;
            cursor  : pointer;
            &:hover{
                color   : @green;
            }
        }
        span.match, span.marker{
            position: relative;
            display: inline-block;
            background: @background-match;
            color:@color-match;
            line-height: 1.3rem;
        }
        span.remark{
            position: relative;
            display: inline-block;
            line-height: 1.3rem;
            background: @green-opacity-0-4;
        }
        &.bookmarked{
            .number{
                background      : @soft-green;
                color           : @white;
                &.hide{
                    background  : @light;
                    color       : @soft-green;
                }
            }
        }
    }
    &:hover{
        span.filler{
            background  : @list-hover-background;
        }
    }
}