<div class="container" [ngStyle]="{'width': _ng_width + 'px', 'height': _ng_height + 'px'}">
    <canvas [attr.id]="'view-chart-zoomer-filters-canvas-' + serviceData.getSessionGuid()" [attr.width]="_ng_width" [attr.height]="_ng_height"></canvas>
    <canvas [attr.id]="'view-chart-zoomer-charts-canvas-' + serviceData.getSessionGuid()" [attr.width]="_ng_width" [attr.height]="_ng_height"></canvas>
</div>
<app-views-chart-zoomer-cursor-canvas 
    *ngIf="_ng_isCursorVisible"
    [getLeftOffset]="_ng_getLeftOffset"
    [onOffsetUpdated]="_ng_onOffsetUpdated"
    [servicePosition]="servicePosition"
    [serviceData]="serviceData"></app-views-chart-zoomer-cursor-canvas>
