@import '../../../../../styles/variables.less';


:host {
    position: relative;
    display: block;
    & span.path {
        margin-left: 12px;
    }
    & .nowrap {
        white-space: nowrap;    
        text-overflow: ellipsis;
        overflow: hidden;
    }
}