
<p class="t-medium">
    <span class="color-scheme-1">UDP:</span>
    <span class="path color-scheme-2">{{options.bind_addr}}</span>
    <span class="path color-scheme-3" *ngIf="options.multicast.length > 0">Multicast:</span>
    <span class="path multicast" *ngFor="let multicast of options.multicast">
        <span class="color-scheme-3">{{multicast.multiaddr}}</span>
        <span class="color-scheme-2" *ngIf="multicast.interface !== undefined">({{multicast.interface}})</span>
    </span>
</p>
