<div class="dialog-settings-importer">
    <div class="section">
        <p class="section-title">Import settings</p>
        <p class="section-subtitle">You can import settings from external file. Press "Import from file" to do it. <strong>Your current settings will be overwritten. Make backup (export) your current settings before.</strong></p>
        <div class="buttons-area">
            <button-flat-text [caption]="'Import from file'" [handle]="_onImport"></button-flat-text>
        </div>
    </div>
    <div class="section">
        <p class="section-title">Export settings</p>
        <p class="section-subtitle">To export settings, selecte which you want to export and press "Export". Settings will be saved into file. You can load your settings from it in any time.</p>
        <ul class="list-of-settings">
            <li class="list-of-settings-item" *ngFor="let field of _exporting;">
                <div class="list-of-settings-item-checkbox"><simple-checkbox [checked]="field.selected" [on]="'include'" [off]="'exclude'" [onChange]="_onExportSelectionChange.bind(this, field.key)"></simple-checkbox></div>
                <div [attr.class]="'list-of-settings-item-description-area' + (field.selected ? ' selected' : '')">
                    <p class="list-of-settings-item-caption">{{field.caption}}</p>
                    <p class="list-of-settings-item-description">{{field.description}}</p>
                </div>
            </li>
        </ul>
        <div class="buttons-area">
            <button-flat-text [caption]="'Select All'" [enabled]="_getKeysForExport().length < _exportingTotalCount" [handle]="_onExportSelectAll"></button-flat-text>
            <button-flat-text [caption]="'Deselect All'" [enabled]="_getKeysForExport().length > 0" [handle]="_onExportDeselectAll"></button-flat-text>
            <button-flat-text [caption]="'Export'" [enabled]="_getKeysForExport().length > 0" [handle]="_onExport"></button-flat-text>
        </div>
    </div>
    <div class="section">
        <p class="section-title">Drop settings</p>
        <p class="section-subtitle attention">This is dangerous area. Be careful. To reset (drop) settings, select settings, which you want to drop and press "Reset"</p>
        <ul class="list-of-settings">
            <li class="list-of-settings-item" *ngFor="let field of _dropping;">
                <div class="list-of-settings-item-checkbox"><simple-checkbox [checked]="field.selected" [on]="'include'" [off]="'exclude'" [onChange]="_onExportSelectionChange.bind(this, field.key)"></simple-checkbox></div>
                <div [attr.class]="'list-of-settings-item-description-area' + (field.selected ? ' selected' : '')">
                    <p class="list-of-settings-item-caption">{{field.caption}}</p>
                    <p class="list-of-settings-item-description">{{field.description}}</p>
                </div>
            </li>
        </ul>
        <div class="buttons-area">
            <button-flat-text [caption]="'Select All'" [enabled]="_getKeysForDrop().length < _droppingTotalCount" [handle]="_onDropSelectAll"></button-flat-text>
            <button-flat-text [caption]="'Deselect All'" [enabled]="_getKeysForDrop().length > 0" [handle]="_onDropDeselectAll"></button-flat-text>
            <button-flat-text [caption]="'Drop'" [enabled]="_getKeysForDrop().length > 0" [handle]="_onDrop"></button-flat-text>
        </div>
    </div>
    <a #exporturl [attr.href]="exportdata.url" class="export-url" [attr.download]="exportdata.filename"></a>
</div>