@import '../../../../theme/variables.less';

app-sidebar-app-shell-input {
    & mat-panel-title {
        margin-top: 15px;
    }
    & .mat-expansion-panel-header.mat-expanded {
        height: 40px;
        color: @scheme-color-0;
    }
    & mat-form-field.regular{
        height: 30px;
        & input {
            padding: 7px .1rem 0;
        }
    }
}
& mat-option.app-sidebar-app-shell-input {
    & :hover {
        & mat-icon.clear {
            display: inline-block!important;
        }
    }
    
    & .options {
        display: flex;
        flex-direction: row;
        & span.filename {
            flex: auto;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding: 0px!important;
        }
        & mat-icon.clear {
            width: 16px;
            height: 16px;
            font-size: 16px;
            padding-top: 4px;
            margin-right: 0px!important;
            color: @scheme-color-3;
            display: none;
        }
        mat-icon.clear:hover {
            color: @scheme-color-0;
        }
    }
}
