@import '../../../../theme/variables.less';

& .mat-expansion-panel-header.mat-expanded {
    height: 40px;
    color: @scheme-color-0;
}
& .mat-stroked-button {
    position: relative;
    float: right;
    margin-top: -5px;
}
& mat-form-field.regular{
    & input {
        padding: 7px .1rem 0;
    }
}
