@import './variables.less';

button.major-button {
    background-color: @scheme-color-active;
}

button.flat-codicon-button {
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    padding: 0 6px;
    white-space: nowrap;
    background: none;
    color: @scheme-color-1;
    height: 24px;
    outline: none;
    &:hover {
        background: @scheme-color-4;
    }
    & span {
        padding-right: 6px;
    }
}

& span.small-icon-button {
    display: inline-block;
    height: 24px;
    width: 24px;
    color: @scheme-color-1;
    text-align: center;
    padding-top: 4px;
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    border-radius: 3px;
    transition: transform 350ms ease-in-out;
    &.no-right-marging {
        margin-right: 0px;
    }
    &:hover{
        color: @scheme-color-3;
    }
    &.disabled {
        color: @scheme-color-3;
        &:hover{
            color: @scheme-color-3;
        }    
    }
    &.with-background {
        &:hover{
            background-color: @scheme-color-4;
            color: @scheme-color-0;
        }
        &.disabled {
            color: @scheme-color-3;
            &:hover{
                color: @scheme-color-3;
                background: none;
            }
            &.active {
                background: none;
                &:hover{
                    background: none;
                }
            }   
        }
        &.active {
            background-color: @scheme-color-active;
            &:hover{
                background-color: @scheme-color-active;
            }
        }    
    }
}