@import './variables.less';

button.major-button {
    background-color: var(--scheme-color-active);
}

button.flat-codicon-button {
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    padding: 0 6px;
    white-space: nowrap;
    background: none;
    color: var(--scheme-color-1);
    height: 24px;
    outline: none;
    &:hover {
        background: var(--scheme-color-4);
    }
    & span {
        padding-right: 6px;
    }
}

& span.small-link-button {
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    color: var(--scheme-color-2);
    border-bottom: dashed thin var(--scheme-color-4);
    padding: 2px;
    &:hover {
        color: var(--scheme-color-1);
        border-bottom: dashed thin var(--scheme-color-2);
    }
}

& span.small-icon-button {
    display: inline-block;
    height: 24px;
    width: 24px;
    color: var(--scheme-color-1);
    text-align: center;
    padding-top: 4px;
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    border-radius: 3px;
    transition: transform 350ms ease-in-out;
    &.no-right-marging {
        margin-right: 0px;
    }
    &:hover{
        color: var(--scheme-color-3);
    }
    &.disabled {
        color: var(--scheme-color-3);
        &:hover{
            color: var(--scheme-color-3);
        }    
    }
    &.with-background {
        &:hover{
            background-color: var(--scheme-color-4);
            color: var(--scheme-color-0);
        }
        &.disabled {
            color: var(--scheme-color-3);
            &:hover{
                color: var(--scheme-color-3);
                background: none;
            }
            &.active {
                background: none;
                &:hover{
                    background: none;
                }
            }   
        }
        &.active {
            background-color: var(--scheme-color-active);
            &:hover{
                background-color: var(--scheme-color-active);
            }
        }    
    }
}