
/*
var(--scheme-color-0): #FFFFFF;
var(--scheme-color-1): #eaeaea;
var(--scheme-color-2): #c0c0c0;
var(--scheme-color-3): #979797;
var(--scheme-color-4): #555555;
var(--scheme-color-5): #333333;
var(--scheme-color-6): #111111;
var(--scheme-color-7): #000000;
*/
@import './variables.less';

.color-scheme-0 {
    color: var(--scheme-color-0);
}
.color-scheme-1 {
    color: var(--scheme-color-1);
}
.color-scheme-2 {
    color: var(--scheme-color-2);
}
.color-scheme-3 {
    color: var(--scheme-color-3);
}
.color-scheme-4 {
    color: var(--scheme-color-4);
}
.color-scheme-5 {
    color: var(--scheme-color-5);
}
.color-scheme-6 {
    color: var(--scheme-color-6);
}
.color-scheme-error {
    color: var(--scheme-color-error);
}
.color-scheme-accent {
    color: var(--scheme-color-accent);
}
.color-scheme-warning {
    color: var(--scheme-color-warning);
}

.bk-scheme-0 {
    background: var(--scheme-color-0);
}
.bk-scheme-1 {
    background: var(--scheme-color-1);
}
.bk-scheme-2 {
    background: var(--scheme-color-2);
}
.bk-scheme-3 {
    background: var(--scheme-color-3);
}
.bk-scheme-4 {
    background: var(--scheme-color-4);
}
.bk-scheme-5 {
    background: var(--scheme-color-5);
}
.bk-scheme-6 {
    background: var(--scheme-color-6);
}
.bk-scheme-error {
    background: var(--scheme-color-error);
}
.bk-scheme-accent {
    background: var(--scheme-color-accent);
}
.bk-scheme-warning {
    background: var(--scheme-color-warning);
}