@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$gray-palette, 500);
$my-accent: mat.define-palette(mat.$gray-palette, A200, A100, A400);

$my-theme: mat.define-dark-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($my-theme);