@import './variables.less';

body, p, h1, h2, h3, h4, h5, h6, ul, li {
    padding: 0;
    margin: 0;
}

* {
    font-family: 'primary';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
}