@import './variables.less';


.row span{
    display: inline-block;
    font-family: 'console', monospace;
    font-size: 13.5px;
    font-variant-numeric: tabular-nums;
    padding: 0;
    margin: 0;
    line-height: 16px;
    height: 16px;
    max-height: 16px;
    white-space: pre;
    vertical-align: top;
    font-weight: 500;
    &.match{
        background: var(--scheme-color-2);
        color: var(--scheme-color-5);
        font-weight: 600;

    }
    &.accent{
        background: var(--scheme-color-accent);
        color: var(--scheme-color-0);
        font-weight: 600;
    }
    &.timestampmatch{
        color:inherit;
        background: var(--scheme-color-accent-fade-30);
        cursor: default;
        position: relative;
        &:hover{
            background: var(--scheme-color-accent-fade-60);
            color: var(--scheme-color-0);
            font-weight: 600;
        }
        
    }
}
app-scrollarea-row {
    &[data-selected="true"] {
        & span.nested{
            background:  var(--scheme-color-accent);
            color: var(--scheme-color-7);
        }
    }
}
& span.injected-row-comment {
    background: var(--scheme-color-warning-light);
    color: var(--scheme-color-0);
    &.pending {
        background: var(--scheme-color-warning-dark);
    }
}
& .console-content,
& .console-content * {
    font-family: 'console', monospace;
    font-size: 13.5px;
    font-variant-numeric: tabular-nums;
    padding: 0;
    margin: 0;
    line-height: 16px;
    white-space: normal;
    font-weight: 500;
    user-select: text; 
}
/// Menlo, Monaco, "Courier New", monospace