@dark-scheme-color-0: #ffffff;
@dark-scheme-color-0-fade-35: fade(@dark-scheme-color-0, 35%);
@dark-scheme-color-1: #eaeaea;
@dark-scheme-color-2: #c0c0c0;
@dark-scheme-color-2-lighten-5: lighten(@dark-scheme-color-2, 5%);
@dark-scheme-color-3: #979797;
@dark-scheme-color-3-15: #97979715;
@dark-scheme-color-3-75: #97979775;
@dark-scheme-color-4: #555555;
@dark-scheme-color-5: #333333;
@dark-scheme-color-5-00: #33333300;
@dark-scheme-color-5-15: #33333315;
@dark-scheme-color-5-85: #33333385;
@dark-scheme-color-5-95: #33333395;
@dark-scheme-color-5-lighten-5: lighten(@dark-scheme-color-5, 5%);
@dark-scheme-color-5-lighten-10: lighten(@dark-scheme-color-5, 10%);
@dark-scheme-color-5-lighten-15: lighten(@dark-scheme-color-5, 15%);
@dark-scheme-color-5-darken-5: darken(@dark-scheme-color-5, 5%);
@dark-scheme-color-6: #111111;
@dark-scheme-color-7: #000000;
@dark-scheme-bk-color-0: #424242;
@dark-scheme-color-error: rgb(253, 21, 21);
@dark-scheme-color-error-light: rgb(248, 133, 133);
@dark-scheme-color-accent: #74b9ff;
@dark-scheme-color-accent-50: #74b9ff50;
@dark-scheme-color-accent-fade-30: fade(@dark-scheme-color-accent, 30%);
@dark-scheme-color-accent-fade-60: fade(@dark-scheme-color-accent, 60%);
@dark-scheme-color-accent-lighten-20: lighten(@dark-scheme-color-accent, 20%);
@dark-scheme-color-accent-fadeout-50: fadeout(@dark-scheme-color-accent, 50%);
@dark-scheme-color-warning: #fffd71;
@dark-scheme-color-warning-light: #a7a547;
@dark-scheme-color-warning-dark: #676628;
@dark-scheme-color-warning-fadeout-50: fadeout(@dark-scheme-color-warning, 50%);
@dark-scheme-color-hover: #494949;
@dark-scheme-color-active: #6a7d8f;
@dark-scheme-color-active-15: #6a7d8f15;
@dark-scheme-color-active-75: #6a7d8f75;

.dark-theme {
    --scheme-color-0: @dark-scheme-color-0;
    --scheme-color-0-fade-35: @dark-scheme-color-0-fade-35;
    --scheme-color-1: @dark-scheme-color-1;
    --scheme-color-2: @dark-scheme-color-2;
    --scheme-color-2-lighten-5: @dark-scheme-color-2-lighten-5;
    --scheme-color-3: @dark-scheme-color-3;
    --scheme-color-3-15: @dark-scheme-color-3-15;
    --scheme-color-3-75: @dark-scheme-color-3-75;
    --scheme-color-4: @dark-scheme-color-4;
    --scheme-color-5: @dark-scheme-color-5;
    --scheme-color-5-00: @dark-scheme-color-5-00;
    --scheme-color-5-15: @dark-scheme-color-5-15;
    --scheme-color-5-85: @dark-scheme-color-5-85;
    --scheme-color-5-95: @dark-scheme-color-5-95;
    --scheme-color-5-lighten-5: @dark-scheme-color-5-lighten-5;
    --scheme-color-5-lighten-10: @dark-scheme-color-5-lighten-10;
    --scheme-color-5-lighten-15: @dark-scheme-color-5-lighten-15;
    --scheme-color-5-darken-5: @dark-scheme-color-5-darken-5;
    --scheme-color-6: @dark-scheme-color-6;
    --scheme-color-7: @dark-scheme-color-7;
    --scheme-bk-color-0: @dark-scheme-bk-color-0;
    --scheme-color-error: @dark-scheme-color-error;
    --scheme-color-error-light: @dark-scheme-color-error-light;
    --scheme-color-accent: @dark-scheme-color-accent;
    --scheme-color-accent-50: @dark-scheme-color-accent-50;
    --scheme-color-accent-fade-30: @dark-scheme-color-accent-fade-30;
    --scheme-color-accent-fade-60: @dark-scheme-color-accent-fade-60;
    --scheme-color-accent-lighten-20: @dark-scheme-color-accent-lighten-20;
    --scheme-color-accent-fadeout-50: @dark-scheme-color-accent-fadeout-50;
    --scheme-color-warning: @dark-scheme-color-warning;
    --scheme-color-warning-light: @dark-scheme-color-warning-light;
    --scheme-color-warning-dark: @dark-scheme-color-warning-dark;
    --scheme-color-warning-fadeout-50: @dark-scheme-color-warning-fadeout-50;
    --scheme-color-hover: @dark-scheme-color-hover;
    --scheme-color-active: @dark-scheme-color-active;
    --scheme-color-active-75: @dark-scheme-color-active-75;
}

@light-scheme-color-0: #000000;
@light-scheme-color-0-fade-35: fade(@light-scheme-color-0, 35%);
@light-scheme-color-1: #151515;
@light-scheme-color-2: #3f3f3f;
@light-scheme-color-2-lighten-5: lighten(@light-scheme-color-2, 5%);
@light-scheme-color-3: #686868;
@light-scheme-color-3-15: #68686815;
@light-scheme-color-3-75: #68686875;
@light-scheme-color-4: #aaaaaa;
@light-scheme-color-5: #efefef;
@light-scheme-color-5-00: #efefef00;
@light-scheme-color-5-15: #efefef15;
@light-scheme-color-5-85: #efefef85;
@light-scheme-color-5-95: #efefef95;
@light-scheme-color-5-lighten-5: lighten(@light-scheme-color-5, 5%);
@light-scheme-color-5-lighten-10: lighten(@light-scheme-color-5, 10%);
@light-scheme-color-5-lighten-15: lighten(@light-scheme-color-5, 15%);
@light-scheme-color-5-darken-5: darken(@light-scheme-color-5, 5%);
@light-scheme-color-6: #fafafa;
@light-scheme-color-7: #ffffff;
@light-scheme-color-error: rgb(253, 21, 21);
@light-scheme-color-error-light: rgb(248, 133, 133);
@light-scheme-color-accent: #74b9ff;
@light-scheme-color-accent-50: #74b9ff50;
@light-scheme-color-accent-fade-30: fade(@light-scheme-color-accent, 30%);
@light-scheme-color-accent-fade-60: fade(@light-scheme-color-accent, 60%);
@light-scheme-color-accent-lighten-20: lighten(@light-scheme-color-accent, 20%);
@light-scheme-color-accent-fadeout-50: fadeout(@light-scheme-color-accent, 50%);
@light-scheme-color-warning: #fffd71;
@light-scheme-color-warning-light: #a7a547;
@light-scheme-color-warning-dark: #676628;
@light-scheme-color-warning-fadeout-50: fadeout(@light-scheme-color-warning, 50%);
@light-scheme-bk-color-0: #dcdcdc;
@light-scheme-color-hover: #dbdbdb;
@light-scheme-color-active: #958270;
@light-scheme-color-active-15: #95827015;
@light-scheme-color-active-75: #95827075;

.light-theme {
    --scheme-color-0: @light-scheme-color-0;
    --scheme-color-0-fade-35: @light-scheme-color-0-fade-35;
    --scheme-color-1: @light-scheme-color-1;
    --scheme-color-2: @light-scheme-color-2;
    --scheme-color-2-lighten-5: @light-scheme-color-2-lighten-5;
    --scheme-color-3: @light-scheme-color-3;
    --scheme-color-3-15: @light-scheme-color-3-15;
    --scheme-color-3-75: @light-scheme-color-3-75;
    --scheme-color-4: @light-scheme-color-4;
    --scheme-color-5: @light-scheme-color-5;
    --scheme-color-5-00: @light-scheme-color-5-00;
    --scheme-color-5-15: @light-scheme-color-5-15;
    --scheme-color-5-85: @light-scheme-color-5-85;
    --scheme-color-5-95: @light-scheme-color-5-95;
    --scheme-color-5-lighten-5: @light-scheme-color-5-lighten-5;
    --scheme-color-5-lighten-10: @light-scheme-color-5-lighten-10;
    --scheme-color-5-lighten-15: @light-scheme-color-5-lighten-15;
    --scheme-color-5-darken-5: @light-scheme-color-5-darken-5;
    --scheme-color-6: @light-scheme-color-6;
    --scheme-color-7: @light-scheme-color-7;
    --scheme-bk-color-0: @light-scheme-bk-color-0;
    --scheme-color-error: @light-scheme-color-error;
    --scheme-color-error-light: @light-scheme-color-error-light;
    --scheme-color-accent: @light-scheme-color-accent;
    --scheme-color-accent-50: @light-scheme-color-accent-50;
    --scheme-color-accent-fade-30: @light-scheme-color-accent-fade-30;
    --scheme-color-accent-fade-60: @light-scheme-color-accent-fade-60;
    --scheme-color-accent-lighten-20: @light-scheme-color-accent-lighten-20;
    --scheme-color-accent-fadeout-50: @light-scheme-color-accent-fadeout-50;
    --scheme-color-warning: @light-scheme-color-warning;
    --scheme-color-warning-light: @light-scheme-color-warning-light;
    --scheme-color-warning-dark: @light-scheme-color-warning-dark;
    --scheme-color-warning-fadeout-50: @light-scheme-color-warning-fadeout-50;
    --scheme-color-hover: @light-scheme-color-hover;
    --scheme-color-active: @light-scheme-color-active;
    --scheme-color-active-75: @light-scheme-color-active-75;
}

@border-radius: 6px;
@border-color-offset: 5%;
@tabs-list-height: 32px;
@caption-height: 32px;
@status-bar-height: 1.5rem;
@func-bar-maximized: 20rem;
@status-bar-height-abs: 1.5;
@func-bar-maximized-abs: 20;
