@scheme-color-0: #ffffff;
@scheme-color-1: #eaeaea;
@scheme-color-2: #c0c0c0;
@scheme-color-3: #979797;
@scheme-color-3-15: #97979715;
@scheme-color-3-75: #97979775;
@scheme-color-4: #555555;
@scheme-color-5: #333333;
@scheme-color-5-00: #33333300;
@scheme-color-5-15: #33333315;
@scheme-color-5-85: #33333385;
@scheme-color-5-95: #33333395;
@scheme-color-6: #111111;
@scheme-color-7: #000000;
@scheme-bk-color-0: #424242;

@scheme-color-error: rgb(253, 21, 21);
@scheme-color-error-light: rgb(248, 133, 133);
@scheme-color-accent: #74b9ff;
@scheme-color-accent-50: #74b9ff50;
@scheme-color-warning: #fffd71;
@scheme-color-warning-light: #a7a547;
@scheme-color-warning-dark: #676628;
@border-color-offset: 5%;
@scheme-color-hover: #494949;

@scheme-color-active: #6a7d8f;
@scheme-color-active-15: #6a7d8f15;
@scheme-color-active-75: #6a7d8f75;

@border-radius: 6px;

@tabs-list-height: 32px;
@caption-height: 32px;

@status-bar-height: 1.5rem;
@func-bar-maximized: 20rem;

@status-bar-height-abs: 1.5;
@func-bar-maximized-abs: 20;
