@import '../../../theme/variables.less';

:host {
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    bottom: 0.5rem;
    right: 0.5rem;
    left: 0.5rem;
    top: 0.5rem;
    cursor: crosshair;
    overflow: hidden;
    & div.main {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 3rem;
        overflow: hidden;
    }
    & div.secondary {
        position: absolute;
        height: 3rem;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }
}
