<mat-card>
    <mat-card-title>Log level</mat-card-title>
    <mat-card-content>
        <mat-form-field class="material-mofication-normal stretch">
            <mat-label>Select required level of logs</mat-label>
            <mat-select [(ngModel)]="state.logLevel" (ngModelChange)="state.update()">
              <mat-option *ngFor="let level of state.LOG_LEVELS" [value]="level.value">
                {{level.caption}}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>Fibex</mat-card-title>
    <mat-card-subtitle>Attach fibex file (optional)</mat-card-subtitle>
    <mat-card-content>
        <div class="fibex" *ngIf="state.fibex.length > 0">
            <mat-chip-listbox aria-label="Fibex files">
                <mat-chip-option *ngFor="let file of state.fibex" (removed)="state.removeFibex(file)">
                    {{file.name}}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-option>
            </mat-chip-listbox>
        </div>    
        <mat-divider class="fibex-divider" *ngIf="state.fibex.length > 0"></mat-divider>
        <div class="fibex-controlls">
            <button mat-stroked-button (click)="state.addFibexFile()">
                <mat-icon aria-hidden="false" class="mini-button">note_add</mat-icon>
                Add
            </button>
        </div>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>Timezone</mat-card-title>
    <mat-card-subtitle>Select required timezone (optional). UTC is default</mat-card-subtitle>
    <mat-card-content>
        <span *ngIf="state.timezone !== undefined">
            {{state.timezone.name}} ({{state.timezone.utc}})
        </span>
        <div class="controlls">
            <button mat-stroked-button (click)="state.timezoneSelect()">Select</button>
        </div>
    </mat-card-content>
</mat-card>
