<div class="holder">
    <div class="wrapper" *ngFor="let provider of list">
        <mat-expansion-panel
            *ngIf="!provider.isEmpty() || provider.panels.nocontent.comp !== undefined"
            [disabled]="true"
            [hideToggle]="true"
            [expanded]="true"
            appEntitiesList
        >
            <mat-expansion-panel-header>
                <mat-panel-title>{{provider.panels.list.name}}</mat-panel-title>
                <mat-panel-description>{{provider.panels.list.desc}}</mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngIf="!provider.isEmpty()">
                <lib-containers-dynamic
                    [component]="provider.panels.list.comp"
                ></lib-containers-dynamic>
            </div>
            <lib-containers-dynamic
                *ngIf="provider.isEmpty() && provider.panels.nocontent.comp !== undefined"
                [component]="provider.panels.nocontent.comp"
            ></lib-containers-dynamic>
        </mat-expansion-panel>
    </div>
    <div class="wrapper" *ngIf="selected && selected.panels.details.comp !== undefined">
        <mat-expansion-panel
            [disabled]="true"
            [hideToggle]="true"
            [expanded]="true"
        >
            <mat-expansion-panel-header>
                <mat-panel-title>{{selected.panels.details.name}}</mat-panel-title>
                <mat-panel-description
                    >{{selected.panels.details.desc}}</mat-panel-description
                >
            </mat-expansion-panel-header>
            <lib-containers-dynamic
                [component]="selected.panels.details.comp"
            ></lib-containers-dynamic>
        </mat-expansion-panel>
    </div>
</div>
<div class="controlls">
    <button mat-icon-button color="primary" (click)="onShowPresets($event)">
        <mat-icon>menu_open</mat-icon>
    </button>
</div>
<app-sidebar-entities-bin [providers]="providers"></app-sidebar-entities-bin>
