@import '../../../../styles/variables.less';

:host {
    display: block;
    width: 100%;
    & div.wrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        & span.left {
            flex: auto;
            font-size: 14px;
        }
        & mat-icon {
            margin-left: 12px;
            margin-right: 0px;
            width: 16px;
            height: 16px;
            font-size: 16px;
            opacity: 0.01;
            transition: opacity ease-in-out 150ms;
            &[data-pinned="no"] {
                color: @scheme-color-3;
            }
            &[data-pinned="yes"] {
                color: @scheme-color-1;
            }
            &:hover {
                color: @scheme-color-0;
                cursor: default;
            }
        }
    }
    &:hover {
        & div.wrapper {
            & mat-icon {
                opacity: 1;
            }    
        }
    }
}
