---
language: rust

rust: stable

env:
  - USE_HARD_LINKS=false

jobs:
  include:
    - stage: "Build for mac"
      os: osx
      install:
        - nvm install 10.16.3
        - nvm use 10.16.3
      script:
        - rake full_pipeline[mac]
      before_deploy:
        - export CHIPMUNK_VERSION=$(cat application/electron/package.json | sed -n 3p | cut -d '"' -f 4)
      deploy: &deploy_base
        provider: releases
        api_key: $GITHUB_TOKEN
        draft: true
        skip_cleanup: true
        on:
          tags: true
        file: application/electron/dist/release/chipmunk@${CHIPMUNK_VERSION}-darwin-portable.tgz
    - stage: "Build for linux"
      os: linux
      install:
        - nvm install 10.16.3
        - nvm use 10.16.3
      script:
        - rake full_pipeline[linux]
      before_deploy:
        - export CHIPMUNK_VERSION=$(cat application/electron/package.json | sed -n 3p | cut -d '"' -f 4)
      deploy:
        <<: *deploy_base
        file: application/electron/dist/release/chipmunk@${CHIPMUNK_VERSION}-linux-portable.tgz
    - stage: "Build for windows"
      os: windows
      sudo: required
      before_install:
        - PATH=%PATH%;C:\Program Files\nodejs;C:\nodejs
      install:
        - msiexec.exe /a https://nodejs.org/dist/latest-v10.x/node-v10.16.3-x64.msi /qn /quiet
        - set PATH=%PATH%;C:\Program Files\nodejs;C:\nodejs
      script:
        - rake full_pipeline[win]
      before_deploy:
        - export CHIPMUNK_VERSION=$(cat application/electron/package.json | sed -n 3p | cut -d '"' -f 4)
      deploy:
        <<: *deploy_base
        file: application/electron/dist/release/chipmunk@${CHIPMUNK_VERSION}-win64-portable.tgz
        draft: false

notifications:
  email:
    recipients:
      - arthur.braga@esrlabs.com
      - dmitry.astafyev@esrlabs.com
      - oliver.mueller@esrlabs.com
    on_success: never
