dialog-settings-manager{
    position    : absolute;
    display     : block;
    top         : 0.5rem;
    left        : 0.5rem;
    bottom      : 0.5rem;
    right       : 0.5rem;
    overflow    : hidden;
    .settings-manager-tabs{
        position    : absolute;
        width       : 100%;
        top         : 0;
        bottom      : 2.2rem;
        left        : 0;
        overflow-x  : hidden;
        overflow-y  : auto;
    }
    .settings-manager-controls{
        position    : absolute;
        width       : 100%;
        bottom      : 0rem;
        left        : 0;
        height      : 2.3rem;
        white-space : nowrap;
        text-align  : right;
        overflow    : hidden;
    }
}