@import '../../../../theme/variables.less';

& input.edit {
    margin: 0 6px;
    padding: 0;
    border-bottom: dashed 1px @scheme-color-1;
    flex: auto;
    white-space: nowrap;
    color: @scheme-color-0;
}

& .mat-stroked-button {
    position: relative;
    float: right;
    margin: 6px;
}
