<div *ngIf="coors !== undefined" 
    [attr.class]="'wrapper ' + (manipulation ? 'manipulation' : '')" 
    [ngStyle]="{'transform': 'translate3d(' + coors.left + 'px,' + coors.top + 'px,0)', 'width': coors.width + 'px', 'height': coors.height + 'px'}">
    <div class="caption">
        <span class="move-button fas fa-bars" (mousedown)="onMouseDown($event, 'move')"></span>
        <p class="caption">{{dock.caption}}</p>
        <span class="close-button fas fa-times"></span>
    </div>
    <div class="content"></div>
    <div class="top-border" (mousedown)="onMouseDown($event, 'top')"></div>
    <div class="right-border" (mousedown)="onMouseDown($event, 'right')"></div>
    <div class="bottom-border" (mousedown)="onMouseDown($event, 'bottom')"></div>
    <div class="left-border" (mousedown)="onMouseDown($event, 'left')"></div>
</div>