@import '../../../../theme/variables.less';

:host {
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    overflow: hidden;
    & div.list{
        position: absolute;
        padding: 0;
        margin: 0;
        bottom: 2.5rem;
        right: 0;
        left: 0;
        top: 1rem;
        overflow-x: hidden;
        overflow-y: auto;
    }
    & div.controlls{
        position: absolute;
        padding: 0;
        margin: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 2.5rem;
        overflow: hidden;
        text-align: right;
        & button {
            margin-right: 8px!important;
            &:last-child {
                margin-right: 0!important;
            }
        }
    }
}
