<div class="list" (contextmenu)="_ng_onContexMenu($event)">
    <mat-expansion-panel
        [expanded]="true"
        [hideToggle]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>Available/detected formats:</mat-panel-title>
        </mat-expansion-panel-header>
        <p class="t-small color-scheme-2" *ngIf="_ng_formats.length === 0">No formats are detected</p>
        <app-views-measurement-format *ngFor="let format of _ng_formats"
            (contextmenu)="_ng_onContexMenu($event, format)"
            [format]="format"></app-views-measurement-format>
    </mat-expansion-panel>
    <span class="slitter"></span>
    <mat-expansion-panel
        [expanded]="false">
        <mat-expansion-panel-header>
            <mat-panel-title>{{_ng_getDefaultsTitle()}}</mat-panel-title>
        </mat-expansion-panel-header>
        <app-views-measurement-defaults [controller]="controller"></app-views-measurement-defaults>
    </mat-expansion-panel>
</div>
<div class="controlls">
    <button mat-icon-button color="primary" aria-label="Add Format" (click)="_ng_onAddFormat()">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="primary" aria-label="Reset & Detect" (click)="_ng_onResetAndDetect()">
        <mat-icon>refresh</mat-icon>
    </button>
</div>
