@import '../../../../theme/scheme.less';

:host {
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    height: 16px;
    max-height: 16px;
    white-space: nowrap;
    & span.source {
        display: inline-block;
        position: relative;
        width: 5rem;
        overflow: hidden;
        line-height: 13px;
        height: 16px;
        max-height: 16px;
        font-size: 12px;
        vertical-align: top;
    }
    & span.number{
        display: inline-block;
        position: relative;
        width: 5rem;
        overflow: hidden;
        line-height: 13px;
        height: 16px;
        max-height: 16px;
        font-size: 12px;
        vertical-align: top;
    }
    & p.row {
        display: inline-block;
        position: relative;
        font-family: monospace;
        font-size: 13px;
        font-variant-numeric: tabular-nums;
        padding: 0;
        margin: 0;
        line-height: 16px;
        height: 16px;
        max-height: 16px;
        white-space: pre;
        vertical-align: top;
    }
    
}