@import '../../theme/variables.less';
@import '../../theme/support.less';
@import '../../theme/borders.less';

:host {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    .gradient(linear; darken(@scheme-color-5, 2%), lighten(@scheme-color-5, 2%));
    .border-based-5;
    & ul.apps{
        position: absolute;
        display: block;
        top:0;
        width: 50%;
        height: 100%;
        overflow: hidden;
        list-style: none;
        padding: 0;
        margin: 0;
        white-space: nowrap;
        &.left{
            left:0;
            text-align: left;
        }
        &.right{
            left:50%;
            text-align: right;
        }
        & li.app {
            position: relative;
            display: inline-block;
            height: 100%;
            width: auto;
            text-align: left;
            padding: 0;
            margin: 0;
            vertical-align: top;
        }
    }
}