@import '../../../styles/variables.less';


:host {
    position: relative;
    display: block;
    width: 100%;
    & div.controlls {
        text-align: right;
        color: @scheme-color-0;
        margin-top: 12px;
        white-space: nowrap;
        overflow: hidden;
        & button {
            margin-left: 12px;
        }
    }
}