<app-transport-udp-details *ngIf="source.is().udp" [source]="source" [session]="session" [observe]="observer"></app-transport-udp-details>
<app-transport-tcp-details *ngIf="source.is().tcp" [source]="source" [session]="session" [observe]="observer"></app-transport-tcp-details>
<app-transport-serial-details *ngIf="source.is().serial" [source]="source" [session]="session" [observe]="observer"></app-transport-serial-details>
<app-transport-process-details *ngIf="source.is().process" [source]="source" [session]="session" [observe]="observer"></app-transport-process-details>
<app-transport-file-details *ngIf="source.is().file" [source]="source" [session]="session" [observe]="observer"></app-transport-file-details>
<div class="controlls" *ngIf="!isTextFile()">
    <button mat-stroked-button (click)="ngStop()" *ngIf="visibility().stop()">Stop</button>
    <button mat-stroked-button (click)="ngRestart()" *ngIf="visibility().restart()">Restart</button>
    <button mat-stroked-button (click)="ngClone()" *ngIf="visibility().parameters()">Parameters</button>
</div>
