<mat-selection-list [multiple]="false">
  <mat-list-option *ngFor="let timezone of timezones()" (click)="ngOnSelect(timezone)">
    <div class="timezone">
      <span class="name" [innerHTML]="safeHtml(timezone.htmlName)"></span>
      <span class="spacer"></span>
      <span class="utc t-medium color-scheme-3" [innerHTML]="safeHtml(timezone.htmlUtc)"></span>  
    </div>
  </mat-list-option>
</mat-selection-list>
<div class="filter t-medium" *ngIf="!state.filter.isEmpty()">{{state.filter.value()}}</div>
