<div class="info-container">
    <mat-spinner *ngIf="_ng_progress()" [diameter]="32" mode="indeterminate"></mat-spinner>
    <p *ngIf="_ng_noData()" class="t-medium color-scheme-2">No Data</p>
</div>
<div [attr.class]="'container filters ' + (_ng_filters === undefined ? 'hidden' : '')"
     [ngStyle]="{'width': (_ng_width - _ng_filtersLeft) + 'px', 'height': _ng_height + 'px', 'margin-left': _ng_filtersLeft + 'px'}"
     (click)="_ng_onClick($event)"
     (contextmenu)="_ng_onContexMenu($event)">
    <canvas [attr.id]="'view-chart-canvas-filters-' + service.getSessionGuid()"></canvas>
</div>
<div [attr.class]="'container charts ' + (_ng_charts === undefined ? 'hidden' : '')" 
     [ngStyle]="{'width': _ng_width + 'px', 'height': _ng_height + 'px'}"
     (click)="_ng_onClick($event)"
     (contextmenu)="_ng_onContexMenu($event)">
    <canvas [attr.id]="'view-chart-canvas-charts-' + service.getSessionGuid()"></canvas>
</div>
