<div [attr.class]="'container filters ' + (_ng_filters === undefined ? 'hidden' : '')"
     [ngStyle]="{'width': _ng_width + 'px', 'height': _ng_height + 'px'}"
     (click)="_ng_onClick($event)"
     (contextmenu)="_ng_onContexMenu($event)">
    <canvas id="view-chart-canvas-filters"></canvas>
</div>
<div [attr.class]="'container charts ' + (_ng_charts === undefined ? 'hidden' : '')" 
     [ngStyle]="{'width': _ng_width + 'px', 'height': _ng_height + 'px'}"
     (click)="_ng_onClick($event)"
     (contextmenu)="_ng_onContexMenu($event)">
    <canvas id="view-chart-canvas-charts"></canvas>
</div>