[package]
name = "stypes"
description = "Shared types"
version.workspace = true
edition.workspace = true

[lints]
workspace = true 

[features]
test_and_gen = []
rustcore = [
    "dep:tokio",
    "dep:walkdir",
    "dlt-core/fibex",
    "dlt-core/statistics",
    "dlt-core/serialization",
    "dep:anyhow",
]
nodejs = [
    "dep:node-bindgen"
]

[dependencies]
serde = { workspace = true , features = ["derive"] }
dlt-core = { workspace = true, features = ["fibex", "serialization"] }
bincode = "1.3"
extend = { path = "../tools/extend"}
uuid = { workspace = true, features = ["serde"] }
tokio = { workspace = true, optional = true }
node-bindgen = { git = "https://github.com/infinyon/node-bindgen.git", branch="master", optional = true}
thiserror.workspace = true
walkdir = { workspace = true, optional = true }
anyhow = { workspace = true, optional = true }

[dev-dependencies]
tokio = { workspace = true  }
walkdir = { workspace = true }
node-bindgen = { git = "https://github.com/infinyon/node-bindgen.git", branch="master"  }
proptest = { workspace = true }
paste = "1.0"
uuid = { workspace = true, features = ["serde", "v4"] }
remove_dir_all = "1.0"
ts-rs = { version = "10.1", features = ["uuid-impl"] }

