<div class="container">
  <label>Baud Rate:</label>
  <mat-form-field class="baudrate">
    <mat-select (selectionChange)="_ng_onChange($event)">
        <mat-option #baudRateOption *ngFor="let baudRate of _ng_baudRate" [value]="baudRate">
            {{baudRate}}
        </mat-option>
    </mat-select>
  </mat-form-field>
  <input matInput
  *ngIf="_ng_custom"
  #baudRateInput
  tabindex="1"
  type="number"
  placeholder="Type a custom baud rate"
  aria-label="Command"
  matInput
  (keyup)="_ng_onKeyup()"
  />
</div>
<div class="container">  
  <label>Data Bits:</label>
  <mat-radio-group [(ngModel)]="state.dataBits">
    <mat-radio-button *ngFor="let dataBits of _ng_dataBits" [value]="dataBits.value">{{dataBits.name}}</mat-radio-button>
  </mat-radio-group>
</div>
<div class="container">  
  <label>Flow Control:</label>
  <mat-radio-group [(ngModel)]="state.flowControl">
    <mat-radio-button *ngFor="let flowControl of _ng_flowControl" [value]="flowControl.value">{{flowControl.name}}</mat-radio-button>
  </mat-radio-group>
</div>
<div class="container">  
  <label>Parity:</label>
  <mat-radio-group [(ngModel)]="state.parity">
    <mat-radio-button *ngFor="let parity of _ng_parity" [value]="parity.value">{{parity.name}}</mat-radio-button>
  </mat-radio-group>
</div>
<div class="container">  
  <label>Stop Bits:</label>
  <mat-radio-group [(ngModel)]="state.stopBits">
    <mat-radio-button *ngFor="let stopBits of _ng_stopBits" [value]="stopBits.value">{{stopBits.name}}</mat-radio-button>
  </mat-radio-group>
</div>
