@import '../../../../theme/variables.less';

:host {
    & .controls {
        display: flex;
        justify-content: space-between;
    }
    & .filename {
        color: @scheme-color-3;
        flex-direction: column;
        display: flex;
        justify-content: center;
        overflow: hidden;
        font-family: Roboto, 'Helvetica Neue', sans-serif;
        font-size: 12px;
        direction: rtl;
        white-space: nowrap;
    }
}
