@import '../../../../theme/variables.less';

:host {
    & .controls {
        display: flex;
        justify-content: flex-end;
    }
    & div.filename-holder {
        flex-direction: column;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
    & span.filename {
        color: #979797;
        overflow: hidden;
        font-family: Roboto, 'Helvetica Neue', sans-serif;
        font-size: 12px;
        direction: rtl;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
