<cdk-virtual-scroll-viewport *ngIf="_ng_preview.length > 0" class="preview" itemSize="16">
    <p class="preview-row t-console" *cdkVirtualFor="let row of _ng_preview" [innerHTML]="row"></p>
</cdk-virtual-scroll-viewport>

<div class="format">
    <span class="slitter"></span>
    <p class="t-normal format" [innerHTML]="_ng_getFormatStr()"></p>
</div>

<span class="slitter" *ngIf="file.scale !== undefined"></span>

<p class="t-small range" *ngIf="file.scale !== undefined">
    <span class="left">{{file.scale.min}}</span>
    <span class="middle"> - </span>
    <span class="right">{{file.scale.max}}</span>
</p>

<span class="slitter"></span>

<mat-form-field class="outline-native" appearance="outline">
    <mat-label>Format</mat-label>
    <input  type="text" 
            aria-label="Format"
            [(ngModel)]="_ng_format"
            (ngModelChange)="_ng_onFormatChange()"
            [errorStateMatcher]="_ng_format_error"
            matInput>
    <mat-error *ngIf="!_ng_format_error.isValid()">
        {{_ng_format_error.getError()}}
    </mat-error>
</mat-form-field>

<span class="slitter"></span>

<mat-form-field class="outline-native" appearance="outline">
    <mat-label>Year (YYYY)</mat-label>
    <input  type="text" 
            [(ngModel)]="_ng_year"
            (ngModelChange)="_ng_onYearChange()"
            matInput>
</mat-form-field>

<span class="slitter"></span>

<mat-form-field class="outline-native" appearance="outline">
    <mat-label>Offset in ms</mat-label>
    <input  type="number" 
            [(ngModel)]="_ng_offset"
            (ngModelChange)="_ng_onOffsetChange()"
            matInput>
</mat-form-field>

<span class="slitter" *ngIf="_ng_state !== 'tested'"></span>

<div class="controlls" *ngIf="_ng_state !== 'tested'">
    <button mat-stroked-button color="primary" (click)="_ng_onApply()" [disabled]="!_ng_format_error.isValid()">
        <mat-spinner *ngIf="_ng_state === 'testing'" [diameter]="32" mode="indeterminate"></mat-spinner>
        <span *ngIf="_ng_state !== 'testing'">Apply</span>
    </button>
    <button mat-stroked-button color="primary" (click)="_ng_onApply('with_errors')" [disabled]="!_ng_format_error.isValid()">
        <mat-spinner *ngIf="_ng_state === 'testing'" [diameter]="32" mode="indeterminate"></mat-spinner>
        <span *ngIf="_ng_state !== 'testing'">Apply for Errors</span>
    </button>
    <button mat-stroked-button color="primary" (click)="_ng_onApply('all')" [disabled]="!_ng_format_error.isValid()">
        <mat-spinner *ngIf="_ng_state === 'testing'" [diameter]="32" mode="indeterminate"></mat-spinner>
        <span *ngIf="_ng_state !== 'testing'">Apply for All</span>
    </button>
</div>