<canvas #canvas [attr.width]="rect.width" [attr.height]="rect.height"></canvas>
<span class="pointer" *ngIf="x !== undefined" [ngStyle]="{'left': x}">
    <span class="label range" *ngIf="range !== undefined">{{range.from}} - {{range.to}}</span>
    <span class="label" [ngStyle]="{'background': label.color}" *ngFor="let label of labels">
        <span class="wrapped" *ngIf="!label.candle">
            <span class="row">{{label.position}}:</span>
            <span class="value"> {{label.value}}</span>
        </span>
        <span class="wrapped" *ngIf="label.candle">
            <span class="row">{{label.position}}:</span>
            <span class="value"> {{label.value}}</span>
            <span class="changes"> ({{label.min}}-{{label.max}})</span>
        </span>
    </span>
    <span class="label more" *ngIf="cutted !== 0">and more {{cutted}}</span>
</span>