@import '../../../theme/scheme.less';


:host {
    position: absolute;
    display: block;
    padding: 0 0.5rem 0 0;
    margin: 0;
    bottom: 0.5rem;
    right: 0;
    left: 0.5rem;
    top: 0.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    & p.caption{
        color: @scheme-color-2;
    }
    & p.error{
        color: @scheme-color-error;
    }
    & p.report{
        color: @scheme-color-3;
    }
    & p.warning{
        color: @scheme-color-warning;
    }
    & ul.files{
        position: relative;
        display: block;
        padding: 0;
        margin: 0;
        list-style: none;
        height: calc(100% - 56px);
        overflow-x: hidden;
        overflow-y: auto;
        box-shadow: 0 0 1rem rgba(0,0,0,0.4) inset;
        border-top: 1px dotted @scheme-color-3;
        border-bottom: 1px dotted @scheme-color-3;
        & li.file{
            position: relative;
            display: block;
            padding: 0.25rem 0;
            margin: 0.25rem 0;
            list-style: none;
            border-bottom: thin dotted @scheme-color-4;
            &:last-child{
                border-bottom: none;
            }
        }
    }
    & div.controlls{
        position: relative;
        width: 100%;
        text-align: right;
        white-space: nowrap;
        & .small-button:last-child{
            margin-right: 0;
        }
        & .small-button.warning{
            color: @scheme-color-warning;
        }
    }
    & div.progress-testing{
        position: relative;
        max-width: 3rem;
        width: 100%;
        margin: 0 auto;
        height: 1rem;
    }
}
