<mat-expansion-panel
    [disabled]="true"
    [expanded]="true"
    [hideToggle]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>Files</mat-panel-title>
    </mat-expansion-panel-header>
    <app-sidebar-app-files-list
        *ngIf="_ng_controller !== undefined"
        [viewMode]="_ng_viewMode"
        [timeLineVisibility]="_ng_timeLineVisibility"
        [select]="_ng_select"
        [controller]="_ng_controller">
    </app-sidebar-app-files-list>
</mat-expansion-panel>

<span class="slitter" *ngIf="_ng_selected !== undefined"></span>

<mat-expansion-panel
    *ngIf="_ng_selected !== undefined"
    [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>Details</mat-panel-title>
    </mat-expansion-panel-header>
    <app-sidebar-app-files-details [file]="_ng_selected" [controller]="_ng_controller">
    </app-sidebar-app-files-details>
</mat-expansion-panel>

<span class="slitter"></span>

<mat-expansion-panel
    [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>Manage</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="controlls">
        <button mat-stroked-button color="primary" (click)="_ng_onAdd()" [disabled]="_ng_disabled()">
            <mat-spinner *ngIf="_ng_state === 'discover'" [diameter]="32" mode="indeterminate"></mat-spinner>
            Add File(s)
        </button>
        <button appFocusDefaultButton mat-stroked-button color="primary" (click)="_ng_onMerge()" [disabled]="_ng_disabled()">
            <mat-spinner *ngIf="_ng_state === 'merge'" [diameter]="32" mode="indeterminate"></mat-spinner>
            Merge
        </button>
    </div>
</mat-expansion-panel>
