<p class="caption t-normal">Select files to be merged. Timestamp and datetime format will be detected automaticaly.</p>
<ul class="files">
    <li class="file" *ngFor="let file of _files">
        <app-sizebar-app-files-item [file]="file.file" 
                                    [name]="file.name"
                                    [parser]="file.parser"
                                    [zones]="_zones"
                                    [onRemove]="_ng_onFileRemove.bind(this, file.file)"></app-sizebar-app-files-item>
    </li>
</ul>
<p class="error t-small">{{_ng_error}}</p>
<p class="report t-small">{{_ng_report}}</p>
<div class="controlls" *ngIf="!_ng_busy">
    <span class="small-button" (click)="_ng_onAddFile()">Add file</span>
    <span *ngIf="_files.length > 1" class="small-button" (click)="_ng_onMerge()">Merge</span>
</div>
<div class="progress-testing" *ngIf="_ng_busy">
    <lib-primitive-spinner-regular></lib-primitive-spinner-regular>
</div>