<div class="input-holder">
    <common-input #input [type]="type" [value]="value" [placeholder]="placeholder" [handles]="handles" [preventUpDown]="true"></common-input>
</div>
<div class="buttons">
    <div [attr.class]="'icon icon-2x2 ' + (lastReqExp !== null ? 'active' : '')" (click)="_onAddRequest()"><span class="fa fa-plus" title="Save"></span></div>
    <div [attr.class]="'icon icon-2x2 ' + (lastReqExp !== null ? 'active' : '')" (click)="_onDropRequest()"><span class="fa fa-times-circle-o" title="Drop"></span></div>
</div>