<div class="view-charts-manager-list">
    <ul>
        <li *ngFor="let set of outdata;">
            <view-controller-chart-manager-set [GUID]="set.GUID" [removeCallback]="set.remove"></view-controller-chart-manager-set>
        </li>
    </ul>
</div>
<div class="view-charts-manager-buttons">
    <button-flat-text [caption]="'Import Sets'" [handle]="onImportSets"></button-flat-text>
    <button-flat-text [caption]="'Export Sets'" [handle]="onExportSets"></button-flat-text>
</div>
<a #exporturl [attr.href]="exportdata.url" class="export-url" [attr.download]="exportdata.filename"></a>