@import '../../../../styles/variables.less';
:host {
    position: absolute;
    display: block;
    bottom: 0;
    border-radius: 3px;
    margin: 8px 0px;
    padding: 16px 0;
    text-align: center;
    width: 100%;
    pointer-events: none;
    overflow: hidden;
    opacity: 0.001;
    height: 0px;
    &[data-dragging="true"] {
        background: @scheme-bk-color-0;
        pointer-events: all;
        opacity: 1;
        height: auto;
    }
    & p {
        color: @scheme-color-2;
    }
    & mat-icon {
        position: relative;
        display: inline-block;
        color: @scheme-color-accent;
    }
}
