<ul *ngIf="isFavoriteActive" class="left">
    <ng-container *ngFor="let favorite of favorites; let i = index;">
        <li *ngIf="favorite.icon !== null" class="icon" (click)="onAddFavorite(favorite)"><span [attr.class]="'fa ' + favorite.icon"></span></li>
        <li *ngIf="favorite.icon === null" class="mark" (click)="onSelectFavorite(favorite)"><span>{{favorite.mark}}</span></li>
    </ng-container>
</ul>
<div [attr.class]="'middle' + (middleComponent !== null ? ' component' : '')" (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)">
    <span *ngIf="middleComponent === null">{{description}}</span>
    <span #middle></span>
</div>
<ul class="right">
    <li *ngFor="let item of menu; let i = index" [attr.class]="'icon' + (item.active ? ' active' : '') + (item.disable ? ' disable' : '')" (click)="onMenuItemClick(i)" [attr.title]="item.hint"><span [attr.class]="'fa ' + item.icon"></span></li>
</ul>
