@import '../../../../theme/variables.less';


:host {
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    overflow: auto;
    & span.slitter{
        position: relative;
        display: block;
        height: 8px;
    }
    & div.controlls{
        position: relative;
        width: 100%;
        text-align: right;
        margin-top: 8px;
        & * {
            margin-right: 8px;
            &:last-child {
                margin-right: 0;
            }
        }
        & > button {
            margin-left: 8px;
            & mat-spinner{
                display: inline-block;
                margin-right: 8px;
            }
        }
    }

}