@import '../../../../theme/variables.less';
@import '../../../../theme/support.less';

app-views-output-row-columns {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    line-height: 16px;
    height: 16px;
    max-height: 16px;
    white-space: pre;
    vertical-align: top;
    user-select: text;
    cursor: text;
    & span.column{
        position: relative;
        font-family: 'console', monospace;
        font-size: 13.5px;
        font-variant-numeric: tabular-nums;
        padding: 0 6px!important;
        box-sizing: content-box;
        margin: 0;
        line-height: 16px;
        height: 16px;
        max-height: 16px;
        white-space: pre;
        vertical-align: top;
        color: @scheme-color-0;
        font-weight: 500;
        user-select: text;
        cursor: text;
        border-right: 1px solid @scheme-color-4;
        overflow: hidden;
        &:after{
            position: absolute;
            content: '';
            display: block;
            height: 100%;
            right: 0;
            top:0;
            width: 16px;
            background: linear-gradient(90deg, rgba(0,0,0,0) 0%, @scheme-color-5 100%);
        }
        &.hide {
            padding: 0!important;
            border-right: none;
            margin-right: -1px;
            opacity: 0.0001;
            width: 1px;
            &::after{
                display: none;
            }
        }
        &.highlighted{
            &::after{
                display: none;
            }
        }
    }
}
div.wrapper.selected {
    app-views-output-row-columns {
        & span.column::after{
            display: none;
        }
    }
}
