@import '../../styles/variables.less';

:host{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    div.controls {
        position: absolute;
        top: 0;
        left: 0;
        height: 32px;
        width: ~"calc(100% - 2px)";
    }
    div.tree {
        position: absolute;
        top:32px;
        left:0;
        width: 100%;
        bottom: 0;
        overflow: auto;
        & mat-tree {
            background: none;
        }
        & mat-tree-node {
            position: relative;
            min-height: 24px;
            border: solid thin rgba(0,0,0,0);
            &[data-selected="true"] {
                &:after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 2px;
                    height: 100%;
                    left: 0;
                    top:0;
                    background: @scheme-color-3;
                }
            }
            &:hover {
                background: @scheme-color-hover;
            }
            & button {
                line-height: 24px;
                width: 24px;
                height: 24px;
            }
            & mat-icon {
                height: 18px;
                width: 18px;
                line-height: 18px;
                font-size: 18px;
            }
            & mat-progress-bar {
                position: absolute;
                height: 2px;
                bottom: 0;                
            }
            & span.name {
                position: relative;
                white-space: nowrap;
                display: flex;
                &.no-icon {
                    padding-left: 21px;
                    color: @scheme-color-2;
                }
                & mat-icon {
                    margin-right: 4px;
                    color: @scheme-color-2;
                }
            }
        }
    }

}