<div class="controls">
  <app-filter-input [filter]="state.filter"></app-filter-input>
  <span [attr.class]="'small-icon-button codicon codicon-debug-restart'" (click)="reload()"></span>
  <span [attr.class]="'small-icon-button codicon codicon-new-folder'" (click)="add()"></span>
</div>
<div #container class="tree" (scroll)="onScrolling($event)" tabindex="100">
  <div class="greeting" *ngIf="state.isEmpty()">
    <p class="t-small">You can add some locations to your favorites. It will give you a way to quickly browse files from these locations.</p>
    <div class="buttons">
      <button mat-stroked-button (click)="add()">Add Folder(s) to Favorites</button>
    </div>
  </div>
  <mat-tree [dataSource]="state.scheme.source" [treeControl]="state.scheme.tree" >
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding
      [matTreeNodePaddingIndent]="8"
      [attr.data-selected]="node.item.selected"
      [attr.data-exists]="node.item.exists"
      (click)="state.select(node)"
      (dblclick)="onDefaultAction(node.item)"
      [style.display]="!node.isVisible() ? 'none' : ''"
      (contextmenu)="ngItemContextMenu($event, node.item)">
      <button mat-icon-button disabled></button>
      <span class="name">
        <span class="ext" *ngIf="node.item.ext !== undefined">{{node.item.ext}}</span>
        <span [innerHTML]="node.item.html()"></span>
      </span>
    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding 
      [matTreeNodePaddingIndent]="8"
      (contextmenu)="ngItemContextMenu($event, node.item)"
      (click)="state.select(node)"
      [style.display]="!node.isVisible() ? 'none' : ''"
      [attr.data-selected]="node.item.selected"
      [attr.data-exists]="node.item.exists">
      <button mat-icon-button
              [attr.aria-label]="'Toggle ' + node.item.getName()" matTreeNodeToggle>
        <mat-icon class="mat-icon-rtl-mirror">
          {{state.scheme.tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <span class="name">
        <span [innerHTML]="node.item.html()"></span>
      </span>
      <mat-progress-bar *ngIf="node.isLoading"
                        mode="indeterminate"></mat-progress-bar>
    </mat-tree-node>
  </mat-tree>  
</div>