<div class="requests-wrapper">
    <p class="caption t-small">{{_ng_filename === undefined ? 'Filters' : _ng_filename}}</p>
    <ul #list [attr.class]="'requests '" (focus)="_ng_onFocus()" (blur)="_ng_onBlur()" tabindex="1">
        <li [attr.class]="'request ' + (_ng_selectedIndex === i ? 'selected' : '') + ' ' + (request.request.active ? '' : 'inactive')"
        (contextmenu)="_ng_onContexMenu($event, request)"
        *ngFor="let request of _ng_requests; let i = index;">
            <app-sidebar-app-search-request [request]="request"></app-sidebar-app-search-request>
        </li>
    </ul>
</div>

<div class="controlls" *ngIf="_ng_requests.length > 0">
    <span class="ref-button" (click)="_ng_onRemoveAll()">Clear</span>
</div>

<div class="details">
    <app-sidebar-app-search-request-details [request]="_ng_selected"></app-sidebar-app-search-request-details>
</div>
