@import '../../../../theme/variables.less';

:host {
    & mat-panel-description {
        overflow: hidden;
    }
    & .mat-icon {
        color: @scheme-color-3;
        font-size: 19px;
    }
    & div.pwd {
        display: flex;
        & span.path {
            width: 100%;
            direction: rtl;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    & div.buttons {
        white-space: nowrap;
        text-align: right;
        & .button {
            display: inline-block;
        }
    }
}
