<mat-expansion-panel [(expanded)]="_ng_expanded">
    <mat-expansion-panel-header>
        <mat-panel-title>Environment</mat-panel-title>
        <mat-panel-description *ngIf="!_ng_expanded">{{service.getPreset(this.service.selectedPresetTitle).information.pwd}}</mat-panel-description>
    </mat-expansion-panel-header>
    <app-sidebar-app-shell-environment-preset [service]="service"></app-sidebar-app-shell-environment-preset>
    <div class="pwd">
        <mat-icon (click)="_ng_onSetPwd()">folder_open</mat-icon>
        <span class="path">{{service.getPreset(this.service.selectedPresetTitle).information.pwd}}</span>
    </div>
    <mat-form-field>
        <mat-label>Shell</mat-label>
        <mat-select [(ngModel)]="_ng_selectedShell" (selectionChange)="_ng_onShellChange($event)">
            <mat-option *ngFor="let shell of service.shells" [value]="shell">
                {{shell}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="buttons">
        <button mat-stroked-button class="button" color="primary" (click)="_ng_onEnvironment()">Environment variables</button>
    </div>
</mat-expansion-panel>
