<p class="caption t-normal">Select files to be concatenated.</p>
<div class="files" (contextmenu)="_ng_onContexMenu($event, undefined)">
    <table *ngIf="_ng_files.length > 0" cdkDropList class="files-table" (cdkDropListDropped)="_ng_onResorted($event)">
        <tr class="app-sidebar-app-concat-files-file-row">
            <th [attr.class]="'t-small color-scheme-0'" (click)="_ng_sortBy('name')" colspan="2"><span [attr.class]="'sorted fas fa-caret-down ' + (_ng_sorting.abc ? 'revert' : '')" *ngIf="_ng_sorting.prop === 'name'"></span>Name</th>
            <th [attr.class]="'t-small color-scheme-0'" (click)="_ng_sortBy('size')"><span [attr.class]="'sorted fas fa-caret-down ' + (_ng_sorting.abc ? 'revert' : '')" *ngIf="_ng_sorting.prop === 'size'"></span>Size</th>
            <th [attr.class]="'t-small color-scheme-0'" (click)="_ng_sortBy('created')"><span [attr.class]="'sorted fas fa-caret-down ' + (_ng_sorting.abc ? 'revert' : '')" *ngIf="_ng_sorting.prop === 'created'"></span>Created</th>
            <th [attr.class]="'t-small color-scheme-0'" (click)="_ng_sortBy('changed')"><span [attr.class]="'sorted fas fa-caret-down ' + (_ng_sorting.abc ? 'revert' : '')" *ngIf="_ng_sorting.prop === 'changed'"></span>Changed</th>
        </tr>
        <tr cdkDrag [attr.class]="'app-sidebar-app-concat-files-file-row ' + (file.selected ? 'selected' : '')" *ngFor="let file of _ng_files" (click)="_ng_onSelect(file)" (contextmenu)="_ng_onContexMenu($event, file)">
            <td class="t-console color-scheme-2" [attr.title]="file.name">{{file.name}}</td>
            <td class="t-console color-scheme-2">{{(file.matches !== 0 ? file.matches : '-')}}</td>
            <td class="t-console color-scheme-2">{{(file.size / 1024 / 1024).toFixed(2)}} Mb</td>
            <td class="t-console color-scheme-2">{{file.createdStr}}</td>
            <td class="t-console color-scheme-2">{{file.changedStr}}</td>
        </tr>
    </table>
</div>
<div class="search" *ngIf="!_ng_busy">
    <lib-primitive-input [type]="'text'"
                         [value]="_ng_search"
                         [inlineErrors]="true"
                         [placeholder]="'search across file'" 
                         [validate]="_ng_onSearchValidate" 
                         [onEnter]="_ng_onSearchEnter"
                         [onChange]="_ng_onSearchChange"></lib-primitive-input>
</div>
<div class="controlls" *ngIf="!_ng_busy">
    <span class="small-button" (click)="_ng_onAddFile()">Add file</span>
    <span *ngIf="_ng_files.length > 1" class="small-button" (click)="_ng_onConcat()">Concat</span>
</div>
<div class="progress-testing" *ngIf="_ng_busy">
    <lib-primitive-spinner-regular></lib-primitive-spinner-regular>
</div>