@import '../../../../styles/variables.less';


:host {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    & div.title {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        left:0;
        right: 0;
        padding: 0 8px;
        background: @scheme-color-5;
        box-shadow: 0 3px 3px @scheme-color-7;
        height: 32px;
        overflow: hidden;
        & > * {
            margin: 0 8px;
        }
        span.filler {
            flex:auto;
            width: 100%;
            margin: 0;
        }
        p.info {
            color: @scheme-color-1;
            white-space: nowrap;
        }
    }
}