@import './variables.less';

& mat-slider {
    width: 100%;
}
& mat-form-field{
    width: 100%;
}
& mat-option.mat-option.small{
    position: relative;
    height: 1.5rem!important;
    line-height: 1.5rem!important;
    max-height: 1.5rem!important;
}

& mat-option.recent-requests {
    & span.mat-option-text {
        position: relative;
        padding: 0 0.5rem;
        & span.filename {
            display: inline-block;
            position: relative;
            font-weight: 600;
            padding: 0 0.5rem;
            vertical-align: top;
            color: @scheme-color-0;
        }
        & span.folder {
            display: inline-block;
            position: relative;
            max-width: 12rem;
            text-overflow: ellipsis;
            direction: rtl;
            overflow: hidden;
            color: @scheme-color-2;
            vertical-align: top;
        }
        & span.size {
            display: inline-block;
            position: relative;
            max-width: 12rem;
            text-overflow: ellipsis;
            overflow: hidden;
            color: @scheme-color-2;
            vertical-align: top;
        }
    }
}

.mat-autocomplete-panel .autocomplete-hide-label label.mat-form-field-label{
    transition: all 150ms linear;
    transform: none!important;
    opacity: 1;
}

.autocomplete-hide-label.mat-focused label.mat-form-field-label,
.autocomplete-hide-label.mat-form-field-should-float label.mat-form-field-label{
    transform: none!important;
    opacity: 0;
}

& mat-checkbox.small {
    line-height: 16px;
    & label.mat-checkbox-layout{
        line-height: 16px;
        display: inline-block;
        position: relative;
        align-items: baseline;
        vertical-align: top;
        & .mat-checkbox-inner-container{
            height: 12px;
            width: 12px;
            margin: 0;
            margin-right: 8px;
            display: inline-block;
            vertical-align: top;
            margin-top: 2px;
        }
        & .mat-checkbox-label{
            line-height: 16px;
            display: inline-block;
            vertical-align: top;
        }
    }
}

input.mat-input-element{
    color: @scheme-color-1;
    &:focus{
        color: @scheme-color-0;
    }
}

input.mat-input-element.standard{
    margin: 5px 0px;
    padding: 0 6px;
    border: thin @scheme-color-4 solid;
    box-sizing: border-box;
    width: 100%;
    height: 22px;
    background: none;
    color: @scheme-color-0;
    &:focus{
        background: @scheme-color-7;
    }
}

.mat-expansion-panel-header-description{
    padding-top: 3px;
    font-size: 12px;
}

& mat-form-field.outline{
    & .mat-form-field-infix{
        border: none;
    }
    & .mat-form-field-outline-start,
    & .mat-form-field-outline-end{
        border-width: 1px!important;
        border-color: @scheme-color-4;
        border-radius: 0;
    }
    &.mat-focused{
        & .mat-form-field-outline{
            background: @scheme-color-5;
        }
        & .mat-form-field-outline-start,
        & .mat-form-field-outline-end{
            border-color: fade(@scheme-color-accent, 60%);
        }
    }
}

& mat-form-field.outline-native{
    & .mat-form-field-wrapper {
        padding-bottom: 0!important;
    }
    & .mat-form-field-outline-start,
    & .mat-form-field-outline-end,
    & .mat-form-field-outline-gap{
        border-width: 1px!important;
        border-color: @scheme-color-4;
    }
    &.mat-focused{
        & .mat-form-field-outline{
            background: @scheme-color-5;
        }
        & .mat-form-field-outline-start,
        & .mat-form-field-outline-end,
        & .mat-form-field-outline-gap{
            border-color: @scheme-color-2;
        }
    }
}

& mat-form-field.regular{
    margin: 0 4px;
    width: 100%;
    &.no-margin{
        margin: 0 0;
        padding: 7px 0.1rem 0; 
    }
    & .mat-form-field-label-wrapper{
        overflow: visible;
    }
    & .mat-form-field-ripple{
        visibility: hidden;
    }
    & input,
    & label {
        padding: 0 0.5rem;
        width: ~"calc(100% - 1rem)";
        padding-top: 4px;
        & span{
            color: @scheme-color-2;
            font-size: 0.9rem;
        }
    }
    & .mat-form-field-flex{
        height: 31px;
    }
    & .mat-form-field-infix{
        margin: 4px 0 0 0;
        padding: 0;
    }
}
& div.mat-autocomplete-panel.regular{
    & mat-option {
        &.mat-active{
            background: fade(@scheme-color-accent, 40%);
        }
    }
}
& mat-form-field.recent-files{
    margin: 6px 4px;
    width: ~"calc(100% - 8px)";
}
& div.mat-autocomplete-panel.recent-files{
    margin-top: 8px;
}
& mat-option.recent-files {
    & span.mat-option-text {
        position: relative;
        padding: 0 0.5rem;
        display: flex;
        flex-flow: row;
        & span.filename {
            display: inline-block;
            position: relative;
            font-weight: 600;
            padding: 0 0.5rem;
            vertical-align: top;
            color: @scheme-color-0;
        }
        & span.folder {
            display: inline-block;
            position: relative;
            text-overflow: ellipsis;
            direction: rtl;
            overflow: hidden;
            color: @scheme-color-1;
            vertical-align: top;
            flex: auto;
        }
        & span.size {
            display: inline-block;
            position: relative;
            color: @scheme-color-1;
            vertical-align: top;
        }
        & span.filename > span,
        & span.folder > span {
            font-weight: bold;
            color: @scheme-color-accent;
            border-radius: 3px;
        }
    }
}
&.mat-snack-bar-container{
    max-width: 42vw!important;
}

button.mat-button-toggle-button {
    span.mat-button-toggle-label-content {
        line-height: 36px;
    }
}
