@import './variables.less';

.row span{
    display: inline-block;
    font-family: 'console', monospace;
    font-size: 13.5px;
    font-variant-numeric: tabular-nums;
    padding: 0;
    margin: 0;
    line-height: 16px;
    height: 16px;
    max-height: 16px;
    white-space: pre;
    vertical-align: top;
    font-weight: 500;
    &.match{
        background: @scheme-color-2;
        color: @scheme-color-5;
        font-weight: 600;
    }
    &.accent{
        background: @scheme-color-accent;
        color: @scheme-color-0;
        font-weight: 600;
    }
    &.timestampmatch{
        color:inherit;
        background: fade(@scheme-color-accent, 30%);
        cursor: default;
        position: relative;
        &:hover{
            background: fade(@scheme-color-accent, 60%);
            color: @scheme-color-0;
            font-weight: 600;
        }
        
    }
}
& span.injected-row-comment {
    background: @scheme-color-warning-light;
    color: @scheme-color-0;
    &.pending {
        background: @scheme-color-warning-dark;
    }
}
& .console-content,
& .console-content * {
    font-family: 'console', monospace;
    font-size: 13.5px;
    font-variant-numeric: tabular-nums;
    padding: 0;
    margin: 0;
    line-height: 16px;
    white-space: normal;
    font-weight: 500;
    user-select: text; 
}
/// Menlo, Monaco, "Courier New", monospace