<div [attr.class]="'wrapper ' + className + ' ' + (icon !== null ? 'as-icon' : 'as-caption')">
    <div [attr.class]="'button ' + (icon !== null ? 'icon' : '')">
        <span *ngIf="icon !== null" [attr.class]="'fa ' + icon"></span>
        <span *ngIf="icon === null" class="caption">{{caption}}</span>
    </div>
    <div class="list-wrapper-corrector">
        <div class="list-wrapper">
            <ul class="list">
                <li *ngFor="let item of items">
                    <p *ngIf="item.type === 'item'" (click)="item.handle()">
                        <span class="item-icon fa {{item.icon}}"></span>
                        <span class="item-caption">{{item.caption}}</span>
                    </p>
                    <div *ngIf="item.type === 'line'" class="line"></div>
                </li>
            </ul>
        </div>
    </div>
</div>