<ng-container *ngIf="file === undefined">
    <span>No data about file</span>
</ng-container>
<ng-container *ngIf="file !== undefined">
    <span [attr.class]="('ext ' + (isActive() ? 'active' : ''))">{{file.ext}}</span>
    <div class="info">
        <span class="name t-normal">{{file.name}}</span>
        <span class="path t-normal">{{file.path}}</span>
    </div>
    <div class="controlls" >
        <span class="small-icon-button codicon codicon-empty-window" *ngIf="element.source.observer === undefined" (click)="openAsNew($event)"></span>
        <span class="small-icon-button codicon codicon-stop-circle" *ngIf="element.source.observer !== undefined" (click)="stop($event)"></span>
    </div>
</ng-container>
