@import '../../../styles/variables.less';


:host {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 42px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    & span {
        color: @scheme-color-2;
        font-weight: 500;
        padding-right: 12px;
        font-size: 12px;
    }
    & mat-icon {
        font-size: 16px;
        height: 16px;
        width: 16px;
        margin: 0;
        color: @scheme-color-2;
        padding: 0 12px 0 0;
    }
}