<ng-container *ngIf="this.nature().File()"><mat-icon> insert_drive_file</mat-icon></ng-container>
<ng-container *ngIf="this.nature().Concat()"><mat-icon>folder_open</mat-icon></ng-container>
<ng-container *ngIf="this.nature().Process()"><mat-icon>code</mat-icon></ng-container>
<ng-container *ngIf="this.nature().Serial()"><mat-icon>usb</mat-icon></ng-container>
<ng-container *ngIf="this.nature().TCP()"><mat-icon>compare_arrows</mat-icon></ng-container>
<ng-container *ngIf="this.nature().UDP()"><mat-icon>compare_arrows</mat-icon></ng-container>
<span *ngIf="this.parser().Dlt()">DLT</span>
<span *ngIf="this.parser().SomeIp()">SomeIp</span>