[package]
name = "sources"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-stream = "0.3"
async-trait = "0.1"
buf_redux = "0.8"
crossbeam-channel = "0.5"
etherparse = "0.10"
futures = "0.3"
indexer_base = { path = "../indexer_base" }
log = "0.4"
parsers = { path = "../parsers" }
pcap-parser = "0.13"
pin-project-lite = "0.2"
thiserror = "1.0"
tokio = { version = "1.5", features = ["full"] }
tokio-stream = "0.1.5"
tokio-util = "0.6.9"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

[dev-dependencies]
lazy_static = "1.4"
env_logger = "0.9"