[package]
name = "sources"
version = "0.1.0"
authors = ["esrlabs.com"]
edition = "2024"

[lints]
workspace = true 

[dependencies]
bufread = { path = "../addons/bufread" }
bytes = "1.3"
etherparse = "0.16"
futures.workspace = true
log.workspace = true
pcap-parser = "0.16"
thiserror.workspace = true
tokio.workspace = true
tokio-serial = "5.4"
tokio-stream.workspace = true
tokio-util = { workspace = true , features = ["full"] }
serde = { workspace = true, features = ["derive"] }
uuid = { workspace = true , features = ["serde", "v4"] }
stypes = { path = "../stypes", features=["rustcore"] }
socket2 = "0.5.8"

[dev-dependencies]
env_logger.workspace = true
