@import '../../../theme/variables.less';

:host {
    position: absolute;
    display: block;
    top: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    bottom: 0.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    & .sub-component {
        margin-top: 8px;
    }
}
