<div class="sub-component">
    <app-sidebar-app-shell-input [service]="_ng_service"></app-sidebar-app-shell-input>
</div>
<div class="sub-component">
    <app-sidebar-app-shell-environment [service]="_ng_service"></app-sidebar-app-shell-environment>
</div>
<div class="sub-component">
    <app-sidebar-app-shell-running [service]="_ng_service"></app-sidebar-app-shell-running>
</div>
<div class="sub-component">
    <app-sidebar-app-shell-terminated [service]="_ng_service"></app-sidebar-app-shell-terminated>
</div>
