<div class="input">
    <span #inputmeasure class="input-highlight-measure">{{this._value}}</span>
    <input #input
            (focus)="onFocus($event)"
            (blur)="onBlur($event)"
            (keydown)="onKeyDown($event)"
            (keyup)="onKeyUp($event)"
            (change)="onChange($event)"
            type="{{type}}"
            value="{{value}}"
            placeholder="{{placeholder}}"
           [attr.disabled]="disabled?'':null"/>
    <span class="input-highlight" *ngIf="highlight !== ''" [style.marginLeft]="highlightOffset + 'px'" [innerHTML]="highlight"></span>
</div>