@import '../../styles/variables.less';


app-folderinput-input {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    width: 100%;
    margin-bottom: 12px;
    & span.label {
        color: @scheme-color-2;
        white-space: nowrap;
        margin: 0 6px 0 0;
    }
    
    & span.codicon-home {
        margin-left: 12px;
    }

}