<mat-form-field class="material-mofication-outline" [attr.passiveborder]="options.passive" [attr.error]="error.is()" appearance="outline">
    <span class="label t-normal" *ngIf="options.label !== undefined">{{options.label}}</span>
    <input
        #input
        tabindex="3"
        type="text"
        [attr.placeholder]="options.placeholder"
        [attr.invalid]="error.is()"
        [errorStateMatcher]="error"
        matInput
        [formControl]="control.control"
        [matAutocomplete]="recent_ref"
        [matAutocompleteDisabled]="!control.recent"
        (keyup)="control.keyup($event)"
    />
    <mat-error *ngIf="error.is()">Doesn't exist</mat-error>
    <mat-autocomplete
        #recent_ref="matAutocomplete"
        class="regular"
        (optionSelected)="control.selected($event)"
        (closed)="control.onPanelClosed()"
        [classList]="'recent-requests'"
        [disableRipple]="true"
    >
        <mat-option
            class="small"
            *ngFor="let folder of folders.observer | async"
            [value]="folder.path"                   
        >
            <span class="option-caption" [innerHTML]="safeHtml(folder.html())"></span>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
<span class="small-icon-button codicon codicon-home" (click)="home()"></span>
<span class="small-icon-button codicon codicon-new-folder" (click)="select()"></span>