@import '../../../styles/variables.less';

:host {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 36px;
    width: 100%;
    background: @scheme-color-5;
    overflow: hidden;
    justify-content: center;
    div.input {
        display: block;
        flex:auto;
    }
}
