@import '../../../styles/variables.less';

:host {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 36px;
    width: ~"calc(100% - 3px)";
    background: @scheme-color-5;
    justify-content: center;
    div.input {
        display: block;
        flex:auto;
    }
}
