
@import '../../../../../../theme/scheme.less';

:host {
    position: relative;
    display: block;
    padding: 0 0.5rem;
    margin: 0;
    & div.column{
        position: relative;
        display: block;
    }
    & div.controls{
        position: relative;
        display: block;
        text-align: right;
    }
}