
@import '../../../../../../theme/scheme.less';

:host {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    margin: 0;
    min-width: 7rem;
    & div.column{
        position: relative;
        display: block;
        padding: 4px 0;
    }
    & div.controls{
        position: relative;
        display: block;
        text-align: right;
        margin-right: -0.5rem;
    }
}