<div class="wrapper">
    <ul class="columns">
        <li [attr.class]="'column ' + (_ng_selected == column.key ? 'selected' : '')" *ngFor="let column of _ng_columns | keyvalue" (mousedown)="_ng_onColumnMouseDown($event, column.key)">
            <lib-primitive-checkbox-simple [color]="column.value.color" [labelOn]="column.value.header" [labelOff]="column.value.header" [checked]="column.value.visible" [onChange]="_ng_onChange.bind(this, column.key)"></lib-primitive-checkbox-simple>
        </li>
    </ul>
    <ul *ngIf="_ng_selected !== undefined" class="colors">
        <li class="color" *ngFor="let color of _ng_colors" [ngStyle]="{'background': color}" (mousedown)="_ng_onColorMouseDown($event, color)"></li>
    </ul>
</div>
<div class="controls">
    <span class="small-button" (mousedown)="_ng_apply()">Apply</span>
</div>