<div class="wrapper">
    <ul class="columns">
        <li [attr.class]="'column ' + (_ng_selected == i ? 'selected' : '')" *ngFor="let column of _ng_columns; let i = index;" (mousedown)="_ng_onColumnMouseDown($event, i)">
            <lib-primitive-checkbox-simple  [color]="column.color" 
                                            [labelOn]="column.header" 
                                            [labelOff]="column.header" 
                                            [checked]="column.visible" 
                                            [onChange]="_ng_onChange.bind(this, i)"
                                            (mousedown)="_ng_onCheckBoxMouseDown($event, i)"></lib-primitive-checkbox-simple>
        </li>
    </ul>
    <ul *ngIf="_ng_selected !== undefined" class="colors">
        <li class="color" *ngFor="let color of _ng_colors" [ngStyle]="{'background': color}" (mousedown)="_ng_onColorMouseDown($event, color)"></li>
    </ul>
</div>
<div class="controls">
    <span class="small-button" (mousedown)="_ng_apply()">OK</span>
</div>
