@import '../../../../../theme/variables.less';


:host {
    position: relative;
    display: block;
    & span.slitter{
        position: relative;
        display: block;
        height: 8px;
    }
    & div.filters{
        position: relative;
        margin-left: 28px;
        & span.icon {
            position: absolute;
            top: 50%;
            width: 16px;
            height: 16px;
            left: -28px;
            margin-top: -14px;
        }
        & span.icon-top{
            position: absolute;
            top: 9px;
            left: -16px;
            width: 8px;
            height: 5px;
            border-left: 1px solid @scheme-color-1;
            border-top: 1px solid @scheme-color-1;
        }
        & span.icon-bottom{
            position: absolute;
            bottom: 10px;
            left: -16px;
            width: 8px;
            height: 5px;
            border-left: 1px solid @scheme-color-1;
            border-bottom: 1px solid @scheme-color-1;
        }
    
    }
}
