<p class="caption t-small">Search pattern</p>
<span class="slitter"></span>
<div class="filters" *ngIf="_ng_points.length > 0">
    <app-sidebar-app-searchmanager-filter-mini *ngFor="let point of _ng_points" [entity]="point"></app-sidebar-app-searchmanager-filter-mini>
    <span class="icon">
        <mat-icon>alarm</mat-icon>
    </span>
    <span class="icon-top"></span>
    <span class="icon-bottom"></span>
</div>

<span class="slitter"></span>
<p class="caption t-small">Pattern settings</p>

<mat-checkbox [(ngModel)]="_ng_strict" (change)="_ng_onStrcitStateChange()" [disabled]="_ng_points.length <= 2">Strict mode</mat-checkbox>

<span class="slitter"></span>
<p class="caption t-small">Color</p>

<app-com-color-selector [colors]="_ng_colors" [color]="_ng_currentColor === undefined ? '' : _ng_currentColor" (change)="_ng_onColorChange($event)"></app-com-color-selector>
