view-controller-search-results{
    position: absolute;
    width   : 100%;
    height  : 100%;
    overflow: hidden;
    div.srv-toolbar{
        position: absolute;
        width   : 100%;
        height  : 2.5rem;
        top     : 0;
        overflow: hidden;
    }
    div.srv-wrapper{
        position: absolute;
        width   : 100%;
        top     : 2.5rem;
        bottom  : 0;
        overflow: hidden;
        ul.srv-tabs{
            position    : absolute;
            display     : block;
            list-style  : none;
            padding     : 0;
            margin      : 0;
            height      : 2rem;
            width       : 100%;
            top         :0;
            left        :0;
            border-bottom: thin solid @dark-grey;
            li{
                position                : relative;
                display                 : inline-block;
                padding                 : 0.25rem;
                margin                  : 0.65rem 0 0 0;
                border-top-left-radius  : 0.1rem;
                border-top-right-radius : 0.1rem;
                border-left             : thin solid @dark-grey;
                border-top              : thin solid @dark-grey;
                border-right            : thin solid @dark-grey;
                cursor                  : pointer;
                font-size               : 0.85rem;
                line-height             : 0.85rem;
                background              : @grey;
                &:first-child{
                    margin-left: 0.5rem;
                }
                &.active:after{
                    position    : absolute;
                    display     : block;
                    content     : '';
                    top         :100%;
                    width       : 100%;
                    height      : 2px;
                    background  : @white;
                    left        :0;
                }
                &.active{
                    background  : @white;
                }
            }
        }
        ul.srv-content{
            position    : absolute;
            display     : block;
            list-style  : none;
            padding     : 0;
            margin      : 0;
            width       : 100%;
            left        :0;
            top         :2rem;
            bottom      : 0;
            li.src-content-tab{
                position    : absolute;
                top         : 0.25rem;
                left        : 0;
                right       : 0;
                bottom      : 0;
                overflow    : hidden;
            }
        }

        div.srv-list{
            position    : absolute;
            height      : 100%;
            top         : 0;
            left        : 0;
            right       : 0;
            overflow    : hidden;
            &.no-line{
                left: 0;
            }
        }
    }
    .export-url{
        position: absolute;
        display : block;
        top     :0;
        left    :0;
        width   : 1px;
        height  : 1px;
        opacity : 0.001;
    }
}