@import '../../../styles/variables.less';

:host {
    position: absolute;
    width: fit-content;
    height: 100%;
    display: block;
    top: 0;
    right: 8px;
    background: @scheme-color-7;
    z-index: 1;
    & canvas {
        cursor: default;
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
    }
}
