@import '../../styles/variables.less';

:host {
    position: relative;
    display: block;
    padding: 0;
    margin: 0 0 24px 0;
    overflow: hidden;
    outline: none;
    & div.controlls{
        position: relative;
        width: 100%;
        overflow: hidden;
        text-align: right;
    }

}
