@import '../../../../styles/variables.less';


:host {
    position: relative;
    display: block;
    width: 100%;
    padding: 6px 0;
    & div.section {
        position: relative;
    }
    & span.path {
        margin-left: 12px;
    }
    & .nowrap {
        white-space: nowrap;    
        text-overflow: ellipsis;
        overflow: hidden;
    }
    & table > tr {
        vertical-align: top;
    }
    & table * {
        border-spacing: 0px;
    }
    & table {
        & td.left-padding {
            padding-left: 12px;
        }
    }
}