<table>
    <tr>
        <td class="t-medium left-padding">
            <p class="t-medium color-scheme-3">Bound fibex files:</p>
            <p class="t-medium color-scheme-2" *ngIf="fibex.length ===0">No any fibex files</p>
            <p class="t-medium color-scheme-2" *ngFor="let fibex of fibex">{{fibex}}</p>
        </td>
    </tr>
    <!-- <tr>
        <td class="t-medium color-scheme-3">Timezone:</td>
        <td class="t-medium color-scheme-2 left-padding">{{getTimezone()}}</td>
    </tr> -->
</table>