@import '../../../styles/variables.less';


:host {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    & p.error {
        color: @scheme-color-error-light;
    }
}