@import '../../../styles/variables.less';


:host {
    position: relative;
    display: inline-block;
    padding: 2px;
    margin: 6px;
    height: 42px;
    p.title {
        display: block;
        position: absolute;
        color: @scheme-color-2;
        z-index: 1;
        padding: 3px 0px 0 16px;
    }
    p.error {
        color: @scheme-color-error-light;
    }
}