@import './colors.less';
@import './support.less';

.small-icon-button {
    position: relative;
    display: inline-block;
    font-size: 0.8rem;
    color:@scheme-color-1;
    padding: 0.1rem 0.4rem;
    margin: 0;
}
