@import '../../../../../styles/variables.less';


:host {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    & div.controlls {
        text-align: right;
    }
    & button {
        position: relative;
        display: inline-block;
        margin: 6px 0 6px 6px;
    }

}