<app-filter-hidden #filter></app-filter-hidden>
<div
    class="action"
    *ngFor="let action of state.getFilteredActions()"
    (click)="onDefaultAction(action.action)"
    (contextmenu)="onAllActions($event, action.action)"
>
    <div class="column_0">
        <app-recent-nature-icon [operation]="operation"></app-recent-nature-icon>
    </div>
    <div class="column_1">
        <app-recent-nature [operation]="operation"></app-recent-nature>
        <app-recent-parser [operation]="operation"></app-recent-parser>
    </div>
</div>
<p class="t-medium nowrap description" *ngIf="state.getFilteredActions().length === 0">
    No recent actions
</p>
