@import '../../../../styles/variables.less';


:host {
    position: relative;
    display: block;
    width: 100%;
    & div.input {
        height: 32px;
    }
    & mat-form-field.full-width {
        display: block;
    }
    & mat-form-field.outline {
        margin: 0!important;
    }
}