@import '../../../../styles/variables.less';


:host {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    & > * {
        margin: 6px;
    }
    & > *:first-child {
        margin-left: 12px;
    }
    & > *:last-child {
        margin-right: 12px;
    }
}