@import '../../../theme/variables.less';


:host {
    display: flex;
    flex-flow: column;
    height: 100%;
    background: @scheme-color-5;
    & .rows-container{
        position: relative;
        flex: 1 1 auto;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        user-select: text;
        cursor: text;
        & div.columns{
            position: absolute;
            display: flex;
            top:0;
            left:0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            justify-content: space-around;
            flex-flow: row wrap;
            align-items: stretch;
            & div.column{
                display: block;
                position: relative;
                padding: 0;
                margin: 0;
                height: 100%;
                top:0;
                left:0;
                overflow: hidden;
                &.rows{
                    user-select: text;
                    cursor: text;
                    flex: 1 1 auto;
                }
                &.map{

                }
            }
        }
    }
    & .injections-top{
        flex: 0 1 auto;
        padding: 0;
        margin: 0;
        & .injection{
            position: relative;
            display: block;
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }
    & .injections-bottom{
        flex: 0 1 auto;
        padding: 0;
        margin: 0;
        & .injection{
            position: relative;
            display: block;
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }
    & lib-complex-scrollbox{
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
