@import '../../../../styles/variables.less';


:host {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px;
    color: @scheme-color-3;
    & > span {
        color: @scheme-color-2;
    }
}