view-controller-list{
    position: absolute;
    width   : 100%;
    height  : 100%;
    overflow: hidden;
    div.lv-wrapper{
        position: absolute;
        top:0;
        left:0;
        bottom: 0;
        right: 0;
        overflow: hidden;
        &.full-line-on{
            bottom: 10rem;
        }
        div.lv-list{
            position    : absolute;
            top         : 1.5rem;
            bottom      : 0;
            left        : 1rem;
            right       : 0;
            overflow    : hidden;
            &.no-buffer{
                top: 0;
            }
            &.no-line{
                left: 0;
            }
            long-list .wrapper .rows{
                padding: 0;
            }

        }
        div.lv-buffer{
            position    : absolute;
            height      : 1.5rem;
            top         : 0;
            left        : 0;
            right       : 0;
            overflow    : hidden;
            p{
                margin: 0;
                padding: 0.25rem 0.5rem;
                font-size: 0.8rem;
                color: @soft-grey;
            }
        }
        div.lv-line{
            position    : absolute;
            height      : 100%;
            top         : 0;
            left        : 0;
            width       : 1rem;
            overflow    : hidden;
        }

    }
    .export-url{
        position: absolute;
        display : block;
        top     :0;
        left    :0;
        width   : 1px;
        height  : 1px;
        opacity : 0.001;
    }
    & div.lv-full-line{
        position: absolute;
        bottom: 0;
        left: 0rem;
        right: 0;
        height: 10rem;
        overflow: hidden;
    }
}