<div [attr.class]="'lv-wrapper ' + (fullLineView ? 'full-line-on' : '') + ' ' + (remarks.length > 0 ? 'remarks-on' : '')" *ngIf="rows.length > 0">
    <div [attr.class]="'lv-list' + (!line.visible ? ' no-line ' : '') + (buffer === '' ? ' no-buffer ' : '')">
        <long-list #list
                   [rows]="rows"
                   [onScroll]="onScrollSubscription"
                   [onSelection]="onSelectSubscription"
                   [onSelectionStarted]="onSelectStartedSubscription"
                   [maxWidthRow]="maxWidthRow"></long-list>
    </div>
    <div class="lv-buffer" *ngIf="buffer !== ''">
        <p>Pending: {{buffer}}</p>
    </div>
    <div *ngIf="line.visible" [attr.class]="'lv-line'">
        <list-view-line
                [count]="line.count"
                [marks]="line.marks"
                [scroll]="line.scroll"
                [offsetTop]="line.offsetTop"
                [offsetBottom]="line.offsetBottom"
                [scrollTo]="line.scrollTo"
        ></list-view-line>
    </div>
</div>
<div *ngIf="fullLineView" [attr.class]="'lv-full-line '">
    <list-view-full-line
            #fulllinecomponent
            [value]="selection.str"
            [closeHandler]="onCloseFullLine"
    ></list-view-full-line>
</div>
<div *ngIf="remarks.length > 0" [attr.class]="'lv-remarks'">
    <list-view-remarks
            #listviewremarks
            [remarks]="remarks"
    ></list-view-remarks>
</div>
<p *ngIf="rows.length === 0" class="message-no-data">No Data Is Loaded</p>
<a #exporturl [attr.href]="exportdata.url" class="export-url" [attr.download]="exportdata.filename"></a>