@import '../../../theme/variables.less';

:host {
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background: @scheme-color-5;
    & .comment{
        position: absolute;
        display: block;
        bottom: 1rem;
        right: .5rem;
        width: 10rem;
        text-align: right;
        font-size: 0.8rem;
        color:@scheme-color-3;
    }
}