@import '../../../styles/variables.less';

:host {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    bottom: 0.5rem;
    right: 0.5rem;
    left: 0.5rem;
    top: 0.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    outline: none;
    & > div.caption {
        position: sticky !important;
        top: 0;
        left: 0;
        z-index: 1;
        background: @scheme-color-5;
        display: flex;
        padding: 0 24px;
        margin: 0;
        text-align: left;
        align-items: center;
        white-space: nowrap;
        font-size: 0.9rem;
        font-weight: 400;
        span.title{
            color: @scheme-color-2;
        }
        span.subtitle{
            padding-left: 6px;
            color: @scheme-color-3;
        }
        & span.filler {
            flex: auto;
        }

    }
    & p.info {
        font-size: 13px;
        color: @scheme-color-2;
        margin: 16px 24px;
    }
    & mat-expansion-panel {
        margin: 6px 0!important;
    }
    & div.mat-expansion-panel-body {
        padding-left: 0;
        padding-right: 0;
    }
    & mat-expansion-panel.list {
        flex:auto;
        overflow-y: auto;
        overflow-x: hidden;
        & mat-expansion-panel-header {
            position: sticky;
            background-color: @scheme-bk-color-0;
            z-index: 1;
            top: 0;
        }
        & app-views-attachments-item.selected {
            background: @scheme-color-4;
            &::after {
                position: absolute;
                content: '';
                display: block;
                top: 0;
                height: 100%;
                width: 4px;
                left:0;
                background: @scheme-color-active;
            }
        }
        & app-views-attachments-item:hover {
            background: @scheme-color-5;
        }
    }
    & mat-expansion-panel.preview {
        flex: none;
    }

}
