<div class="caption">
    <span class="title">Attachments</span>
    <span class="subtitle">({{attachments.length}})</span>
    <span class="filler"></span>
    <span class="small-icon-button codicon codicon-checklist" *ngIf="attachments.length > 0" [matMenuTriggerFor]="menu"></span>
</div>
<p class="info" *ngIf="filtered.attachments.length === 0">No attachments has been received</p>
<mat-expansion-panel *ngIf="filtered.attachments.length > 0" [hideToggle]="true" [expanded]="true" class="list">
    <mat-expansion-panel-header>
        <mat-panel-title>Received Attachments</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="attachments">
        <app-views-attachments-item *ngFor="let wrapped of filtered.attachments"
            (contextmenu)="onItemContextMenu($event, wrapped.attachment)"
            [attr.class]="(wrapped.selected ? 'selected' : '')"
            (click)="select().attachment(wrapped.attachment)"
            [attachment]="wrapped.attachment"></app-views-attachments-item>
    </div>
</mat-expansion-panel>
<mat-expansion-panel [hideToggle]="true" [expanded]="true" *ngIf="preview !== undefined" class="preview">
    <mat-expansion-panel-header>
        <mat-panel-title>Preview</mat-panel-title>
    </mat-expansion-panel-header>
    <app-views-attachments-preview #previewref [attachment]="preview" [embedded]="true"></app-views-attachments-preview>
</mat-expansion-panel>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="save().selected()">
        <mat-icon>list</mat-icon>
        <span>Save Selected</span>
    </button>
    <button mat-menu-item (click)="save().all()">
        <mat-icon>done_all</mat-icon>
        <span>Save All</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item *ngFor="let ext of extensions | keyvalue" (click)="save().typed(ext.key)">
        <span>Save All *.{{ext.key}} ({{ext.value}})</span>
    </button>
</mat-menu>

