@import '../../../../styles/variables.less';

app-views-comments-item {
    display: block;
    & div.wrapper {
        &.black {
            & * {
                color: var(--scheme-color-7)!important;
            }
            .mat-expansion-indicator::after{
                color: var(--scheme-color-7)!important;
            }
        }
        & div.signature {
            display: flex;
            flex-direction: row;
            & p.date {
                flex:100%;
                text-align: right;
            }
        }
        & mat-card {
            margin-top: 8px;
            & mat-card-actions {
                display: flex;
                flex-direction: row;
                opacity: 0.001;
                justify-content: end;
                transition: 250ms ease-in-out all;
                & span.small-icon-button {
                    color: var(--scheme-color-5);
                }
            }
            & mat-expansion-panel {
                border-top-left-radius: 0!important;
                border-top-right-radius: 0!important;
                // margin-bottom: -16px!important;
                & .mat-expansion-panel-header {
                    padding: 0 16px;
                }
                & .mat-expansion-panel-body {
                    padding: 0 8px 16px 16px;
                }
            }
            & mat-card-subtitle {
                color: var(--scheme-color-5);
                & span.position-label:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
            & mat-card-content:hover {
                cursor: pointer;
            }
        }
        &:hover {
            & mat-card {
                & mat-card-actions {
                    opacity: 1;
                }
            }
        }
    }
}
