@import '../../../../theme/variables.less';


app-sidebar-app-comments-item {
    display: block;
    & div.wrapper {
        &.black {
            & * {
                color: #000000!important;
            }
        }
        & mat-card {
            margin-top: 8px;
            & mat-card-actions {
                text-align: right;
                opacity: 0.001;
                & button {
                    transition: 250ms ease-in-out all;
                }
            }
        }
        &:hover {
            & mat-card {
                & mat-card-actions {
                    opacity: 1;
                }
            }
        }
    }
}
button.comment-color-selector {
    margin: 2px;
}
