<div [attr.class]="'wrapper ' + (comment.color !== undefined ? 'black' : 'white')">
    <mat-card [ngStyle]="{'background': comment.color}">
        <mat-card-subtitle (click)="ngOnShow()">
            <span class="position-label">{{comment.selection.start.position}} - {{comment.selection.end.position}}</span>
        </mat-card-subtitle>
        <mat-card-content (click)="ngOnShow()">{{comment.comment}}</mat-card-content>
        <mat-card-actions>
            <button mat-icon-button color="primary" [matMenuTriggerFor]="commentCategoryMenu">
                <mat-icon>color_lens</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="ngOnEdit()">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="ngOnReplay()">
                <mat-icon>reply</mat-icon>
            </button>
            <button mat-icon-button color="primary" aria-label="Available Actions" [matMenuTriggerFor]="commentActionsMenu">
                <mat-icon>more_horiz</mat-icon>
            </button>
        </mat-card-actions>

        <mat-expansion-panel *ngIf="comment.responses.length > 0" [ngStyle]="{'background-color': ngGetResponseColor()}">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{comment.responses.length}} response{{comment.responses.length > 1 ? 's' : ''}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-sidebar-app-comments-item-replay *ngFor="let response of comment.responses; let i = index"
                [response]="response"
                [color]="ngGetResponseColor()"
                [edit]="ngGetResponseEditCallback(response)"
                [remove]="ngGetResponseRemoveCallback(response.guid)"
                [icon]="i === 0"
            ></app-sidebar-app-comments-item-replay>
        </mat-expansion-panel>

    </mat-card>

    <mat-menu #commentActionsMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="ngOnEdit()">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
        </button>
        <button mat-menu-item (click)="ngOnShow()">
            <mat-icon>search</mat-icon>
            <span>Show</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="ngOnRemove()">
            <mat-icon>delete</mat-icon>
            <span>Remove</span>
        </button>
    </mat-menu>

    <mat-menu #commentCategoryMenu="matMenu" xPosition="before">
        <div class="colors-wrapper">
            <button class="comment-color-selector" mat-mini-fab color="primary" aria-label="Category" (click)="ngOnSetColor(undefined)">
                <mat-icon>remove</mat-icon>
            </button>
            <button *ngFor="let color of _ng_colors"
                    class="comment-color-selector"
                    mat-mini-fab color="primary"
                    (click)="ngOnSetColor(color)"
                    [ngStyle]="{'background': color}">
            </button>
        </div>
    </mat-menu>
</div>

<div class="replay-editor" *ngIf="_ng_response !== undefined">
    <app-sidebar-app-comments-editor
        [response]="_ng_response"
        [save]="ngOnResponseSave"
        [cancel]="ngOnResponseCancel"
        [remove]="ngOnResponseRemove"
    ></app-sidebar-app-comments-editor>
</div>
