<p class="t-normal no-results" *ngIf="_files.length === 0">No recent files found</p>
<mat-form-field class="recent-files outline regular" appearance="outline" *ngIf="_files.length !== 0">
    <input  type="text" 
            placeholder="Recent Files"
            aria-label="Filter"
            matInput
            [formControl]="_ng_inputCtrl"
            [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" class="recent-files regular"
        (optionSelected)="_ng_onFileSelected($event.option.value)"
        (closed)="_ng_onPanelClosed()"
        [autoActiveFirstOption]="true"
        [displayWith]="_ng_displayWith">
        <mat-option *ngFor="let file of _ng_files | async" [value]="file" [attr.title]="file.file" class="recent-files small t-console t-small">
            <span class="filename" [innerHTML]="_ng_getSafeHTML(file.tbasename)"></span><span class="folder" [innerHTML]="_ng_getSafeHTML(file.tdirname)"></span><span class="size">{{(file.size / 1024 / 1024).toFixed(2)}} Mb</span>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>