@import '../../styles/variables.less';


app-favorites-mini {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    & p.info {
        padding: 3px 12px;
        color: @scheme-color-2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    & div.filter {
        height: 41px;
        width: 100%;
        background: @scheme-color-5;
        overflow: hidden;
    }
    & div.actions {
        position: relative;
        width: auto;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 450px;
    }
    & div.action {
        position: relative;
        padding: 6px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &.selected {
            background: @scheme-color-hover;
            &::before {
                background: @scheme-color-hover;
            }
        }
        &:hover {
            background: @scheme-color-hover;
            &::before {
                background: @scheme-color-hover;
            }
        }
        &::before {
            position: absolute;
            display: block;
            width: ~"calc(100% + 30px)";
            content: '';
            top:0;
            left: -15px;
            height: 100%;
        }
        & p.description {
            position: relative;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: @scheme-color-0;
            padding: 0 12px;
            & span.major {
                margin-right: 12px;
            }
            & span.major,
            & span.minor {
                & > span {
                    background-color: @scheme-color-3;
                }
            }
        }        
    }
    & div.stat {
        padding-bottom: 12px;
        border-top: thin solid @scheme-color-4;
    }
}