<div class="wrapper" *ngIf="!state.isEmpty()">
    <app-filter-input #filter [filter]="state.filter"></app-filter-input>
    <div class="actions">
        <div [attr.class]="'action ' + (state.selected === item.hash() ? 'selected' : '')" 
            *ngFor="let item of state.filtered();"
            (click)="ngOpen(item)"
            (contextmenu)="ngItemContextMenu($event, item)">
            <p class="t-medium nowrap description">
                <span class="color-scheme-1 major" [innerHTML]="safeHtml(item.description().major)"></span>
                <span class="color-scheme-2 minor" [innerHTML]="safeHtml(item.description().minor)"></span>
            </p>
        </div>
    </div>
    <div class="stat">
        <div *ngIf="state.loading() !== undefined">
            <p class="info t-small " >{{state.loading()}}</p>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <p class="info t-small">Found {{state.count()}} files in:</p>
        <p class="info t-small" *ngFor="let root of state.roots">{{root}}</p>
    </div>    
</div>
<div class="wrapper" *ngIf="state.isEmpty()">
    <p class="warning t-medium">You didn't add any locations into favorites yet. You always can add/remove favorite places on the home screen.</p>
    <div class="controlls">
        <button mat-stroked-button (click)="addFolder()">Add Folder(s) to Favorites</button>
    </div>
</div>