@import '../../../../../theme/variables.less';

:host {
    & ul {
        position: relative;
        padding: 0;
        margin: 0;
        list-style: none;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: right;
        white-space: nowrap;
        justify-content: flex-end;
        & li {
            position: relative;
            display: inline-block;
            height: 100%;
            width: 1.5rem;
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: center;
            & span{
                position: relative;
                display: inline-block;
                width: 1.5rem;
                padding: 0;
            }
            &:hover{
                & span {
                    color: @scheme-color-3;
                }
            }
        }
    }
}