@import '../../../../../../../../styles/variables.less';

:host {
    position: relative;
    display: block;
    width: auto;
    padding: 0 24px;
    div.controlls{
        text-align: right;
        padding: 8px 0 0 0;
    }
}