simple-checkbox{
    position    : relative;
    display     : inline-block;
    width       : auto;
    height      : 1.5rem;
    overflow    : hidden;
    label{
        position    : relative;
        display     : inline-block;
        width       : auto;
        height      : 1.5rem;
        white-space : nowrap;
        cursor      : pointer;
        border      : @input-border-style-focused;
        box-sizing  : border-box;
        input{
            position: absolute;
            width   : 1px;
            height  : 1px;
            opacity : 0.001;
        }
        input:disabled ~span{
            opacity: 0.4!important;
        }
        span.on, span.off{
            position    : relative;
            display     : inline-block;
            width       : 2.5rem;
            height      : 100%;
            text-align  : center;
            line-height : 1.5rem;
        }
        span.switcher{
            position    : absolute;
            width       : 2.5rem;
            left        : 50%;
            height      : 100%;
            background  : @dark-opacity-0-4;
        }
        input:checked ~span.switcher{
            left: 0;
        }
        span.on,
        span.off,
        span.switcher{
            opacity     : 0.4;
            transition  : @switcher-move-animation;
        }
        input:checked ~span.on,
        input:checked ~span.switcher{
            opacity: 1;
        }
    }
}