<div class="actions">
    <button mat-icon-button color="primary" [matMenuTriggerFor]="commentCategoryMenu">
        <mat-icon>filter_list</mat-icon>
    </button>
    <button mat-icon-button color="primary" aria-label="Available Actions" [matMenuTriggerFor]="commentActionsMenu">
        <mat-icon>more_horiz</mat-icon>
    </button>
</div>
<div class="comments" *ngIf="_ng_controller !== undefined">
    <app-sidebar-app-comments-item
        [comment]="comment"
        [controller]="_ng_controller"
        [broadcastEditorUsage]="_ng_broadcastEditorUsage"
        *ngFor="let comment of _ng_comments">
    </app-sidebar-app-comments-item>

    <div class="hidden" *ngIf="_ng_hidden.length > 0">
        <mat-card>
            <div *ngFor="let hidden of _ng_hidden" class="hidden-comment-wrapper">
                <div class="hidden-comment" (click)="ngOnSetFilter(hidden.color)">
                    <button 
                        class="hidden-comment"
                        mat-mini-fab color="primary"
                        [ngStyle]="{'background': hidden.color}">
                    </button>
                    <p class="t-small color-scheme-2">more {{hidden.count}} comment{{hidden.count > 1 ? 's' : ''}}</p>
                </div>
            </div>
            <div class="hidden-comment-wrapper">
                <div class="hidden-comment" (click)="ngOnSetFilter(undefined)">
                    <button 
                        class="hidden-comment"
                        mat-mini-fab color="primary">
                    </button>
                    <p class="t-small color-scheme-2">show all</p>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="hidden" *ngIf="_ng_comments.length === 0">
        <mat-card>
            <p class="t-small color-scheme-1 info" >To create new comment: select some text; call context menu and select "Comment"</p>
        </mat-card>
    </div>
</div>

<mat-menu #commentActionsMenu="matMenu" xPosition="before">
    <button mat-menu-item  (click)="ngOnOrderingSwitch()">
        <mat-icon>sort</mat-icon>
        <span>{{_ng_ordring === 'position' ? 'Order by Colors' : 'Order by Positions'}}</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="ngOnRemoveAll()">
        <mat-icon>delete_sweep</mat-icon>
        <span>Remove All</span>
    </button>
</mat-menu>

<mat-menu #commentCategoryMenu="matMenu" xPosition="before">
    <div class="colors-wrapper">
        <button class="comment-color-selector" mat-mini-fab color="primary" aria-label="Category" (click)="ngOnSetFilter(undefined)">
            <mat-icon>remove</mat-icon>
        </button>
        <button *ngFor="let color of _ng_colors"
                class="comment-color-selector"
                mat-mini-fab color="primary"
                (click)="ngOnSetFilter(color)"
                [ngStyle]="{'background': color}">
        </button>
    </div>
</mat-menu>