@import '../../styles/variables.less';
@import '../../styles/support.less';

:host {
    position: relative;
    display: block;
    box-sizing: border-box;
    background: var(--scheme-color-5-darken-5);
    border-left: var(--scheme-color-5-darken-5) thin solid;
    border-right: var(--scheme-color-5-lighten-5) thin solid;
    & element-tabs {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
