@import '../../../../theme/variables.less';

:host {
    position: relative;
    display: block;
    margin: 0;
    margin-bottom: 3px;
    background: @scheme-color-6;
    border-radius: 3px;
    padding: 2px 6px;
    cursor: default;
    span.scale{
        position: absolute;
        display: block;
        top:0;
        height: 100%;
        background: fade(@scheme-color-accent, 40%);
    }
    p.error{
        color: @scheme-color-warning;
    }
    span.duration{
        font-weight: 600;
    }
}
