dialog-visual-settings-tab{
    position    : absolute;
    display     : block;
    top         : 0.5rem;
    left        : 0.5rem;
    bottom      : 0.5rem;
    right       : 0.5rem;
    .wrapper{
        position: absolute;
        width   : 100%;
        height  : 100%;
        overflow: auto;
        table{
            position    : relative;
            width       : 100%;
            tr{
                td:first-child{
                    position    : relative;
                    width       : 100%;
                    font-size   : 0.85rem;
                    padding     : 0.25rem 0;
                    margin      : 0;
                    font-weight :normal;
                    color       : @text-withoutaccente-normal;
                    span{
                        color       : @text-passive-normal
                    }
                }
                td:last-child{
                    padding     : 0.25rem 0.5rem;
                    margin      : 0;
                    position    : relative;
                }
                td.right{
                    text-align  : right;
                }
                td.table-title{
                    padding         : 0.25rem 0;
                    margin          : 0;
                    border-bottom   : thin dotted @dark;
                    font-weight     : bold;
                }
                .input-cover{
                    position: relative;
                    width   : 100%;
                    height  : 1.5rem;
                }
            }
        }
    }
}