@import '../../../../theme/variables.less';


:host {
    display: block;
    margin-left: 16px;
    & div.wrapper {
        display: flex;
        &.offsetted{
            margin-left: 19px;
        }
        & > mat-icon {
            color: @scheme-color-1!important;
            font-size: 16px;
            margin-top: 6px;
        }
        &.black {
            & * {
                color: #000000;
            }
        }
        & mat-card {
            margin-top: 8px;
            width: 100%;
            & mat-card-subtitle {
                display: flex;
                align-items: center;
                & button {
                    opacity: 0.001;
                }
                & > span {
                    width: 100%;
                }
            }
            & mat-card-actions {
                text-align: right;
                opacity: 0.001;
                & button {
                    transition: 250ms ease-in-out all;
                }
            }
        }
        &:hover {
            & mat-card {
                & mat-card-subtitle {
                    & button {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

