@import '../../../styles/variables.less';

:host {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    margin: 0;
    text-align: center;
    & * {
        color: @scheme-color-1;
    }
    & mat-spinner {
        display: block;
    }
    & mat-icon {
        display: block;
        height: 32px;
        width: 32px;
        font-size: 32px;
        color: @scheme-color-warning-light
    }
    & p {
        text-align: left;
        padding: 12px 0;
        overflow-wrap: anywhere;
    }
    & div.controls{
        position: relative;
        text-align: right;
        padding: 12px 0 6px 0;
        width: 100%;
        & button {
            display: inline-block;
            margin-left: 12px;
        }
    }
}