@import '../../../../styles/variables.less';


:host {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px;
    & > p {
        padding: 0;
        margin: 0;
        color: var(--scheme-color-3);
        & > span {
            color: var(--scheme-color-2);
        }
    }
}