@import '../../../styles/variables.less';

:host {
    display: flex;
    flex-direction: row;
    position: relative;
    font-family: 'console', monospace;
    font-size: 13.5px;
    font-variant-numeric: tabular-nums;
    padding: 0;
    margin: 0;
    line-height: 16px;
    height: 16px;
    max-height: 16px;
    color: var(--scheme-color-2);
    font-weight: 500;
    user-select: none;
    cursor: default;
	span.header {
        display: block;
        position: relative;
        overflow: hidden;
		padding: 0 12px;
        color: var(--scheme-color-2);
		border-left: thin solid var(--scheme-color-3);
    }
    & span:nth-child(2) {
        border-left: none;
    }
    span.offset {
        display: block;
    }
    span.resizer {
        position: absolute;
        display: block;
        width: 4px;
        right: 0px;
        top: 0;
        height: 100%;
        cursor: e-resize;
    }
    & mat-icon.more {
        position: relative;
        float: right;
        margin-top: -24px;
        color: var(--scheme-color-0);
        background-color: var(--scheme-color-5);
    }
}
