<span class="offset" [ngStyle]="ngGetOffsetStyle()"></span>
<span class="header"
      *ngFor="let header of headers, let i = index"
      (contextmenu)="ngOnClick($event, i)"
      [ngStyle]="header.styles">
      {{header.caption}}
      <mat-icon class="more" (click)="ngOnClick($event, i)">{{ngMore}}</mat-icon>
      <span *ngIf="header.width !== undefined"
            class="resizer"
            appResizer
            [min]="header.width.min"
            [max]="header.width.max"
            [size]="header.width.value"
            [direction]="Direction.Horizontal"
            [corrector]="-1"
            (changesize)="ngResize($event, header)"></span>
</span>
