<span class="offset" [ngStyle]="ngGetOffsetStyle()"></span>
<span class="header"
      *ngFor="let header of headers; let i = index"
      (mouseenter)="_ng_onMouseOver(header.caption)"
      [ngStyle]="header.styles">
      <span>{{header.caption}}</span>
      <mat-icon *ngIf="_ng_mouseOverHeader === header.caption" class="more" (click)="_ng_onClick($event)">{{_ng_more}}</mat-icon>
      <span *ngIf="header.width !== undefined"
            class="resizer"
            appResizer
            [min]="header.width.min"
            [max]="header.width.max"
            [size]="header.width.value"
            [direction]="Direction.Horizontal"
            [corrector]="-1"
            (changesize)="ngResize($event, header, i)"></span>
</span>
