<div [attr.class]="'icon ' + (finished ? 'finished' : 'running')" *ngIf="description !== undefined">
    <mat-icon>{{description.icon}}</mat-icon>
    <span class="type">{{description.type}}</span>
    <span class="state running" *ngIf="!finished">{{description.state.running}}</span>
    <span class="state stopped"*ngIf="finished">{{description.state.stopped}}</span>
</div>
<div class="info" *ngIf="description !== undefined">
    <p class="t-medium nowrap major">{{description.major}}</p>
    <p class="t-medium nowrap color-scheme-2 minor">{{description.minor}}</p>
</div>
