<span class="small-icon-button codicon codicon-add" [matMenuTriggerFor]="menu"></span>
<mat-menu #menu="matMenu" class="attach-new-source-menu">
    <p *ngIf="error !== undefined" class="t-normal attach-menu-warning">{{error}}</p>
    <mat-spinner *ngIf="loading" [diameter]="16"></mat-spinner>
    <ng-container *ngIf="!loading">
        <ng-container *ngFor="let action of actions">
            <button *ngIf="action !== null" mat-menu-item (click)="action.handler()">
                <span>{{action.title}}</span>
            </button>
            <mat-divider *ngIf="action === null"></mat-divider>
        </ng-container>
    </ng-container>
</mat-menu>
