<div class="wrapper" *ngFor="let provider of _ng_providers | keyvalue">
    <mat-expansion-panel
        *ngIf="!provider.value.isEmpty() || provider.value.getContentIfEmpty() !== undefined"
        [disabled]="true"
        [hideToggle]="true"
        [expanded]="true"
        (click)="_ng_onPanelClick()">
        <mat-expansion-panel-header>
            <mat-panel-title>{{provider.value.getPanelName()}}</mat-panel-title>
            <mat-panel-description>{{provider.value.getPanelDesc()}}</mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngIf="!provider.value.isEmpty()">
            <lib-containers-dynamic [detectChanges]="false" [component]="provider.value.getListComp()"></lib-containers-dynamic>
        </div>
        <p class="t-small" *ngIf="provider.value.isEmpty()">{{provider.value.getContentIfEmpty()}}</p>
    </mat-expansion-panel>
</div>

<div class="wrapper" *ngIf="_ng_selected">
    <mat-expansion-panel
        [disabled]="true"
        [hideToggle]="true"
        [expanded]="true"
        (click)="_ng_onPanelClick()">
        <mat-expansion-panel-header>
            <mat-panel-title>{{_ng_selected.getDetailsPanelName()}}</mat-panel-title>
            <mat-panel-description>{{_ng_selected.getDetailsPanelDesc()}}</mat-panel-description>
        </mat-expansion-panel-header>
        <lib-containers-dynamic [detectChanges]="false" [component]="_ng_selected.getDetailsComp()"></lib-containers-dynamic>
    </mat-expansion-panel>
</div>

<div class="wrapper">
    <mat-expansion-panel
        [expanded]="true"
        (click)="_ng_onPanelClick()">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Manage
            </mat-panel-title>
            <mat-panel-description class="limited" *ngIf="_ng_filename !== ''">{{_ng_filename}}</mat-panel-description>
        </mat-expansion-panel-header>
        <app-sidebar-app-searchmanager-controls></app-sidebar-app-searchmanager-controls>
    </mat-expansion-panel>
</div>

