<mat-expansion-panel
    [disabled]="true"
    [hideToggle]="true"
    [expanded]="true"
    (click)="_ng_onPanelClick()">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Filters
        </mat-panel-title>
        <mat-panel-description *ngIf="_ng_filters.length > 0">{{_ng_filters.length}} filter{{_ng_filters.length > 0 ? 's' : ''}}</mat-panel-description>
    </mat-expansion-panel-header>
    <app-sidebar-app-searchmanager-filters *ngIf="_ng_filters.length > 0"
        (onContextMenu)="_ng_onContextListsMenu('filters', $event)"
        (onDoubleClick)="_ng_onDoubleClick('filters', $event)"
        [offset]="0"
        [reorder]="_ng_reorder"
        [selected]="_ng_selected"
        [requests]="_ng_filters"
        [edit]="_ng_observables.edit"
        [select]="_ng_observables.select">
    </app-sidebar-app-searchmanager-filters>
    <p class="t-small" *ngIf="_ng_filters.length === 0">No filters stored</p>
</mat-expansion-panel>

<span class="slitter"></span>

<mat-expansion-panel
    [disabled]="true"
    [hideToggle]="true"
    [expanded]="true"
    (click)="_ng_onPanelClick()">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Charts
        </mat-panel-title>
        <mat-panel-description *ngIf="_ng_charts.length > 0">{{_ng_charts.length}} chart{{_ng_charts.length > 0 ? 's' : ''}}</mat-panel-description>
    </mat-expansion-panel-header>
    <app-sidebar-app-searchmanager-charts *ngIf="_ng_charts.length > 0"
        (onContextMenu)="_ng_onContextListsMenu('charts', $event)"
        (onDoubleClick)="_ng_onDoubleClick('charts', $event)"
        [offset]="_ng_filters.length"
        [reorder]="_ng_reorder"
        [selected]="_ng_selected"
        [requests]="_ng_charts"
        [edit]="_ng_observables.edit"
        [select]="_ng_observables.select">
    </app-sidebar-app-searchmanager-charts>
    <p class="t-small" *ngIf="_ng_charts.length === 0">No charts stored</p>
</mat-expansion-panel>

<span class="slitter" *ngIf="_ng_filter || _ng_chart"></span>

<mat-expansion-panel *ngIf="_ng_filter || _ng_chart"
    [disabled]="true"
    [hideToggle]="true"
    [expanded]="true"
    (click)="_ng_onPanelClick()">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Details
        </mat-panel-title>
        <mat-panel-description *ngIf="_ng_filter">{{_ng_filter.asDesc().request}}</mat-panel-description>
        <mat-panel-description *ngIf="_ng_chart">{{_ng_chart.asDesc().request}}</mat-panel-description>
    </mat-expansion-panel-header>
    <app-sidebar-app-searchmanager-filter-details *ngIf="_ng_filter" [request]="_ng_filter"></app-sidebar-app-searchmanager-filter-details>
    <app-sidebar-app-searchmanager-chart-details *ngIf="_ng_chart" [request]="_ng_chart"></app-sidebar-app-searchmanager-chart-details>
</mat-expansion-panel>

<span class="slitter"></span>

<mat-expansion-panel
    [expanded]="true"
    (click)="_ng_onPanelClick()">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Manage
        </mat-panel-title>
        <mat-panel-description class="limited" *ngIf="_ng_filename !== ''">{{_ng_filename}}</mat-panel-description>
    </mat-expansion-panel-header>
    <app-sidebar-app-searchmanager-controls></app-sidebar-app-searchmanager-controls>
</mat-expansion-panel>
