<div id="ranges-entities"
    cdkDropList
    [cdkDropListConnectedTo]="['disabled-entities', 'bin-entity']"
    [cdkDropListData]="_ng_getDragAndDropData()"
    [cdkDropListEnterPredicate]="_ng_viablePredicate()"
    (cdkDropListDropped)="_ng_onItemDragged($event)"
    class="ranges">
    <app-sidebar-app-searchmanager-timerangehook
        (contextmenu)="_ng_onContexMenu($event, entity)"
        appSidebarSearchManagerItem
        appMatDragDropResetFeature
        cdkDrag
        [provider]="provider"
        [entity]="entity"
        *ngFor="let entity of _ng_entries;"></app-sidebar-app-searchmanager-timerangehook>
</div>
<div class="controlls">
    <button mat-icon-button color="primary" aria-label="Apply" (click)="_ng_onApply()" [disabled]="_ng_entries.length === 0 || _ng_progress">
        <mat-icon *ngIf="!_ng_progress">refresh</mat-icon>
        <mat-spinner *ngIf="_ng_progress" [diameter]="32" mode="indeterminate"></mat-spinner>
    </button>
</div>