dialog-settings-import-confirmation{
    position    : absolute;
    display     : block;
    top         : 0;
    left        : 0;
    right       : 0;
    bottom      : 0;
    overflow    : hidden;
    .dialog-settings-importer-import{
        position    : absolute;
        top         : 0.5rem;
        left        : 0.5rem;
        right       : 0.5rem;
        bottom      : 0.5rem;
        overflow-x  : hidden;
        overflow-y  : auto;
        div.section-title{
            position    : absolute;
            top         : 0;
            left        : 0;
            right       : 0;
            height      : 3rem;
            overflow    : hidden;
        }
        .section-list{
            position    : absolute;
            top         : 3rem;
            left        : 0;
            right       : 0;
            bottom      : 4rem;
            overflow-x  : hidden;
            overflow-y  : auto;
        }
        p.section-title{
            margin: 0;
            padding: 0;
            font-size: 1rem;
            color:@dark;
        }
        p.section-subtitle{
            margin: 0;
            padding: 0;
            font-size: 0.85rem;
            color:@soft-grey;
            &.attention{
                color:@soft-red;
            }
        }
        .buttons-area{
            position    : absolute;
            text-align  : right;
            left        : 0;
            right       : 0;
            bottom      : 0;
            height      : 3rem;
            overflow    : hidden;
        }
        ul.list-of-settings{
            position: relative;
            display: block;
            list-style: none;
            margin: 0;
            padding: 0;
            li.list-of-settings-item{
                position: relative;
                display: block;
                list-style: none;
                padding: 0.25rem 0;
                margin: 0;
                white-space: nowrap;
                .list-of-settings-item-checkbox{
                    position: relative;
                    display: inline-block;
                    width: 8rem;
                    & simple-checkbox{
                        font-size: 0.9rem;
                    }
                    & simple-checkbox label span.on,
                    & simple-checkbox label span.off,
                    & simple-checkbox label span.switcher{
                        width: 3.5rem;
                    }
                }
                .list-of-settings-item-description-area{
                    position: relative;
                    display: inline-block;
                    width: ~"calc(100% - 8rem)";
                    white-space: normal;
                    opacity: 0.4;
                    &.selected{
                        opacity: 1;
                    }
                    .list-of-settings-item-caption{
                        margin: 0;
                        padding: 0;
                        font-size: 0.9rem;
                        color:@dark;
                    }
                    .list-of-settings-item-description{
                        margin: 0;
                        padding: 0;
                        font-size: 0.85rem;
                        color:@soft-grey;
                    }
                }
            }
        }

    }
}
