<mat-form-field class="material-mofication-normal row">
    <mat-label>IP Address</mat-label>
    <input matInput
        [(ngModel)]="state.configuration.configuration.bind_addr"
        [errorStateMatcher]="state.errors.address">
    <mat-error *ngIf="state.errors.address.getErrorCode() === 'INVALID'">
        Please enter a valid IPv4/IPv6 address
    </mat-error>
    <mat-error *ngIf="state.errors.address.getErrorCode() === 'REQUIRED'">
        <strong>required</strong>
    </mat-error>
</mat-form-field>
<div class="mutlicasts" *ngIf="state.configuration.configuration.multicast.length > 0">
    <mat-divider></mat-divider>
    <p class="t-medium">Multicasts</p>
</div>
<app-transport-udp-multicast *ngFor="let multicast of state.configuration.configuration.multicast; let i = index" [multicast]="multicast" (clean)="removeMulticast(i)"></app-transport-udp-multicast>
<div class="controlls">
    <button mat-stroked-button (click)="addMulticast()">Add Multicast</button>
</div>
