<mat-form-field class="inline">
    <input matInput placeholder="IP Address"
        [(ngModel)]="state.bindingAddress"
        [errorStateMatcher]="state.errors.bindingAddress">
    <mat-error *ngIf="state.errors.bindingAddress.getErrorCode() === 'INVALID'">
        Please enter a valid IPv4/IPv6 address
    </mat-error>
    <mat-error *ngIf="state.errors.bindingAddress.getErrorCode() === 'REQUIRED'">
        <strong>required</strong>
    </mat-error>
</mat-form-field>
<mat-form-field class="inline">
    <input matInput placeholder="Port"
        [(ngModel)]="state.bindingPort"
        [errorStateMatcher]="state.errors.bindingPort">
    <mat-error *ngIf="state.errors.bindingPort.getErrorCode() === 'INVALID'">
        Please enter a valid port value
    </mat-error>
    <mat-error *ngIf="state.errors.bindingPort.getErrorCode() === 'REQUIRED'">
        <strong>required</strong>
    </mat-error>
</mat-form-field>
<div class="mutlicasts" *ngIf="state.multicasts.length > 0">
    <mat-divider></mat-divider>
    <p class="t-medium">Multicasts</p>
</div>
<app-transport-udp-multicast *ngFor="let multicast of state.multicasts"
    [multicast]="multicast.fields"
    [errors]="multicast.errors"
    (clean)="ngOnRemoveMulticast()"></app-transport-udp-multicast>
<div class="controlls">
    <button mat-stroked-button (click)="ngAddMulticast()">Add Multicast</button>
</div>

