<mat-selection-list [multiple]="false">
  <mat-list-option *ngFor="let attachment of attachments()" (click)="ngOnSelect(attachment)">
    <div class="attachment">
      <span class="name" [innerHTML]="safeHtml(attachment.html.name)"></span>
      <span class="spacer"></span>
      <span class="size t-medium color-scheme-3" [innerHTML]="safeHtml(attachment.html.size)"></span>  
    </div>
  </mat-list-option>
</mat-selection-list>
<div class="filter t-medium" *ngIf="!state.filter.isEmpty()">{{state.filter.value()}}</div>
