@import '../../../../styles/variables.less';


:host {
    position: relative;
    display: block;
    width: 100%;
    background: @scheme-color-5;
    & h1 {
        font-size: 14px;
    }
    & button {
        position: relative;
        display: inline-block;
        margin: 6px 0 6px 6px;
        margin-bottom: 0!important;
    }
}