dialog-cloud-logs{
    position: absolute;
    display: block;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    .dialog-save-logs{
        position    : absolute;
        top         : 0.5rem;
        left        : 0.5rem;
        right       : 0.5rem;
        bottom      : 0.5rem;
        overflow    : hidden;
        .content{
            position    : absolute;
            top         : 0!important;
            bottom      : 2.5rem;
            width       : 100%;
            font-size   : 1rem;
            .caption{
                position: relative;
                width   : 100%;
            }
            .fields{
                position: relative;
                width   : 100%;
                height  : 2rem;
            }
            simple-checkbox {
                .on,
                .off,
                .switcher{
                    width: 5.5rem;
                }
            }
            table{
                td:first-child{
                    white-space: nowrap;
                    width: auto;
                }
                td:last-child{
                    width: 100%;
                }
            }
        }
        .buttons{
            position        : absolute;
            bottom          : 0;
            height          : 2.5rem;
            overflow        : hidden;
            text-align      : right;
            white-space     : nowrap;
            width           : 100%;
        }

    }
}
