<mat-card>
    <mat-card-title>Fibex</mat-card-title>
    <mat-card-subtitle>Attach fibex file (optional)</mat-card-subtitle>
    <mat-card-content>
        <div class="fibex" *ngIf="state.fibex.length > 0">
            <mat-chip-listbox aria-label="Fibex files">
                <mat-chip-option *ngFor="let file of state.fibex" (removed)="state.removeFibex(file)">
                    {{file.name}}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-option>
            </mat-chip-listbox>
        </div>    
        <mat-divider class="fibex-divider" *ngIf="state.fibex.length > 0"></mat-divider>
        <div class="fibex-controlls">
            <button mat-stroked-button (click)="state.addFibexFile()">
                <mat-icon aria-hidden="false" class="mini-button">note_add</mat-icon>
                Add
            </button>
        </div>
    </mat-card-content>
</mat-card>

