@import '../../../styles/variables.less';

:host {
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    bottom: 0.5rem;
    right: 0.5rem;
    left: 0.5rem;
    top: 0.5rem;
    overflow: hidden;
    & div.main {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: calc(3rem + 15px);
        overflow: hidden;
    }
    & div.divider {
        border: dashed @scheme-color-1 thin;
        bottom: calc(3rem + 5px);
        position: absolute;
        width: 100%;
    }
    & div.secondary {
        position: absolute;
        height: 3rem;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }
    & div.rectangle {
        height: 100%;
        pointer-events: none;
        position: absolute;
        border: dashed @scheme-color-1 thin;
    }
}
