@import '../../../../../../../../styles/variables.less';


:host {
    position: relative;
    display: block;
    width: 100%;
    & mat-form-field.full-width {
        display: block;
    }
    & mat-form-field.inline {
        margin-right: 12px;
    }
}
