@import '../../../../styles/variables.less';

app-views-search-input {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 41px;
    width: 100%;
    background: @scheme-color-5;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    div.input {
        display: block;
        flex: auto;
        height: 24px;
        overflow: hidden;
        align-items: center;
        padding-left: 6px;
    }
    div.flags,
    div.extantions {
        display: flex;
        padding: 0px 8px 0 8px;
        & span {
            display: inline-block;
            height: 24px;
            width: 24px;
            color: @scheme-color-0;
            text-align: center;
            padding-top: 4px;
            box-sizing: border-box;
            &:hover{
                background: @scheme-color-4;
            }
            &.active{
                background: @scheme-color-active;
            }
            &.invalid {
                color: @scheme-color-error;
            }
        }
    }
    div.summary {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 6px 0 0;
        & mat-spinner {
            margin-left: 6px;
        }
        & span.error {
            display: flex;
            align-items: center;
            padding-right: 6px;
            & span.message {
                color: @scheme-color-error;
                max-width: 150px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;    
            }
            & mat-icon {
                color: @scheme-color-error;
                height: 16px;
                width: 16px;
                font-size: 16px;
                margin: 0 6px 0 1px;
                line-height: 16px;
            }
        }
    }
    & span.active-filter {
        position: relative;
        display: flex;
        flex-direction: row;
        border-radius: 2px;
        background: @scheme-color-active;
        height: 20px;
        overflow: hidden;
        flex: none;
        margin-right: 8px;
        margin-left: -8px;
        & span.filter {
            position: relative;
            display: inline-block;
            padding: 5px 6px;
            color: @scheme-color-0;
            font-weight: 500;
        }
        & button {
            height: 20px;
            width: 20px;
            padding: 0;
            background: none;
            border:none;
            &.enabled {
                &:hover{
                    background: @scheme-color-4;
                }
            }
            & mat-icon{
                height: 20px;
                width: 20px;
                font-size: 16px;
                text-align: center;
                color: @scheme-color-0;
                padding-top: 2px;
                &.disabled {
                    color: @scheme-color-2;
                }
            }
        }
    }
    & span.small-icon-button.occupied {
        font-size: 13px;
        line-height: 13px;
        padding-top: 6px;
    }
    
}
