<div class="input">
    <mat-form-field class="material-mofication-outline" appearance="outline" [attr.error]="input.error.hasError()">
        <span class="active-filter" *ngIf="active !== undefined">
            <span class="t-console t-small filter">{{active.filter.filter}}</span>
            <button
                [class]="active.isPossibleToSaveAsFilter() ? 'enabled' : ''"
                [disabled]="!active.isPossibleToSaveAsFilter()"
                (click)="onSaveAsFilter()"
            >
                <mat-icon [class]="!active.isPossibleToSaveAsFilter() ? 'disabled' : ''">save</mat-icon>
            </button>
            <button
                [class]="active.isPossibleToSaveAsChart() ? 'enabled' : ''"
                [disabled]="!active.isPossibleToSaveAsChart()"
                (click)="onSaveAsChart()"
            >
                <mat-icon [class]="!active.isPossibleToSaveAsChart() ? 'disabled' : ''">timeline</mat-icon>
            </button>
            <button class="enabled" (click)="drop()">
                <mat-icon>close</mat-icon>
            </button>
        </span>
        <input
            #searchinput
            tabindex="1000"
            type="text"
            [placeholder]="input.isEmpty() ? 'Type a Search Request' : 'Override the search request'"
            aria-label="Filter"
            matInput
            [formControl]="input.control"
            [readonly]="input.readonly"
            [matAutocomplete]="auto"
            [matAutocompleteDisabled]="!input.recent"
            (keyup)="input.keyup($event)"
            (keydown)="input.keydown()"
        />
        <mat-autocomplete
            #auto="matAutocomplete"
            class="regular"
            (closed)="input.onPanelClosed()"
            [classList]="'recent-requests'"
            [disableRipple]="true"
        >
            <mat-option
                class="small"
                *ngFor="let recent of recent.observer | async"
                (click)="input.error.set().value(recent.value)"
                [value]="recent.value"
            >
                <span class="t-console t-small t-subselection" [innerHTML]="recent.html()"></span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>
<div class="flags">
    <span
        tabindex="11"
        title="Match Case"
        [attr.class]="'small-icon-button codicon codicon-case-sensitive ' + (input.flags.cases ? 'active' : 'inactive')"
        (click)="input.set().caseSensitive()"
    ></span>
    <span
        tabindex="12"
        title="Match Whole Word"
        [attr.class]="'small-icon-button codicon codicon-whole-word ' + (input.flags.word ? 'active' : 'inactive')"
        (click)="input.set().wholeWord()"
    ></span>
    <span
        tabindex="13"
        title="Use Regular Expression"
        [attr.class]="'small-icon-button codicon codicon-regex ' + (input.flags.reg ? 'active' : input.error.isValidRegex() ? 'inactive' : 'invalid')"
        (click)="input.set().regex()"
    ></span>
</div>
<div class="summary">
    <span class="error t-medium" *ngIf="input.error.hasError()" [attr.title]="input.error.error">
        <mat-icon>error</mat-icon>
        <span class="message">{{input.error.error}}</span>
    </span>
    <span class="t-small color-scheme-2" *ngIf="progress.visible()">{{progress.summary()}}</span>
    <mat-spinner *ngIf="progress.working" [diameter]="20"></mat-spinner>
</div>
<div class="extantions">
    <span
        tabindex="14"
        (click)="indexed.modes().toggle().breadcrumbs()"
        [attr.class]="'small-icon-button codicon codicon-list-tree ' + (indexed.modes().breadcrumbs() ? 'active' : 'inactive')"
    ></span>
    <span
        tabindex="15"
        (click)="ilc().services.ui.layout.toolbar().occupy()"
        [attr.class]="'small-icon-button occupied codicon codicon-fold-' + (occupied ? 'down' : 'up')"
    ></span>
</div>
