<div    tabindex="0" 
        class="container" 
        #container 
        (wheel)="_ng_onWheel($event)" 
        (window:resize)="_ng_onBrowserWindowResize($event)"
        (keydown)="_ng_onKeyDown($event)">
    <ul class="holder" #holder>
        <li *ngFor="let row of _ng_rows" [ngStyle]="_ng_getItemStyles()">
            <lib-containers-dynamic *ngIf="!_ng_isRowPending(row)" [component]="{ factory: _ng_factory, resolved: false, inputs: row }"></lib-containers-dynamic>
            <div *ngIf="_ng_isRowPending(row)" class="pending"><span>{{row}}</span></div>
        </li>
    </ul>
    <app-lib-complex-infinity-output-sbv *ngIf="_ng_isSVBVisible()" 
        [rowsCount]="_ng_rowsCount"
        [rowHeight]="_ng_rowHeight"
        [update]="_ng_updateSBV"></app-lib-complex-infinity-output-sbv>
</div>