@import '../../../../../styles/variables.less';

:host {
    position: relative;
    display: flex;
    padding: 0 24px;
    margin: 0;
    text-align: left;
    align-items: center;
    white-space: nowrap;
    font-size: 0.9rem;
    font-weight: 400;
    span.title{
        color: @scheme-color-2;
    }
    span.subtitle{
        padding-left: 6px;
        color: @scheme-color-3;
    }
    & span.filler {
        flex: auto;
    }
}
