<app-transport-udp *ngIf="instance[Source.UDP]; let configuration" [configuration]="configuration" [action]="state.action"></app-transport-udp>
<app-transport-tcp *ngIf="instance[Source.TCP]; let configuration" [configuration]="configuration" [action]="state.action"></app-transport-tcp>
<app-transport-serial *ngIf="instance[Source.Serial]; let configuration" [configuration]="configuration" [action]="state.action"></app-transport-serial>
<app-transport-process *ngIf="instance[Source.Process]; let configuration" [configuration]="configuration" [action]="state.action"></app-transport-process>
