<div *ngIf="chart !== undefined">
    <span class="spliter"></span>
    <p class="caption t-normal">Type of Chart</p>
    <lib-primitive-dropdownlist [items]="_ng_types" [onChange]="_ng_onTypeChange" [defaults]="_ng_type"></lib-primitive-dropdownlist>
    <div *ngFor="let option of _ng_options">
        <span class="spliter"></span>
        <p class="caption t-normal">{{option.caption}}</p>
        <lib-containers-dynamic [component]="option.component"></lib-containers-dynamic>
    </div>
    <p class="caption t-normal">Line Color</p>
    <ul class="color colors-hoolder">
        <li [attr.class]="(_ng_colorIndex === i ? 'selected' : '')" *ngFor="let color of _ng_colors; let i = index;" [ngStyle]="{'background': color}" (click)="_ng_onColorSelect(i)"></li>
    </ul>        
</div>
