@scheme-color-0: #FFFFFF;
@scheme-color-1: #eaeaea;
@scheme-color-2: #c0c0c0;
@scheme-color-3: #979797;
@scheme-color-4: #555555;
@scheme-color-5: #333333;
@scheme-color-6: #111111;

@scheme-color-error: rgb(253, 21, 21);
@scheme-color-accent: #617cff;
@scheme-color-warning: #fffd71;
@scheme-color-active: #0ae307;