@import '../../../styles/variables.less';

:host {
    width: 100%;
    position: absolute;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    & p.no-content {
        margin: 12px 12px 0px 12px;
        border-bottom: dotted thin @scheme-color-4;
        padding-bottom: 3px;
    }
    & div.group {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
