<div class="list">
    <p class="no-content t-medium color-scheme-2" *ngIf="state.groups.length === 0">No recently used filters</p>
    <div *ngFor="let group of state.groups">
        <p class="no-content t-medium color-scheme-2" *ngIf="group.caption !== undefined">{{group.caption}}</p>
        <div class="group">
            <div class="collection" *ngFor="let collection of group.collections">
                <app-toolbar-history-preset 
                    (contextmenu)="onCollectionContextmenu(collection, $event)" 
                    [collections]="collection"
                    (click)="use(collection)"></app-toolbar-history-preset>
                <div *ngIf="state.selection().has()" class="selection">
                    <mat-checkbox class="material-mofication-mini" [disableRipple]="true" [(ngModel)]="state.selected[collection.uuid]"></mat-checkbox>
                </div>
            </div>
        </div>
    </div>    
</div>
<div class="controlls" *ngIf="state.selection().has()">
    <button mat-stroked-button class="major-button" (click)="state.selection().export()">Export</button>
    <button mat-stroked-button (click)="state.selection().all()">Select All</button>
    <button mat-stroked-button (click)="state.selection().drop()">Cancel</button>
</div>
<div class="sorting">
    <mat-form-field class="material-mofication-normal">
        <mat-label>List filter</mat-label>
        <mat-select [(ngModel)]="state.filtered" (selectionChange)="onListFilterChange($event)">
            <mat-option *ngFor="let option of state.filters" [value]="option.value">
                {{option.caption}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
