@import '../../../styles/variables.less';

app-layout-area-no-tabs-content {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    & * {
        color: @scheme-color-0;
    }
    h1 {
        font-size: 14px;
    }
    & .menu-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        align-self: center;
    }
    & button.menu-button {
        width: 82px;
        height: 80px!important;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 8px;
        &:first-child{
            margin-left: 0;
        }
        & mat-icon {
            margin-top: 8px;
            margin-bottom: 8px;
            margin-right: 0!important;
            margin-left: 0!important;
        }
    }
    & div.left {
        position: absolute;
        width: 20rem;
        top:0;
        bottom: 0;
        left: 0;
    }
    & div.right {
        position: absolute;
        display: flex;
        left: 20rem;
        right: 0;
        bottom: 0;
        top: 0;
        & mat-card.fill {
            overflow-y: auto;
            overflow-x: hidden;
            width: 100%;
        }
    }
    & div.feature {
        margin: 6px 0;
        padding: 6px 0 0px 0;
    }
}
