<div class="preset-container">
  <div class="preset-container-content">
    <div class="left">
      <mat-card>
        <mat-card-content class="menu-buttons">
          <button class="menu-button" mat-stroked-button [matMenuTriggerFor]="open_file_menu">
            <mat-icon>insert_drive_file</mat-icon>
            <span class="t-small">File(s)</span>
          </button>
          <button class="menu-button" mat-stroked-button [matMenuTriggerFor]="open_stream_menu">
            <mat-icon>cast_connected</mat-icon>
            <span class="t-small">Connections</span>
          </button>
          <button class="menu-button" mat-stroked-button (click)="menu.terminal.apply()">
            <mat-icon>computer</mat-icon>
            <span class="t-small">Terminal</span>
          </button>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Favorited Actions</mat-card-title>
        <mat-card-subtitle>Add/remove favorited actions</mat-card-subtitle>
        <mat-card-content>
          <ng-container *ngIf="pinned.length === 0">
            <p class="t-small">You can add some actions to favorites. Just click on the star (on hover above action).</p>
          </ng-container>
          <ng-container *ngFor="let item of pinned">
            <ng-container *ngIf="item === null">
              <mat-divider></mat-divider>
            </ng-container>
            <app-home-action *ngIf="item !== null" [action]="item" [actions]="actions" [menu]="false"></app-home-action>  
          </ng-container>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="right">
      <mat-card class="no-left-margin fill">
        <mat-card-title>Recently Opened</mat-card-title>
        <mat-card-subtitle>List of recently opened source</mat-card-subtitle>
        <mat-card-content>
          <app-recent-actions></app-recent-actions>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<mat-menu #open_file_menu="matMenu">
  <ng-container *ngFor="let item of menu.file">
    <ng-container *ngIf="item === null">
      <mat-divider></mat-divider>
    </ng-container>
    <app-home-action *ngIf="item !== null" [action]="item" [actions]="actions" [menu]="true"></app-home-action>  
  </ng-container>
</mat-menu>

<mat-menu #open_stream_menu="matMenu">
  <ng-container *ngFor="let item of menu.conenctTo">
    <ng-container *ngIf="item === null">
      <mat-divider></mat-divider>
    </ng-container>
    <app-home-action *ngIf="item !== null" [action]="item" [actions]="actions" [menu]="true"></app-home-action>  
  </ng-container>
</mat-menu>
