<div class="left">
    <p *ngIf="_ng_formats.length > 0" class="label t-normal color-scheme-1">
        <span class="color-scheme-3">Used format: </span><span class="format">{{_ng_formats[0].format}}</span><span *ngIf="_ng_formats.length > 1" [matMenuTriggerFor]="actionsMenu"> (and more {{_ng_formats.length - 1}})</span>
    </p>
    <p *ngIf="_ng_detectingErr !== undefined" class="label t-normal color-scheme-accent">Format isn't detected. {{_ng_detectingErr}}</p>
    <p *ngIf="_ng_detecting" class="label t-normal color-scheme-1">Detecting format...</p>
    <p *ngIf="_ng_isDefaultsDefined()" class="label t-normal color-scheme-1" (click)="_ng_onSetDefaultsFormat()">
        <span class="color-scheme-3">Defaults: </span>
        <span class="defaults" *ngIf="_ng_defaults.year !== undefined">YYYY={{_ng_defaults.year}}</span>
        <span *ngIf="_ng_defaults.month !== undefined">MM={{_ng_defaults.month}}</span>
        <span *ngIf="_ng_defaults.day !== undefined">DD={{_ng_defaults.day}}</span>
    </p>
    <mat-spinner *ngIf="_ng_detecting" [diameter]="24" mode="indeterminate"></mat-spinner>
</div>
<div class="right">
    <button mat-icon-button color="primary" aria-label="Available Actions" [matMenuTriggerFor]="actionsMenu" (mousedown)="_ng_onMenuCall()">
        <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #recent="matMenu">
        <button mat-menu-item *ngFor="let recent of _ng_recent" (click)="_ng_onAddFromRecent(recent)">{{recent}}</button>
    </mat-menu>
    <mat-menu #actionsMenu="matMenu" xPosition="before">
        <div class="time-measurement-menu-item-filter" *ngFor="let format of _ng_formats">
            <div class="left">
                <span class="t-normal color-scheme-1 label">{{format.format}}</span>
            </div>
            <div class="right">
                <button mat-icon-button color="primary" aria-label="Remove" (click)="_ng_onFilterRemove($event, format)">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
        </div>
        <mat-divider *ngIf="_ng_formats.length > 0"></mat-divider>
        <button *ngIf="_ng_recent.length > 0" mat-menu-item [matMenuTriggerFor]="recent">
            <mat-icon>history</mat-icon>
            <span>Recent</span>
        </button>
        <mat-divider *ngIf="_ng_recent.length > 0"></mat-divider>
        <button mat-menu-item (click)="_ng_onAddFormat()" [disabled]="_ng_detecting">
            <mat-icon>add</mat-icon>
            <span>Add DateTime Format</span>
        </button>
        <button mat-menu-item (click)="_ng_onResetAndDetect()" [disabled]="_ng_detecting">
            <mat-icon>youtube_searched_for</mat-icon>
            <span>Detect DateTime Format</span>
        </button>
        <button mat-menu-item (click)="_ng_onSetDefaultsFormat()" [disabled]="_ng_detecting">
            <mat-icon>schedule</mat-icon>
            <span>Set Defaults DateTime Values(YYYY, MM or DD)</span>
        </button>
    </mat-menu>
</div>

