@import '../../../../styles/variables.less';

:host {
    display: block;
    position: absolute;
    height: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-top: thin dotted @scheme-color-1;
    & canvas {
        position: absolute;
        display: block;
        padding: 0;
        margin: 0;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
    }
}
