@import '../../../theme/variables.less';

:host {
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    & p.no-results {
        color: @scheme-color-1;
        padding: 1rem;
    }
}
