<p class="t-normal" *ngIf="_files.length === 0">No any recent files</p>
<div class="input-wrapper" *ngIf="_files.length > 1">
    <lib-primitive-input 
        [type]="'text'"
        [placeholder]="'type name of file'"
        [onChange]="_ng_onFilterChange"
        [autoFocusOnInit]="true"
    ></lib-primitive-input>
</div>
<div class="files" *ngIf="_ng_files.length > 0">
    <table class="files-table">
        <tr [attr.class]="'file-row '" *ngFor="let file of _ng_files" (click)="_ng_open(file)">
            <td class="t-console color-scheme-2" [attr.title]="file.file"><span class="filename">{{file.filename}}</span> <span class="folder">{{file.folder}}</span></td>
            <td class="t-console color-scheme-2">{{file.filters}} filters</td>
        </tr>
    </table>
</div>
