dialog-telnet-settings{
    position    : absolute;
    display     : block;
    top         : 0.5rem;
    left        : 0.5rem;
    bottom      : 0.5rem;
    right       : 0.5rem;
    .settings{
        position: absolute;
        width   : 100%;
        top     :0;
        bottom  : 2.5rem;
        overflow: auto;
        table{
            position    : relative;
            width       : 100%;
            tr{
                &.hidden-settings{
                    max-height: 0rem;
                    overflow: hidden;
                    height: 0rem;
                    position: relative;
                    display: block;
                }
                td:first-child{
                    position    : relative;
                    width       : 100%;
                    font-size   : 0.85rem;
                    padding     : 0.25rem 0;
                    margin      : 0;
                    font-weight :normal;
                    color       : @text-withoutaccente-normal;
                    span:first-child{
                        font-weight : bold;
                    }
                    span{
                        color       : @text-passive-normal
                    }
                }
                td:last-child{
                    padding     : 0.25rem 0.5rem;
                    margin      : 0;
                    position    : relative;
                    min-width   : 10rem;
                }
                .input-cover{
                    position: relative;
                    width   : 100%;
                    height  : 1.5rem;
                }
                td[colspan="2"]{
                    padding: 0;
                    font-weight: bold;
                    border-bottom: thin dotted @grey;
                    min-height: 1.5rem;
                    height: 1.5rem;
                }
                .show-hide{
                    position: absolute;
                    width: 1rem;
                    height: 1rem;
                    right: 0.5rem;
                    top:0.25rem;
                    font-size: 1rem;
                    color: @light-grey;
                    cursor: pointer;
                    transition: all 300ms ease-in-out;
                    &:hover{
                        color: @dark;
                    }
                    &.visible{
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
    .buttons{
        position: absolute;
        width   : 100%;
        height  : 2.5rem;
        bottom  : 0;
    }
}