<ng-container *ngIf="connection === undefined">
    <span>No data about process</span>
</ng-container>
<ng-container *ngIf="connection !== undefined">
    <span class="ext">
        <span [attr.class]="('codicon codicon-terminal ' + (isActive() ? 'active' : ''))"></span>
    </span>
    <div class="info">
        <span class="name t-normal">{{connection.command}}</span>
        <span class="path t-normal">{{connection.cwd}}</span>
    </div>
    <div class="controlls" >
        <span class="small-icon-button codicon codicon-play-circle" *ngIf="element.source.observer === undefined" (click)="restart($event)"></span>
        <span class="small-icon-button codicon codicon-stop-circle" *ngIf="element.source.observer !== undefined" (click)="stop($event)"></span>
    </div>
</ng-container>
