<ul class="list-edus">
    <li *ngFor="let edu of this._structure.values()">
        <p class="entry" (click)="_onEntryClick($event, edu.id)">
            <span [attr.class]="'button fa fa-chevron-circle-down ' + (_isOpened[edu.id] === true && 'open')"></span>
            <span class="name">{{edu.id}}</span>
            <span class="info">
                <span class="col val-1">{{_getCount(edu.id)}}</span>
                <span class="col val-3">{{edu.setting.description}}</span>
                <span class="col val-2">{{edu.setting.logLevel}}</span>
                <span class="col val-2">{{edu.setting.traceStatus}}</span>
            </span>
        </p>
        <ul class="list-apps" *ngIf="_isOpened[edu.id] === true">
            <li *ngFor="let app of edu.map.values()">
                <p class="entry" (click)="_onEntryClick($event, edu.id + app.id)">
                    <span [attr.class]="'button fa fa-chevron-circle-down ' + (_isOpened[edu.id + app.id] === true && 'open')"></span>
                    <span class="name">{{app.id}}</span>
                    <span class="info">
                        <span class="col val-1">{{_getCount(edu.id, app.id)}}</span>
                        <span class="col val-3">{{app.setting.description}}</span>
                        <span class="col val-2">{{app.setting.logLevel}}</span>
                        <span class="col val-2">{{app.setting.traceStatus}}</span>
                    </span>
                </p>
                <ul class="list-cntxs" *ngIf="_isOpened[edu.id + app.id] === true">
                    <li *ngFor="let cntx of app.map.values()">
                        <p class="entry">
                            <span class="name">{{cntx.id}}</span>
                            <span class="info">
                                <span class="col val-1">{{_getCount(edu.id, app.id, cntx.id)}}</span>
                                <span class="col val-3">{{cntx.setting.description}}</span>
                                <span class="col val-2">{{cntx.setting.logLevel}}</span>
                                <span class="col val-2">{{cntx.setting.traceStatus}}</span>
                            </span>
                    </p>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>