@import '../../../theme/scheme.less';

:host {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    height: 100%;
    width: 100%;
    text-align: left;
    & span:last-child{
        padding-right: 0.8rem;
    }
}