<mat-card class="fill sticky">
    <mat-card-content>
      <div class="progress" *ngIf="!state.isStatLoaded()">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          <p class="t-medium color-scheme-2">Scanning DLT structure...</p>
      </div>
      <app-el-dlt-extra-structure *ngFor="let section of state.structure"
        (contextmenu)="ngContextMenu($event)"
        (select)="ngOnEntitySelect()"
        [section]="section"></app-el-dlt-extra-structure>
    </mat-card-content>
</mat-card>