<div class="signature" [ngStyle]="ngGetSignatureWidth()" *ngIf="!row.nature.seporator">
    <span *ngIf="source.color !== undefined" class="source-alias" [ngStyle]="{'background': source.color}"></span>
    <span class="number" [attr.data-bookmarked]="bookmarked" (click)="onNumberClick()">
        <span class="filler">{{ngGetRankFiller(row.position)}}</span>{{row.position}}
    </span>
</div>
<app-scrollarea-rows-separator *ngIf="row.nature.seporator" [row]="row"></app-scrollarea-rows-separator>
<app-scrollarea-row-standard *ngIf="render === 1 && !row.nature.seporator" [row]="row"></app-scrollarea-row-standard>
<app-scrollarea-row-columns *ngIf="render === 2 && !row.nature.seporator" [row]="row"></app-scrollarea-row-columns>
