<div class="title">
    <p class="entity t-normal filler info" *ngIf="state.file !== undefined"><span class="color-scheme-0">{{state.file.name}}</span><span>({{state.size}})</span></p>
    <p class="entity t-normal filler info" *ngIf="state.concat !== undefined">Concating:<span class="color-scheme-0">{{state.concat.length}}files</span><span>({{state.size}})</span></p>
    <div class="entity filler" *ngIf="state.stream !== undefined">
        <p class="t-normal info">Stream From:</p>
        <mat-form-field class="material-mofication-normal black">
            <mat-select [(ngModel)]="state.stream" (ngModelChange)="state.change().stream()">
                <mat-option *ngFor="let stream of state.streams" [value]="stream.ref.alias()" [disabled]="stream.disabled">
                    {{stream.ref.desc().major}}
                </mat-option>
            </mat-select>
        </mat-form-field>    
    </div>
    <div class="entity">
        <p class="t-normal info">Used Parser:</p>
        <mat-form-field class="material-mofication-normal black">
            <mat-select [(ngModel)]="state.parser" (ngModelChange)="state.change().parser()">
              <mat-option *ngFor="let parser of state.parsers" [value]="parser.ref.alias()" [disabled]="parser.disabled">
                {{parser.ref.desc().major}}
              </mat-option>
            </mat-select>
        </mat-form-field> 
    </div>
    <div class="entity">
        <button class="major-button" mat-stroked-button (click)="state.finish()" [disabled]="state.action.disabled">{{state.action.caption}}</button>
        <button mat-stroked-button (click)="state.cancel()">Cancel</button>
    </div>
</div>
<div class="preset-container">
    <div class="preset-container-content w-1400">
        <app-tabs-observe-file *ngIf="observe.origin.configuration.File !== undefined" [state]="state"></app-tabs-observe-file>
        <app-tabs-observe-concat *ngIf="observe.origin.configuration.Concat !== undefined" [state]="state"></app-tabs-observe-concat>
        <app-tabs-observe-stream *ngIf="observe.origin.configuration.Stream !== undefined" [state]="state"></app-tabs-observe-stream>    
    </div>
</div>
