[package]
name = "node-bindings"
version = "0.1.0"
authors = ["Oliver Mueller <oliver.mueller@esrlabs.com>"]
edition = "2018"
# Added becuase: https://github.com/rust-lang/rust/issues/98903
resolver = "2"

[lib]
crate-type = ["cdylib"]

[build-dependencies]
# node-bindgen = { version = "5.0", features = ["build"] }
# Added "default-features = false" becuase: https://github.com/rust-lang/rust/issues/98903
# node-bindgen = {git = "https://github.com/DmitryAstafyev/node-bindgen.git", branch="master", default-features = false, features = ["build"] }
node-bindgen = {git = "https://github.com/infinyon/node-bindgen.git", branch="master", default-features = false, features = ["build"] }

[dependencies]
anyhow = "1.0"
crossbeam-channel = "0.5"
dirs = "5.0"
indexer_base = { path = "../../indexer/indexer_base" }
log = "0.4"
log4rs = "1.2"
merging = { path = "../../indexer/merging" }
# node-bindgen = {git = "https://github.com/DmitryAstafyev/node-bindgen.git", branch="master", features = ["serde-json"] }
node-bindgen = {git = "https://github.com/infinyon/node-bindgen.git", branch="master", features = ["serde-json"] }
# node-bindgen = { version = "5.0", features = ["serde-json"] }
processor = { path = "../../indexer/processor" }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
session = { path = "../../indexer/session" }
sources = { path = "../../indexer/sources" }
thiserror = "1.0"
tokio = { version = "1.24", features = ["full"] }
tokio-util = "0.7"
uuid = { version = "1.3", features = ["serde", "v4"] }

[target.'cfg(windows)'.dependencies]
mimalloc = "0.1"
