[package]
name = "node-bindings"
version = "0.1.0"
authors = ["Oliver Mueller <oliver.mueller@esrlabs.com>"]
edition = "2018"
# Added becuase: https://github.com/rust-lang/rust/issues/98903
resolver = "2"

[lib]
crate-type = ["cdylib"]

[build-dependencies]
# Added "default-features = false" becuase: https://github.com/rust-lang/rust/issues/98903
node-bindgen = { version="6.0", default-features = false, features = ["build"] }
[dependencies]
anyhow = "1.0"
crossbeam-channel = "0.5"
dirs = "5.0"
indexer_base = { path = "../../indexer/indexer_base" }
log = "0.4"
log4rs = "1.2"
merging = { path = "../../indexer/merging" }
node-bindgen = { version="6.0", features = ["serde-json"] }
processor = { path = "../../indexer/processor" }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
session = { path = "../../indexer/session" }
sources = { path = "../../indexer/sources" }
thiserror = "1.0"
tokio = { version = "1.24", features = ["full"] }
tokio-util = "0.7"
uuid = { version = "1.3", features = ["serde", "v4"] }

[target.'cfg(unix)'.dependencies]
tikv-jemallocator = {version = "0.6" , optional = true }

[target.'cfg(windows)'.dependencies]
mimalloc = {version = "0.1" , optional = true }

[features]
default = []
# Feature to use optimized memory allocators per platform.
# Uses `jemalloc` on Unix-based targets and `mimalloc` on Windows.
# This feature won't be enabled by default since these allocators aren't well tested as the defaults.
custom-alloc = ['dep:mimalloc', 'dep:tikv-jemallocator']
proto = { path = "../../protocol/binding/proto" }
prost = "0.13"
prost-types = "0.13"