<app-tabs-config-schema-bool
    *ngIf="config.input_type === 'Boolean'"
    [config]="config"
    [state]="state"
></app-tabs-config-schema-bool>

<app-tabs-config-schema-integer
    *ngIf="config.input_type === 'Number'"
    [config]="config"
    [state]="state"
></app-tabs-config-schema-integer>

<app-tabs-config-schema-float
    *ngIf="config.input_type === 'Float'"
    [config]="config"
    [state]="state"
></app-tabs-config-schema-float>

<app-tabs-config-schema-string
    *ngIf="config.input_type === 'Text'"
    [config]="config"
    [state]="state"
></app-tabs-config-schema-string>

<!-- TODO AAZ: Path and drop-down controls are not implemented yet. -->
