<app-tabs-config-schema-bool
    *ngIf="config.input_type === 'Boolean'"
    [config]="config"
    [state]="state"
/>

<app-tabs-config-schema-integer
    *ngIf="config.input_type === 'Integer'"
    [config]="config"
    [state]="state"
/>

<app-tabs-config-schema-float
    *ngIf="config.input_type === 'Float'"
    [config]="config"
    [state]="state"
/>

<app-tabs-config-schema-string
    *ngIf="config.input_type === 'Text'"
    [config]="config"
    [state]="state"
/>

<app-tabs-config-schema-dropdown
    *ngIf="isDropdownItem(config.input_type)"
    [config]="config"
    [state]="state"
/>

<app-tabs-config-schema-files
    *ngIf="isFilesPicker(config.input_type)"
    [config]="config"
    [state]="state"
/>

<app-tabs-config-schema-dirs
    *ngIf="config.input_type === 'Directories'"
    [config]="config"
    [state]="state"
/>
