@import '../../../../../styles/variables.less';

:host {
  & div.info {
    justify-content: space-between;
    display: flex;
  }
  & div.canvas {
    text-align: left;
    position: relative;
    width: 110%;
    height: 25px;
    margin-bottom: 16px;
    padding-left: 8px;
    & div.holder {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: -5px;
    }
  }
  & div.right {
    display: flex;
    overflow: hidden;
  }
  & p {
    position: relative;
    margin-right: 20px;
  }
  & p.path {
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & mat-icon {
    padding-top: 5px;
  }
  & input {
    width: calc(100% - 8px);
    background: transparent;
    padding-top: 7px;
  }
  & button.mat-stroked-button {
    width: 100%;
    margin-top: 10px;
  }
  & .selected {
    background-color: @scheme-color-active;
  }
  & .hidden {
    display: none
  }
}
