<div [attr.class]="'wrapper ' + (funcBarState.minimized ? 'fb-minimized' : 'fb-maximized') + ' ' + funcLocation">
    <div class="output">
        <div [attr.class]="'primary ' + (_ng_hasActiveSession() ? '' : 'full')" 
             [ngStyle]="_ng_getPrimaryStyle()">
            <app-layout-area-primary></app-layout-area-primary>
        </div>
        <div *ngIf="_ng_hasActiveSession()" class="secondary" [ngStyle]="_ng_getSecondaryStyle()">
            <app-layout-area-secondary [state]="secAreaState"></app-layout-area-secondary>
        </div>
        <div *ngIf="!secAreaState.minimized" class="resizer-sec" (mousedown)="_ng_onResizeFuncTrigger($event)" [ngStyle]="_ng_getToolsResizerStyle()" (mousedown)="_ng_onResizeSecAreaTrigger($event)"></div>
        <div *ngIf="_ng_hasActiveSession()" class="funcs" [ngStyle]="_ng_getToolsStyle()">
            <div class="funcs-caption">
                <div class="injections">
                    <app-layout-sidebar-caption></app-layout-sidebar-caption>
                </div>
                <div class="location" (click)="_ng_onTriggerFuncLocation()">
                    <span class="small-icon-button fas fa-angle-double-left"></span>
                </div>
                <div class="switcher" (click)="_ng_onTriggerFuncState()">
                    <span class="small-icon-button fas fa-arrow-left"></span>
                </div>
            </div>
            <app-layout-func-bar [state]="funcBarState"></app-layout-func-bar>
            <div *ngIf="!funcBarState.minimized" class="resizer-func" (mousedown)="_ng_onResizeFuncTrigger($event)"></div>
        </div>
    </div>
    <app-layout-status-bar></app-layout-status-bar>
    <app-notifications></app-notifications>
    <app-popups></app-popups>
    <app-layout-contextmenu></app-layout-contextmenu>
</div>
