<button mat-icon-button *ngIf="inner.addTitle === undefined" (click)="ngOnAdd()">
    <mat-icon aria-hidden="false" class="mini-button">plus</mat-icon>
</button>
<button mat-stroked-button *ngIf="inner.addTitle !== undefined" (click)="ngOnAdd()">
    <mat-icon aria-hidden="false" class="mini-button">plus</mat-icon>
    {{inner.addTitle}}
</button>

<div *ngFor="let nested of fields">
    <app-settings-scheme-entry
        *ngFor="let field of nested"
        [field]="field"
        [provider]="provider"
    ></app-settings-scheme-entry>
</div>
