@import '../../styles/variables.less';


app-autocomplete-input {
    position: relative;
    display: block;
    width: 100%;
    & mat-form-field.full-width {
        display: block;
    }
    & mat-form-field.outline {
        margin: 0!important;
    }
    & div.mat-form-field-wrapper {
        padding: 0;
    }
    & div.mat-form-field-subscript-wrapper {
        position: relative;
        margin: 0;
    }
    & mat-error {
        color: @scheme-color-warning!important;
        padding: 6px 0;
    }
}