<mat-form-field class="outline" appearance="outline">
    <input
        #input
        tabindex="1"
        type="text"
        [attr.placeholder]="options.placeholder"
        [attr.ariaLabel]="options.label"
        [errorStateMatcher]="error"
        matInput
        [formControl]="control.control"
        [matAutocomplete]="recent_ref"
        [matAutocompleteDisabled]="!control.recent"
        (keyup)="control.keyup($event)"
    />
    <mat-error *ngIf="error.is()">
        {{error.msg()}}
    </mat-error>
    <mat-autocomplete
        #recent_ref="matAutocomplete"
        class="regular"
        (optionSelected)="control.selected($event)"
        (closed)="control.onPanelClosed()"
        [classList]="'recent-requests'"
        [disableRipple]="true"
    >
        <mat-option
            class="small"
            *ngFor="let recent of recent.observer | async"
            [value]="recent.value"                   
        >
            <span class="option-caption" [innerHTML]="recent.html()"
            ></span>
            <mat-icon (click)="ngRemove(recent, $event)">close</mat-icon>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>