<mat-form-field class="material-mofication-outline" [attr.error]="error.is()" appearance="outline">
    <span class="inline-label t-normal" *ngIf="options.inlineLabel !== undefined">{{options.inlineLabel}}</span>
    <input
        #input
        tabindex="2"
        type="text"
        [attr.placeholder]="options.placeholder"
        [attr.ariaLabel]="options.label"
        [errorStateMatcher]="error"
        matInput
        [formControl]="control.control"
        [matAutocomplete]="recent_ref"
        [matAutocompleteDisabled]="!control.recent"
        (keyup)="control.keyup($event)"
    />
    <mat-error *ngIf="error.is()">
        {{error.msg()}}
    </mat-error>
    <mat-autocomplete
        #recent_ref="matAutocomplete"
        class="regular"
        (optionSelected)="control.selected($event)"
        (closed)="control.onPanelClosed()"
        [classList]="'recent-requests'"
        [disableRipple]="true"
    >
        <mat-option
            class="small"
            *ngFor="let recent of recent.observer | async"
            [value]="recent.value"
        >
            <div class="option-wrapper">
                <span class="caption" [innerHTML]="recent.html()"></span>
                <mat-icon (click)="ngRemove(recent, $event)">close</mat-icon>
            </div>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>