<ul class="rules-list">
    <li class="rule" 
        *ngFor="let alias of objectKeys(rules)"
        (mousedown)="onContextMenuRulesMouseDown($event, rules[alias])"
        (contextmenu)="onContextRulesMenu($event, rules[alias])">
        <div class="info">
            <p class="name" (dblclick)="onRuleApplyAsSearch($event, rules[alias])">{{rules[alias].reg}}</p>
        </div>
        <div class="controls">
            <span [attr.class]="'fa fa-eye'" (click)="onClickVisibilityRule($event, rules[alias])"></span>
        </div>
    </li>
</ul>
<div class="rules-controls">
    <button-flat-text [caption]="isSmooth ? 'Smooth: on' : 'Smooth: off'" [handle]="onSmoothToggle"></button-flat-text>
    <button-flat-text [caption]="isLabels ? 'Labels: on' : 'Labels: off'" [handle]="onLabelsToggle"></button-flat-text>
</div>
<ul class="cases-list">
    <li class="case" 
        *ngFor="let alias of objectKeys(cases)"
        (mousedown)="onContextMenuCasesMouseDown($event, cases[alias])"
        (contextmenu)="onContextCasesMenu($event, cases[alias])">
        <div class="info">
            <p class="name" [style.color]="cases[alias].color" (click)="onColorCaseChange($event, cases[alias])">{{cases[alias].name}}</p>
        </div>
        <div class="controls">
            <span [attr.class]="'visibility fa ' + (cases[alias].visibility ? 'fa-eye' : 'fa-eye-slash') + ' ' + + (cases[alias].visibility && 'visible')" (click)="onClickVisibilityCase($event, cases[alias])"></span>
        </div>
    </li>
</ul>
<div class="cases-controls">
    <button-flat-text [caption]="'Hide All'" [handle]="onHideAll"></button-flat-text>
    <button-flat-text [caption]="'Invert'" [handle]="onInvertAll"></button-flat-text>
    <button-flat-text [caption]="'Remove All'" [handle]="onRemoveAll"></button-flat-text>
</div>
