/*Inputs*/
@input-border-color-focused     : rgba(200, 200, 200, 1);
@input-border-color-blur        : rgba(200, 200, 200, 0.001);
@input-text-color-blur          : rgba(20, 20, 20, 0.75);
@input-text-color-focused       : rgba(20, 20, 20, 1);

/*Menu*/
@menu-hover-background          : rgba(200,200,200, 0.4);
@menu-hover-color               : rgba(20, 20, 20, 1);
@menu-passive-color             : rgba(20, 20, 20, 0.75);
@menu-passive-background        : rgba(250,250,250, 1);

/*Text*/
@text-passive-normal            : rgba(30,30,30,1);
@text-withoutaccente-normal     : rgba(160,160,160,1);

/*Views*/
@view-passive-border            : rgba(20,20,20,0.1);
@view-hover-border              : rgba(20,20,20,1);
@view-dragover                  : rgba(240,240,240,1);

/*Buttons*/
@button-flat-passive-background : rgba(250,250,250, 1);
@button-flat-active-background  : rgba(20,20,20,1);
@button-flat-passive-color      : rgba(20,20,20, 1);
@button-flat-active-color       : rgba(250,250,250,1);

/*Lists*/
@list-passive-color             : rgba(30,30,30,1);
@list-hover-color               : rgba(10,10,10,1);
@list-passive-background        : rgba(200,200,200, 0);
@list-hover-background          : rgba(200,200,200, 0.4);
@list-number-background         : rgba(170,170,170, 1);


/*Scroll shadow*/
@scroll-shadow-start            : rgba(150,150,150,0.7);
@scroll-shadow-end              : rgba(150,150,150,0);


/*Common*/
@dark                           : rgba(20,20,20,1);
@dark-opacity-0-4               : rgba(20,20,20,0.4);
@dark-opacity-0-7               : rgba(20,20,20,0.7);
@soft-dark                      : rgba(30,30,30,1);
@light                          : rgba(250,250,250,1);
@light-grey                     : rgba(240,240,240,1);
@soft-red                       : rgba(240,30,30, 1);
@grey                           : rgba(200,200,200,1);
@grey-less                      : rgba(180,180,180, 1);
@grey-opacity-0-4               : rgba(200,200,200,0.4);
@dark-grey                      : rgba(100,100,100,1);
@green                          : rgba(30, 240, 30, 1);
@green-opacity-0-4              : rgba(30, 240, 30, 0.4);
@soft-green                     : rgba(168, 200, 115, 1);
@dark-blue                      : rgba(91, 105, 145, 1);
@light-blue                     : rgba(200,200,250, 1);
@white                          : rgba(255,255,255,1);
@white-opacity-0-5              : rgba(255,255,255,0.5);
@white-opacity-0-8              : rgba(255,255,255,0.8);
@black                          : rgba(0,0,0,1);
@black-opacity-0-2              : rgba(0,0,0,0.2);
@black-opacity-0-4              : rgba(0,0,0,0.2);
@hidden                         : rgba(255,255,255,0.01);


/*Shadows*/
@shadow-normal: 0 0.25rem 0.35rem rgba(0,0,0,0.07);
@shadow-accent: 0 0.25rem 0.35rem rgba(0,0,0,0.2);
@shadow-popup : 0.1rem 0.1rem 0.3rem rgba(0,0,0,0.4);
@shadow-oneside-active: 0 0 0.5rem @grey-opacity-0-4 inset;
@shadow-oneside-passive: 0 0 0rem @hidden inset;
@shadow-menu: 0.15rem 0.15rem 0.15rem @black-opacity-0-4;
@shadow-line: 0.25rem 0.25rem 0.25rem @dark-opacity-0-4;

/*Fonts*/
@font-color-normal: rgba(20,20,20,1);
@font-color-normal-opacity-0-7: rgba(20,20,20,0.7);

/*Backgrounds*/
@background-soft-opacity-0-4: rgba(200,200,200, 0.4);

/*Borders*/
@border-soft: rgba(200,200,200,1);

/*Inputs*/
@input-border-style-focused : thin dotted @input-border-color-focused;
@input-border-style-blur    : thin dotted @input-border-color-blur;

@button-flat-active-border  : thin dotted @button-flat-active-color;
@button-flat-passive-border : thin dotted @button-flat-passive-color;