@import '../../../../styles/variables.less';


:host {
    position: relative;
    display: block;
    padding: 0.5rem;
    margin: 0;
    & div.inputs {
        width: 100%;
        & mat-form-field {
            width: 100%;
        }
    }
    div.controlls {
        text-align: right;
        padding-top: 8px;
        overflow: hidden;
        white-space: nowrap;
        & button {
            margin-left: 16px;
        }
    }
    & mat-hint {
        color: var(--scheme-color-2);
        white-space: nowrap;
    }
    & mat-error {
        color: var(--scheme-color-warning);
    }
    & textarea {
        color: var(--scheme-color-1);
    }
}
