@import '../../../../theme/scheme.less';

:host {
    position: relative;
    display: block;
    white-space: nowrap;
    & p.caption{
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0 1rem 0 0;
        color: @scheme-color-1;
        cursor: default;
        font-size: 0.95rem;
        width: 5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
        user-select: all!important;
        & span.error-icon,
        & span.warning-icon{
            position: relative;
            display: inline-block;
            font-size: 10px;
            line-height: 10px;
            margin-right: 2px;
            vertical-align: top;
            margin-top: 4px;
            margin-left: 4px;
        }
        & span.error-icon{
            color: @scheme-color-error;
        }
        & span.warning-icon{
            color: @scheme-color-warning;
        }
    }
    & p.line{
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0 1rem 0 0;
        color: @scheme-color-1;
        cursor: default;
        font-size: 0.95rem;
        width: 5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
        user-select: all!important;
    }
    & div.content{
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0;
        color: @scheme-color-1;
        font-size: 0.95rem;
        white-space: normal;
        vertical-align: top;
        user-select: all!important;
        width: ~"calc(100% - 12rem)";
        & p{
            padding: 0;
            &.more{
                padding-left: 1rem;
            }
        }
        & span.toggle-button{
            position: absolute;
            top: 2px;
            left: -6px;
            transition: all 100ms ease-in-out;
            &.opened{
                transform: rotateZ(180deg);
            }
        }
        & div.more{
            position: relative;
            text-align: right;
        }

    }
}