list-view-full-line{
    display     : block;
    position    : absolute;
    width       : 100%;
    height      : 100%;
    .lv-full-line-com{
        display     : block;
        position    : absolute;
        width       : 100%;
        height      : 100%;
        .lv-full-line-com-fields{
            position: relative;
            width: 100%;
            height: 100%;
            display: block;
            padding: 0;
            margin: 0;
            list-style: none;
            white-space: nowrap;
            .lv-full-line-com-field{
                position: relative;
                display: inline-block;
                list-style: none;
                padding: 0;
                margin: 0;
                white-space: normal;
                vertical-align: top;
                height: 100%;
                .lv-full-line-com-value-wrapper{
                    position: absolute;
                    top:1.5rem;
                    left:0.5rem;
                    right: 2rem;
                    bottom: 0.5rem;
                    .lv-full-line-com-value{
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: 100%;
                        overflow-x: hidden;
                        overflow-y: auto;
                        margin: 0;
                        padding: 0;
                        word-break: break-word;
                        word-wrap: break-word;
                        .selection{
                            background: @background-match;
                        }
                    }
                }
                .lv-full-line-com-field-caption{
                    padding: 0;
                    font-size: 0.9rem;
                    margin: 0.25rem 0.5rem;
                    cursor: default;
                    color: @grey;
                }
            }
        }

        .lv-full-line-com-back{
            position: absolute;
            top:0.5rem;
            right: 0.5rem;
            width: 1.5rem;
            height: 1.5rem;
        }
    }

}