<div class="lv-full-line-com">
    <ul class="lv-full-line-com-fields">
        <li class="lv-full-line-com-field" *ngFor="let field of fields; let i = index;" [style.width]="(100 / fields.length) + '%'">
            <p class="lv-full-line-com-field-caption">{{field.caption}}</p>
            <div class="lv-full-line-com-textarea">
                <textarea #textarea (contextmenu)="onContextMenu($event)" (mousedown)="onMouseDown(i, $event)" readonly>{{field.value}}</textarea>
            </div>
            <div class="lv-full-line-com-back">
                <span class="icon-button icon fa fa-mail-reply" (click)="onCloseField(i)"></span>
            </div>
        </li>
    </ul>
</div>