@import '../../../../styles/variables.less';

:host {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    & div.container{
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        top:0;
        &.hidden{
            opacity: 0;
            pointer-events: none;
        }
    }
    & div.info-container {
        position: absolute;
        top: 50%;
        left: 50%;
        & span.no-data {
          font-size: 200%;
          color: @scheme-color-0;
        }
        & div.loading {
          margin: -16px 0 0 -16px;
        }
    }
    div.crosshair-vertical {
        height: inherit;
        width: 1px;
        position: absolute;
        background-color: @scheme-color-0;
        pointer-events: none;
    }
    div.tooltip-right {
        margin-left: 1px;
        position: relative;
        display: flex;
        justify-content: left;
      }
      
      div.tooltip-left {
        margin-right: 1px;
        position: relative;
        display: flex;
        justify-content: right;
      }
      
      div.tooltip-text {
        position: relative;
        height: fit-content;
        width: fit-content;
        padding-left: 3px;
        padding-right: 3px;
        color: @scheme-color-0;
        background-color: @scheme-color-3;
      }
      
      div.tooltip-arrow-right {
        position: relative;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid @scheme-color-3;
      }
      
      div.tooltip-arrow-left {
        position: relative;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid @scheme-color-3;
      }
}
