<div class="info-container">
    <mat-spinner *ngIf="this.state.isLoading() && !this.state.noData" [diameter]="32" mode="indeterminate"></mat-spinner>
    <p [ngStyle]="{ 'display': (this.state.noData ? 'block' : 'none') }" class="t-medium color-scheme-3">No Data</p>
</div>
<div [attr.class]="'container filters ' + (this.state.filters === undefined || this.state.noData ? 'hidden' : '')"
     (mousemove)="state.onMouseMove($event)"
     (mouseenter)="state.onMouseEnter(true)"
     (mouseleave)="state.onMouseEnter(false)"
     [ngStyle]="{'cursor': state.showTooltip() ? 'none' : 'default'}"
     (click)="this.state.onClick($event)">
    <div *ngIf="state.showTooltip()" class="crosshair-vertical" [ngStyle]="{ 'margin-left': state.crosshairLeft + 'px' }">
        <div *ngIf="state.showLeftTooltip" class="tooltip-right" [ngStyle]="{'margin-top': state.tooltipTop + 'px'}">
            <div class="tooltip-arrow-right"></div>
            <div class="tooltip-text">{{state.tooltip}}</div>
        </div>
        <div *ngIf="!state.showLeftTooltip" class="tooltip-left" [ngStyle]="{'margin-top': state.tooltipTop + 'px'}">
            <div class="tooltip-text">{{state.tooltip}}</div>
            <div class="tooltip-arrow-left"></div>
        </div>
    </div>
    <canvas [attr.id]="'view-chart-canvas-filters-' + this.session.uuid()"></canvas>
</div>
