<div class="info-container">
    <mat-spinner *ngIf="state.isLoading && !state.hasNoData" [diameter]="32" mode="indeterminate"></mat-spinner>
    <p *ngIf="state.hasNoData" class="t-medium color-scheme-3">No Data</p>
</div>
<div class="container" (click)="state.onClick($event)">
    <canvas [attr.id]="state.EChartName.canvasFilters + '-' + session.uuid()"></canvas>
    <canvas (contextmenu)="state.onContextMenu($event)" [attr.id]="state.EChartName.canvasCharts + '-' + session.uuid()"></canvas>
</div>
<div *ngIf="!state.hasNoData" class="rectangle" [ngStyle]="{'width': state.rectangle.width + 'px', 'left': state.rectangle.left + 'px'}">
