
long-list{
    position: absolute;
    display : block;
    width   : 100%;
    height  : 100%;
    overflow: hidden;
    .wrapper{
        position: absolute;
        display : block;
        width   : 100%;
        height  : 100%;
        overflow: scroll;
        .space-filler{
            position: absolute;
            display : block;
            top     : 0;
            width   : 1px;
        }
        .rows{
            list-style  : none;
            font-size   : 0.75rem;
            color       : @soft-dark;
            padding     : 0 0.5rem;
            margin      : 0;
            list-style  : none;
            display     : block;
            position    : absolute;
            top         : 15px;
            min-width   : ~"calc(100% - 2rem)";
            li{
                display             : block;
                position            : relative;
                white-space         : nowrap;
                list-style          : none;
                padding             : 0;
                margin              : 0;
                &.show{
                    opacity: 1;
                    display: block;
                }
            }
            .max-width-row{
                display             : block;
                position            : relative;
                white-space         : nowrap;
                list-style          : none;
                padding             : 0;
                margin              : 0;
                height              : 0;
                opacity             : 0.01;
                user-select         : none!important;
            }
        }
        .rows.selecting * {
            -webkit-touch-callout   : text;
            -webkit-user-select     : text;
            -khtml-user-select      : text;
            -moz-user-select        : text;
            -ms-user-select         : text;
            user-select             : text;
        }
        .border-top, .border-bottom{
            position: absolute;
            width: ~"calc(100% - 10px)";
            height: 80px;
            opacity: 1;
        }
        .border-top{
            background: -moz-radial-gradient(center, ellipse cover, @scroll-shadow-start 0%, @scroll-shadow-end 71%, @scroll-shadow-end 100%); /* FF3.6-15 */
            background: -webkit-radial-gradient(center, ellipse cover, @scroll-shadow-start 0%,@scroll-shadow-end 71%,@scroll-shadow-end 100%); /* Chrome10-25,Safari5.1-6 */
            background: radial-gradient(ellipse at center, @scroll-shadow-start 0%,@scroll-shadow-end 71%,@scroll-shadow-end 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            top:20px;
            margin-top: -40px;
            &.on{
                animation			: long-list-border-top-on 250ms linear 0ms forwards normal;
                -webkit-animation	: long-list-border-top-on 250ms linear 0ms forwards normal;
                -moz-animation		: long-list-border-top-on 250ms linear 0ms forwards normal;
                -o-animation		: long-list-border-top-on 250ms linear 0ms forwards normal;
            }
            &.off{
                animation			: long-list-border-top-off 150ms ease-in-out 0ms forwards normal;
                -webkit-animation	: long-list-border-top-off 150ms ease-in-out 0ms forwards normal;
                -moz-animation		: long-list-border-top-off 150ms ease-in-out 0ms forwards normal;
                -o-animation		: long-list-border-top-off 150ms ease-in-out 0ms forwards normal;
            }
        }
        .border-bottom{
            background: -moz-radial-gradient(center, ellipse cover, @scroll-shadow-start 0%, @scroll-shadow-end 71%, @scroll-shadow-end 100%); /* FF3.6-15 */
            background: -webkit-radial-gradient(center, ellipse cover, @scroll-shadow-start 0%,@scroll-shadow-end 71%,@scroll-shadow-end 100%); /* Chrome10-25,Safari5.1-6 */
            background: radial-gradient(ellipse at center, @scroll-shadow-start 0%,@scroll-shadow-end 71%,@scroll-shadow-end 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            &.on{
                animation			: long-list-border-bottom-on 250ms linear 0ms forwards normal;
                -webkit-animation	: long-list-border-bottom-on 250ms linear 0ms forwards normal;
                -moz-animation		: long-list-border-bottom-on 250ms linear 0ms forwards normal;
                -o-animation		: long-list-border-bottom-on 250ms linear 0ms forwards normal;
            }
            &.off{
                animation			: long-list-border-bottom-off 150ms ease-in-out 0ms forwards normal;
                -webkit-animation	: long-list-border-bottom-off 150ms ease-in-out 0ms forwards normal;
                -moz-animation		: long-list-border-bottom-off 150ms ease-in-out 0ms forwards normal;
                -o-animation		: long-list-border-bottom-off 150ms ease-in-out 0ms forwards normal;
            }
        }
    }


    @keyframes long-list-border-bottom-on {
        0% { opacity:0; margin-top: 40px;} 100% { opacity:1; margin-top: 0px; }
    }
    @-moz-keyframes long-list-border-bottom-on {
        0% { opacity:0; margin-top: 40px;} 100% { opacity:1; margin-top: 0px; }
    }
    @-webkit-keyframes long-list-border-bottom-on {
        0% { opacity:0; margin-top: 40px;} 100% { opacity:1; margin-top: 0px; }
    }

    @keyframes long-list-border-bottom-off {
        0% { opacity:1; margin-top: 0px;} 100% { opacity:0; margin-top: 40px; }
    }
    @-moz-keyframes long-list-border-bottom-off {
        0% { opacity:1; margin-top: 0px;} 100% { opacity:0; margin-top: 40px; }
    }
    @-webkit-keyframes long-list-border-bottom-off {
        0% { opacity:1; margin-top: 0px;} 100% { opacity:0; margin-top: 40px; }
    }

    @keyframes long-list-border-top-on {
        0% { opacity:0; margin-top: -80px;} 100% { opacity:1; margin-top: -40px; }
    }
    @-moz-keyframes long-list-border-top-on {
        0% { opacity:0; margin-top: -80px;} 100% { opacity:1; margin-top: -40px; }
    }
    @-webkit-keyframes long-list-border-top-on {
        0% { opacity:0; margin-top: -80px;} 100% { opacity:1; margin-top: -40px; }
    }

    @keyframes long-list-border-top-off {
        0% { opacity:1; margin-top: -40px;} 100% { opacity:0; margin-top: -80px; }
    }
    @-moz-keyframes long-list-border-top-off {
        0% { opacity:1; margin-top: -40px;} 100% { opacity:0; margin-top: -80px; }
    }
    @-webkit-keyframes long-list-border-top-off {
        0% { opacity:1; margin-top: -40px;} 100% { opacity:0; margin-top: -80px; }
    }

}