<div #wrapper [attr.class]="'wrapper ' + cssClass" (scroll)="onScrollEvent($event)" (window:resize)="onResize()">
    <div class="space-filler" [style.height] = "component.filler">
    </div>
    <ul #ul class="rows" [style.transform] = "'translateY(' + state.offset + ')'">
        <li #li *ngFor="let row of state.rows;">
            <long-list-item [component]="row"></long-list-item>
        </li>
    </ul>
    <div *ngIf="borders.bottom" [attr.class]="'border-bottom ' + borders.bottomCSSClass" [style.transform]="'translateY(' + borders.bottomPosition + ')'" [style.marginLeft]="borders.left"></div>
    <div *ngIf="borders.top" [attr.class]="'border-top ' + borders.topCSSClass" [style.marginLeft]="borders.left"></div>
</div>
