@import '../../../../styles/variables.less';

:host {
    position: relative;
    display: block;
    width: 100%;
    & table.settings {
        border: 0px;
    }
    & td.setting {
        min-width: 7em;
    }
}
