search-requests-presets{
    position    : absolute;
    display     : block;
    top         : 0.5rem;
    left        : 0.5rem;
    right       : 0.5rem;
    bottom      : 0.5rem;
    overflow    : hidden;
    .spm-main-area{
        position: absolute;
        top:0;
        left:0;
        right: 0;
        bottom: 3rem;
        overflow: hidden;
        border-bottom: thin dotted @grey;
        .spm-title{
            position: relative;
            width: 100%;
            margin: 0;
            padding: 0.5rem 1rem;
            white-space: nowrap;
            overflow: hidden;
            font-size: 0.9rem;
        }
        .spm-info{
            position: relative;
            width: 100%;
            margin: 0;
            padding: 0.5rem 0rem;
            font-size: 0.9rem;
            color: @grey;
        }
        .spm-presets-list{
            position: absolute;
            left:0;
            width: 50%;
            height: 100%;
            overflow: hidden;
            border-right: thin dotted @grey;
            .spm-title{
                padding: 0.5rem 0.5rem;
            }
            .spm-list{
                position: absolute;
                top:0;
                bottom: 0;
                width: ~"calc(100% - 1rem)";
                overflow: hidden;
                padding: 0 0.5rem;
                margin: 0;
                .presets-list{
                    position: absolute;
                    top:0;
                    left:0;
                    bottom: 0;
                    right: 0;
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    .preset-item{
                        position: relative;
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        height: 1.5rem;
                        border: thin dotted rgba(0,0,0,0);
                        font-size: 0.95rem;
                        &:hover{
                            background: @grey;
                        }
                        &.selected{
                            background: @light-grey;
                            border: thin dotted @grey;
                        }
                        .preset-name{
                            position: absolute;
                            left: 0.5rem;
                            right: 3.5rem;
                            height: 100%;
                            top:0;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                        .preset-rename{
                            position: absolute;
                            height: 100%;
                            width: 1.5rem;
                            right: 1.5rem;
                            top:0.25rem;
                            cursor: pointer;
                            &:hover{
                                color: @soft-red;
                                text-shadow: 0 0 0.5rem @white;
                            }
                        }
                        .preset-remove{
                            position: absolute;
                            height: 100%;
                            width: 1.5rem;
                            right: 0;
                            top:0.25rem;
                            cursor: pointer;
                            &:hover{
                                color: @soft-red;
                                text-shadow: 0 0 0.5rem @white;
                            }
                        }
                    }
                }
            }
        }
        .spm-current-request{
            position: absolute;
            left:50%;
            width: 50%;
            height: 100%;
            overflow: hidden;
            .requests-list{
                position: absolute;
                top:0;
                bottom: 0;
                width: ~"calc(100% - 1rem)";
                list-style: none;
                overflow-x: hidden;
                overflow-y: auto;
                padding: 0 0.5rem;
                margin: 0;
                li{
                    position: relative;
                    margin: 0.2rem 0.5rem;
                    padding: 0.2rem 0;
                    border-bottom: thin dotted @light-grey;
                    font-size: 0.90rem;
                    height: 1rem;
                    .value {
                        position: absolute;
                        display: block;
                        top:0;
                        left:0;
                        right: 6rem;
                        height: 100%;
                        overflow    :hidden;
                        text-overflow: ellipsis;
                        padding: 0 0.5rem;
                        white-space: nowrap;
                    }
                    .state{
                        position: absolute;
                        display: block;
                        width: 3rem;
                        right: 2rem;
                        top:0;
                        height: 100%;
                    }
                    .preset-remove{
                        position: absolute;
                        height: 100%;
                        width: 1.5rem;
                        right: 0;
                        top:0.25rem;
                        cursor: pointer;
                        &:hover{
                            color: @soft-red;
                            text-shadow: 0 0 0.5rem @white;
                        }
                    }
                }
            }
        }
    }
    .spm-controls-area{
        position: absolute;
        bottom: 0;
        height: 2.5rem;
        left:0;
        right: 0;
        overflow: hidden;
        .spm-common-buttons{
            position: absolute;
            height: 2.5rem;
            width: 100%;
            top:0;
            overflow: hidden;
            text-align: right;
        }
    }
}