<div class="spm-main-area">
    <div class="spm-presets-list">
        <div class="spm-list">
            <ul *ngIf="presets.length > 0" class="presets-list" (contextmenu)="onContextMenuPreset($event, 0)">
                <li [attr.class]="'preset-item' + (selected === i ? ' selected' : '')"
                    *ngFor="let preset of presets; let i = index;"
                    (contextmenu)="onContextMenuPreset($event, i)"
                    (dblclick)="onSelectPreset($event, i)">
                    <span class="preset-name" (click)="onSelect($event, i)">{{preset.name}}</span>
                    <span *ngIf="i > 0" class="fa fa-pencil preset-rename" (click)="onRename($event, i)"></span>
                    <span *ngIf="i > 0" class="fa fa-trash-o preset-remove" (click)="onRemove($event, i)"></span>
                </li>
            </ul>
            <p class="spm-info" *ngIf="presets.length === 0">No presets are saved</p>
        </div>
    </div>
    <div class="spm-current-request">
        <ul class="requests-list">
            <li *ngFor="let request of requests; let i = index;">
                <span class="value" [style.backgroundColor]="request.backgroundColor" [style.color]="request.foregroundColor">{{request.value}}</span>
                <span class="state">{{request.passive ? '[passive]' : '[active] '}}</span>
                <span *ngIf="selected !== 0" class="fa fa-trash-o preset-remove" (click)="onRemoveRequest($event, i)"></span>
            </li>
        </ul>
    </div>
</div>
<div class="spm-controls-area">
    <div class="spm-common-buttons">
        <button-flat-text [caption]="'Export'" [handle]="onExport"></button-flat-text>
        <button-flat-text [caption]="'Import'" [handle]="onImportFromFile"></button-flat-text>
        <button-flat-text [caption]="'Import by url'" [handle]="onImportByURL"></button-flat-text>
        <button-flat-text [caption]="'Close'" [handle]="onCloseEditor"></button-flat-text>
    </div>
</div>
<a #exporturl [attr.href]="exportdata.url" class="export-url" [attr.download]="exportdata.filename"></a>

