@import '../../../../theme/variables.less';

:host {
    position: relative;
    display: block;
    & div.terminated {
        display: flex;
        width: 100%;
        height: 20px;
        margin-bottom: 5px;
        align-items: center;
        color: @scheme-color-0;
        background-color: @scheme-color-4;
    }
    & span.bundle-title {
        margin-left: 10px;
    }
    & mat-icon.replay {
        display: none;
        width: 16px;
        height: 16px;
        font-size: 16px;
        color: @scheme-color-3;
    }
    & mat-icon.replay:hover {
        color: @scheme-color-0;
    }
    & div.terminated:hover mat-icon.replay {
        display: inline-block;
    }
    & div.colorIndicator {
        width: 6px;
        height: 100%;
        margin-right: 7px;
    }
    & span.command {
        margin-left: 7px;
        overflow: hidden;
        width: 85%;
        height: 100%;
    }
    & .nowrap {
        white-space: nowrap;
    }
    & .mat-icon {
        font-size: 18px;
        width: 18px;
        height: 18px;
        right: 25px;
        position: absolute;
    }
}
