<mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
        <mat-panel-title>Information</mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf="_ng_status === 'loading'" class="spinner">
        <mat-spinner [diameter]="20" mode="indeterminate"></mat-spinner>
    </div>
    <div *ngIf="_ng_status === 'ready'" class="info">
        <p>pwd: {{_ng_information.pwd}}</p>
        <p>Shell: {{_ng_information.shell}}</p>
    </div>
    <div *ngIf="_ng_status === 'error'">
        <p class="error">{{_ng_error}}</p>
    </div>
</mat-expansion-panel>