
<app-recent-nature-file *ngIf="this.as().File(); let origin" [origin]="origin"></app-recent-nature-file>
<app-recent-nature-concat *ngIf="this.as().Concat(); let origin" [origin]="origin"></app-recent-nature-concat>
<app-recent-nature-process *ngIf="this.as().Process(); let origin" [origin]="origin"></app-recent-nature-process>
<app-recent-nature-serial *ngIf="this.as().Serial(); let origin" [origin]="origin"></app-recent-nature-serial>
<app-recent-nature-tcp *ngIf="this.as().TCP(); let origin" [origin]="origin"></app-recent-nature-tcp>
<app-recent-nature-udp *ngIf="this.as().UDP(); let origin" [origin]="origin"></app-recent-nature-udp>