@import '../../../styles/variables.less';

:host {
    display: flex;
    position: absolute;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: @scheme-color-5;
    overflow: hidden;
    & app-views-search-input {
        position: relative;
    }
    & app-views-search-results {
        flex: auto;
    }
}
