:host {
    & .header {
        font-size: 20px;
        display: flex;
        justify-content: center;
        margin: 15px;
    }
    & .message {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
}
