list-view-remarks{
    display     : block;
    position    : absolute;
    width       : 100%;
    height      : 100%;
    .lv-remarks-com{
        position: absolute;
        top:0;
        bottom: 0;
        right:0;
        left:0;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0;
        margin: 0;
        list-style: none;
        .lv-remarks-com-remark{
            position: relative;
            padding: 0.25rem 0;
            margin: 0.25rem 0;
            list-style: none;
            width: 100%;
            border: thin dotted @dark-grey;
            .lv-remarks-com-remark-mark{
                position: absolute;
                top:0.25rem;
                width: 0.25rem;
                height: 1.5rem;
                background: @grey;
            }
            .lv-remarks-com-remark-caption{
                position: relative;
                width: ~"calc(100% - 1rem)";
                height: 1rem;
                margin: 0;
                padding: 0.25rem 0.5rem;
                font-size: 0.75rem;
                color:@grey;
                cursor: pointer;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                user-select: none;
            }
            .lv-remarks-com-remark-wrapper{
                position: relative;
                margin: 0 0.5rem;
                & textarea{
                    position: relative;
                    width: 100%;
                    height: auto;
                    border: none;
                    outline: none;
                    background: @light;
                    color: @dark;
                    font-size: 0.95rem;
                    resize: none;
                    overflow: hidden;
                }
            }
            &.lv-remarks-com-blank{
                opacity: 0.001;
                padding: 0;
                margin: 0;
                .lv-remarks-com-remark-wrapper{
                    & textarea {
                        height: 1px;
                    }
                }

            }
        }
    }
}