<ul class="lv-remarks-com" (contextmenu)="onRootContextMenu($event)">
    <li class="lv-remarks-com-remark" *ngFor="let remark of remarks; let i = index;" [attr.id]="'lv-remarks-com-remark-' + remark.index">
        <span class="lv-remarks-com-remark-mark" [style.background]="remark.color"></span>
        <p class="lv-remarks-com-remark-caption"
           [style.color]="remark.color"
           (contextmenu)="onRemarkContextMenu(i, $event)"
           (click)="onGoToLine(remark)">Line: {{remark.index}} ({{remark.selection}})</p>
        <div class="lv-remarks-com-remark-wrapper">
            <textarea [attr.id]="'lv-remarks-com-' + i"
                      (contextmenu)="onRemarkContextMenu(i, $event)"
                      (keyup)="onChangingRemark(i, $event)"
                      (focus)="onFocus($event)"
                      (blur)="onBlur($event)"
                      (change)="onChangeRemark(i, $event)"
                      placeholder="Input your remark here"
                      [style.height]="getRemarkHeight(i)">{{remark.text}}</textarea>
        </div>
    </li>
    <li class="lv-remarks-com-remark lv-remarks-com-blank">
        <div class="lv-remarks-com-remark-wrapper">
            <textarea [attr.id]="'lv-remarks-com-blank'"></textarea>
        </div>
    </li>
</ul>
