<table>
    <tr>
        <td class="t-medium color-scheme-3">Log level:</td>
        <td class="t-medium color-scheme-2 left-padding">{{getLogLevelName(options.logLevel)}}</td>
        <td class="t-medium left-padding" rowspan="2">
            <tr>
                <td class="t-medium left-padding"><span class="color-scheme-3">apps:</span></td>
                <td class="t-medium"><span class="path color-scheme-2">{{dlt_filters.app_ids.length === 0 ? 'all' : dlt_filters.app_ids.join(', ')}}</span></td>
            </tr>
            <tr>
                <td class="t-medium left-padding"><span class="color-scheme-3">context:</span></td>
                <td class="t-medium"><span class="path color-scheme-2">{{dlt_filters.context_ids.length === 0 ? 'all' : dlt_filters.context_ids.join(', ')}}</span></td>
            </tr>
            <tr>
                <td class="t-medium left-padding"><span class="color-scheme-3">ecu:</span></td>
                <td class="t-medium"><span class="path color-scheme-2">{{dlt_filters.ecu_ids.length === 0 ? 'all' : dlt_filters.ecu_ids.join(', ')}}</span></td>
            </tr>
        </td>
        <td class="t-medium left-padding" rowspan="2">
            <p class="t-medium color-scheme-3">Bound fibex files:</p>
            <p class="t-medium color-scheme-2" *ngIf="options.fibex.length ===0">No any fibex files</p>
            <p class="t-medium color-scheme-2" *ngFor="let fibex of options.fibex">{{fibex}}</p>
        </td>
    </tr>
    <tr>
        <td class="t-medium color-scheme-3">Timezone:</td>
        <td class="t-medium color-scheme-2 left-padding">{{getTimezone()}}</td>
    </tr>
</table>
