<div class="settings">
    <table>
        <tr>
            <td class="table-title" colspan="2"><span>Filter</span> Define filter for ADB logcat stream </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="filters-list-area">
                    <div class="filters-list-wrapper">
                        <ul class="filters-list">
                            <li class="filter-item" *ngFor="let filter of filters; let i = index;">
                                <div *ngIf="!filter.edit" class="fi-value" (click)="onStartEditFilter(i)">
                                    <span>{{filter.value}}</span>
                                </div>
                                <div *ngIf="filter.edit" class="fi-value">
                                    <common-input [autoFocus]="true" [type]="text" [value]="filter.value" [handles]="{ onBlur: onEndEditFilter.bind(this, i)}"></common-input>
                                </div>
                                <div class="fi-level">
                                    <simple-dd-list [items]="_levels" [onChange]="onLevelChange.bind(this,i)" [defaults]="filter.level"></simple-dd-list>
                                </div>
                                <div class="fi-buttons">
                                    <span class="fa fa-trash-o fi-remove" (click)="onFilterRemove(i)"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="filters-controlls">
                        <div class="fi-new">
                            <common-input #newFilter [type]="text" [placeholder]="'Type component name to add new filter'"></common-input>
                        </div>
                        <div class="fi-new-buttons">
                            <button-flat-text [caption]="'Add'" (click)="onNewFilter()"></button-flat-text>
                            <button-flat-text [caption]="'Export'" (click)="onExportFilters()"></button-flat-text>
                            <button-flat-text [caption]="'Import'" (click)="onImportFilters()"></button-flat-text>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="table-title" colspan="2"><span>Customization</span> Default path and custom parameters</td>
        </tr>
        <tr>
            <td><span>PATH</span> Define path to adb SDK or leave it empty and let LogViewer detect it automatically.</td>
            <td class="min-width-20"><div class="input-cover"><common-input  #_path [type]="'text'" [value]="path"></common-input></div></td>
        </tr>
        <tr>
            <td><span>CUSTOM</span> Define custom parameters for logcat</td>
            <td class="min-width-20"><div class="input-cover"><common-input  #_custom [type]="'text'" [value]="custom" [handles]="{ onKeyUp: onCustomChange }"></common-input></div></td>
        </tr>
        <tr>
            <td class="controls" colspan="2">
                <div class="buttons">
                    <button-flat-text [caption]="'Test PATH / CUSTOM'" [handle]="onTest"></button-flat-text>
                </div>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="table-title" colspan="2"><span>Other</span> Other settings of stream</td>
        </tr>
        <tr>
            <td><span>Reset</span> Reset cache of adb logcat before start stream</td>
            <td><simple-checkbox #_reset [checked]="reset"></simple-checkbox></td>
        </tr>
    </table>
</div>
<div class="buttons">
    <button-flat-text [caption]="'Apply'" [handle]="onProceed"></button-flat-text>
    <button-flat-text [caption]="'Cancel'" [handle]="cancel"></button-flat-text>
</div>
<a #exporturl [attr.href]="exportdata.url" class="export-url" [attr.download]="exportdata.filename"></a>
