@import '../../../../../theme/variables.less';

& div.preset {
    display: flex;
    margin-bottom: 6px;
    div.preset-buttons {
        margin-top: 10px;
        margin-left: 10px;
    }
    & input.preset {
        margin-top: 20px;
        margin-bottom: 18px;
        padding: 0;
        border-bottom: dashed 1px @scheme-color-1;
        flex: auto;
        white-space: nowrap;
        color: @scheme-color-0;
    }
}
