<div class="preset">
    <div>
        <div *ngIf="_ng_add">
            <input matInput
                   class="preset"
                   (blur)="_ng_onBlur()"
                   (keyup)="_ng_onKeyUp($event)"
                   [ngStyle]="{ 'color': (_ng_valid ? _ng_colors.valid : _ng_colors.invalid) }"
                   [(ngModel)]="_ng_title"/>
        </div>
        <mat-form-field *ngIf="!_ng_add">
            <mat-label>Preset</mat-label>
            <mat-select [formControl]="_ng_control">
                <mat-option *ngFor="let preset of service.presets" [value]="preset">
                    {{preset.title}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="preset-buttons">
        <button mat-stroked-button color="primary" *ngIf="service.selectedPreset.custom" (click)="_ng_onRemove()">Remove</button>
        <button mat-stroked-button color="primary" *ngIf="!service.selectedPreset.custom" [disabled]="_ng_add" (click)="_ng_onReset()">Reset</button>
    </div>
</div>
