<mat-card class="fill sticky" *ngIf="state !== undefined">
    <mat-card-content>
        <ng-container *ngIf="state.summary !== undefined">
            <table>
                <tr>
                    <td>
                        <p class="t-medium color-scheme-2">
                            Summary: {{state.summary.total.count()}}
                        </p>
                        <table class="table-fill">
                            <tr class="info" *ngFor="let rows of state.summary.total.rows">
                                <ng-container *ngFor="let column of rows | keyvalue">
                                    <td class="caption t-medium color-scheme-3">
                                        {{state.getName(column.key)}}
                                    </td>
                                    <td class="value t-medium color-scheme-2">{{column.value}}</td>
                                </ng-container>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <p class="t-medium color-scheme-2">
                            Selected: {{state.summary.selected.count()}}
                        </p>
                        <table class="table-fill">
                            <tr class="info" *ngFor="let rows of state.summary.selected.rows">
                                <ng-container *ngFor="let column of rows | keyvalue">
                                    <td class="caption t-medium color-scheme-3">
                                        {{state.getName(column.key)}}
                                    </td>
                                    <td class="value t-medium color-scheme-2">{{column.value}}</td>
                                </ng-container>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </ng-container>
        <app-settings-scheme-nested-dictionary-structure
            *ngFor="let section of state.structure"
            (contextmenu)="ngContextMenu($event)"
            (select)="ngOnEntitySelect()"
            [section]="section"
            [state]="state"
        ></app-settings-scheme-nested-dictionary-structure>
    </mat-card-content>
</mat-card>
