<mat-form-field class="material-mofication-normal">
    <mat-label>Connection / Stream Type</mat-label>
    <mat-select [(ngModel)]="state.source" (ngModelChange)="ngOnSourceChange()">
        <mat-option *ngFor="let source of sources" [value]="source.ref">
            {{source.name}}
        </mat-option>
    </mat-select>
</mat-form-field>
<app-transport-udp *ngIf="state.udp !== undefined" [state]="state.udp" [action]="action" [update]="state.updated"></app-transport-udp>
<app-transport-tcp *ngIf="state.tcp !== undefined" [state]="state.tcp" [action]="action" [update]="state.updated"></app-transport-tcp>
<app-transport-serial *ngIf="state.serial !== undefined" [state]="state.serial" [action]="action" [update]="state.updated"></app-transport-serial>
<app-transport-process *ngIf="state.process !== undefined" [state]="state.process" [action]="action" [update]="state.updated"></app-transport-process>
