[package]
name = "session"
version = "0.1.0"
authors = ["esrlabs.com"]
edition = "2024"

[lints]
workspace = true 

[dependencies]
blake3.workspace = true
crossbeam-channel.workspace = true
dirs.workspace = true
dlt-core = { workspace = true, features = ["statistics", "serialization"] }
envvars = { workspace = true }
file-tools = { path = "../addons/file-tools" }
futures.workspace = true
indexer_base = { path = "../indexer_base" }
lazy_static.workspace = true
log.workspace = true
merging = { path = "../merging" }
mime_guess = "2.0"
parsers = { path = "../parsers" }
processor = { path = "../processor" }
rustc-hash = "2.1"
stypes = { path = "../stypes", features=["rustcore"] }
serde = { workspace = true , features = ["derive"] }
serde_json.workspace = true
serialport = "4.6"
sources = { path = "../sources" }
thiserror.workspace = true
tokio = { workspace = true , features = ["full"] }
tokio-stream.workspace = true
tokio-util.workspace = true
uuid = { workspace = true , features = ["serde", "v4"] }
walkdir.workspace = true
plugins_host = {path = "../plugins_host/"}

[dev-dependencies]
lazy_static.workspace = true
tempfile.workspace = true
insta.workspace = true
