[package]
name = "session"
version = "0.1.0"
authors = ["esrlabs.com"]
edition = "2021"

[dependencies]
async-stream = "0.3"
crossbeam-channel = "0.5"
futures = "0.3"
indexer_base = { path = "../indexer_base" }
log = "0.4"
merging = { path = "../merging" }
parsers = { path = "../parsers" }
processor = { path = "../processor" }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sources = { path = "../sources" }
thiserror = "1.0"
tokio = { version = "1.17", features = ["full"] }
tokio-stream = "0.1.5"
tokio-util = "0.7"
uuid = { version = "1.0", features = ["serde", "v4"] }
