@import '../../../theme/variables.less';

:host {
    position: relative;
    display: block;
    width: auto;
    height: 100%;
    white-space: nowrap;
    & * {
        color: @scheme-color-1;
    }
    & div.wrapper{
        position: relative;
        display: block;
        width: auto;
        height: 100%;
        white-space: nowrap;
        &:hover{
            background: @scheme-color-4;
        }
        & div.progress{
            position: relative;
            display: inline-block;
            width: 45px;
            height: 5px;
            margin: 9px 5px 0 5px;
            vertical-align: top;
        }
        & div.title {
            position: relative;
            display: inline-block;
            height: 100%;
            margin: 2px 5px 0 5px;
            vertical-align: top;
        }
    }
    & div.history{
        position: fixed;
        display: block;
        max-height: 20rem;
        width: 20rem;
        max-width: 20rem;
        bottom: @status-bar-height;
        right: unit((@status-bar-height-abs / 2), rem);
        box-sizing: border-box;
        z-index: 2;
    }
}
