<div *ngIf="_ng_showHistory" class="history">
    <lib-containers-frame [content]="_ng_component" [options]="_ng_frame_options"></lib-containers-frame>
</div>
<div class="wrapper" *ngIf="_ng_isInProgress()" (click)="_ng_onToggleHistory()">
    <div class="progress">
        <mat-progress-bar [mode]="_ng_getDeterminate() !== 0 ? 'determinate' : 'indeterminate'" [value]="_ng_getDeterminate()"></mat-progress-bar>
    </div>
    <div class="title t-small">{{_ng_getDeterminate()}}% / {{_ng_tasks.length}} task(s)</div>
</div>

