<app-filter-hidden #filter></app-filter-hidden>
<div class="preset-container">
    <div class="preset-container-content w-1400">
        <div class="left">
            <mat-card class="fill sticky">
                <mat-card-content>
                  <div class="progress" *ngIf="!state.isStatLoaded()">
                      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                      <p class="t-medium color-scheme-2">Scanning DLT structure...</p>
                  </div>
                  <app-tabs-source-dltfile-structure *ngFor="let section of state.structure"
                    (contextmenu)="ngContextMenu($event)"
                    (select)="ngOnEntitySelect($event)"
                    [section]="section"></app-tabs-source-dltfile-structure>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="right">
            <mat-card>
                <mat-card-title>Info</mat-card-title>
                <mat-card-subtitle>File(s) info</mat-card-subtitle>
                <mat-card-content>
                    <table class="table-fill">
                        <tr class="info">
                            <td class="caption t-medium color-scheme-3">Name</td>
                            <td class="value t-medium color-scheme-2">{{getFilesStat().name}}</td>
                        </tr>
                        <tr class="info">
                            <td class="caption t-medium color-scheme-3">Size</td>
                            <td class="value t-medium color-scheme-2">{{getFilesStat().size}}</td>
                        </tr>
                        <tr class="info" *ngIf="getFilesStat().created !== undefined">
                            <td class="caption t-medium color-scheme-3">Created</td>
                            <td class="value t-medium color-scheme-2">{{getFilesStat().created}}</td>
                        </tr>
                        <tr class="info" *ngIf="getFilesStat().changed !== undefined">
                            <td class="caption t-medium color-scheme-3">Changed</td>
                            <td class="value t-medium color-scheme-2">{{getFilesStat().changed}}</td>
                        </tr>
                    </table>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-title>Log level</mat-card-title>
                <mat-card-content>
                    <mat-form-field class="material-mofication-normal stretch">
                        <mat-label>Select required level of logs</mat-label>
                        <mat-select [(ngModel)]="state.logLevel">
                          <mat-option *ngFor="let logLevel of logLevels" [value]="logLevel.value">
                            {{logLevel.caption}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p class="t-medium color-scheme-2">Summary ({{state.summary.total.count}} / {{state.summary.selected.count}})</p>
                    <table class="table-fill" *ngIf="state.summary.total.isLoaded()">
                        <tr class="info" >
                            <td class="caption t-medium color-scheme-3">Fatal</td>
                            <td class="value t-medium color-scheme-2">{{state.summary.total.fatal}}<br/>{{state.summary.selected.fatal}}</td>
                            <td class="caption t-medium color-scheme-3">Error</td>
                            <td class="value t-medium color-scheme-2">{{state.summary.total.error}}<br/>{{state.summary.selected.error}}</td>
                        </tr>
                        <tr class="info">
                            <td class="caption t-medium color-scheme-3">Debug</td>
                            <td class="value t-medium color-scheme-2">{{state.summary.total.debug}}<br/>{{state.summary.selected.debug}}</td>
                            <td class="caption t-medium color-scheme-3">Info</td>
                            <td class="value t-medium color-scheme-2">{{state.summary.total.info}}<br/>{{state.summary.selected.info}}</td>
                        </tr>
                        <tr class="info">
                            <td class="caption t-medium color-scheme-3">Verbose</td>
                            <td class="value t-medium color-scheme-2">{{state.summary.total.verbose}}<br/>{{state.summary.selected.verbose}}</td>
                            <td class="caption t-medium color-scheme-3">Invalid</td>
                            <td class="value t-medium color-scheme-2">{{state.summary.total.invalid}}<br/>{{state.summary.selected.invalid}}</td>
                        </tr>
                        <tr class="info">
                            <td class="caption t-medium color-scheme-3">Total</td>
                            <td class="value t-medium color-scheme-2" colspan="3">{{state.summary.total.total}} / {{state.summary.selected.total}}</td>
                        </tr>
                    </table>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-title>Fibex</mat-card-title>
                <mat-card-subtitle>Attach fibex file (optional)</mat-card-subtitle>
                <mat-card-content>
                    <div class="fibex" *ngIf="state.fibex.length > 0">
                        <mat-chip-listbox aria-label="Fibex files">
                            <mat-chip-option *ngFor="let file of state.fibex" (removed)="ngOnRemoveFibex(file)">
                                {{file.name}}
                                <button matChipRemove>
                                  <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip-option>
                        </mat-chip-listbox>
                    </div>    
                    <mat-divider class="fibex-divider" *ngIf="state.fibex.length > 0"></mat-divider>
                    <div class="fibex-controlls">
                        <button mat-stroked-button (click)="ngOnFibexAdd()">
                            <mat-icon aria-hidden="false" class="mini-button">note_add</mat-icon>
                            Add
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-title>Timezone</mat-card-title>
                <mat-card-subtitle>Select required timezone (optional). UTC is default</mat-card-subtitle>
                <mat-card-content>
                    <span *ngIf="state.timezone !== undefined">
                        {{state.timezone.name}} ({{state.timezone.utc}})
                    </span>
                    <div class="controlls">
                        <button mat-stroked-button (click)="ngTimezoneSelect()">Select</button>
                    </div>
                </mat-card-content>
            </mat-card>
            <div class="spacer"></div>
            <app-tabs-source-actions [action]="action"></app-tabs-source-actions>
        </div>
    </div>
</div>