@import '../../../../styles/variables.less';

:host {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    & div.container{
        position: relative;
        display: block;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        & canvas {
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
        }
    }
    & div.hidden {
        opacity: 0;
        pointer-events: none;
    }
    & div.rectangle {
        height: calc(100% - 2px);
        bottom: 0px;
        pointer-events: none;
        position: absolute;
        border: dashed @scheme-color-1 thin;
    }
}
