@import '../../../../theme/variables.less';

app-sidebar-app-notification {
    position: relative;
    display: flex;
    height: 20px;
    &:hover {
        background: @scheme-color-4;
    }
    & .type {
        position: relative;
        width: 32px;
        min-width: 32px;
        & mat-icon{
            &.accent{
                color: @scheme-color-accent;
            }
            &.warning{
                color: @scheme-color-warning;
            }
            &.error{
                color: @scheme-color-error;
            }
        }
    }
    & .ref,
    & .actions {
        position: relative;
        width: 32px;
        min-width: 32px;
        color: @scheme-color-1;
    }
    & .type,
    & .ref,
    & .actions {
        & mat-icon{
            height: 20px;
            width: 20px;
            font-size: 20px;
        }
    }
    & .caption{
        position: relative;
        width: 8rem;
        min-width: 8rem;
        overflow: hidden;
        text-overflow: ellipsis;
        & > p {
            white-space: nowrap;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            display: inline-block;
            color: @scheme-color-0;
            & > span {
                font-weight: bold;
                color: @scheme-color-accent;
                border-radius: 3px;
            }
        }
    }
    & .message{
        position: relative;
        flex: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        & > p {
            white-space: nowrap;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            display: inline-block;
            color: @scheme-color-2;
            & span {
                font-weight: bold;
                color: @scheme-color-accent;
                border-radius: 3px;
            }
        }
    }
}