<div class="type">
    <mat-icon *ngIf="data.notification.options !== undefined && data.notification.options.type === 'error'" class="error">error_outline</mat-icon>
    <mat-icon *ngIf="data.notification.options !== undefined && data.notification.options.type === 'warning'" class="warning">warning</mat-icon>
    <mat-icon *ngIf="data.notification.options !== undefined && data.notification.options.type === 'accent'" class="accent">notification_important</mat-icon>
</div>
<div class="ref">
    <mat-icon *ngIf="_ng_hasRef()" (click)="_ng_goToLink()">link</mat-icon>
</div>
<div class="actions">
    <mat-icon *ngIf="_ng_hasActions()">assignment_turned_in</mat-icon>
</div>
<div class="caption">
    <p class="t-normal" [innerHTML]="_ng_getSafeHTML(data.match.caption)"></p>
</div>
<div class="message">
    <p class="t-normal" [innerHTML]="_ng_getSafeHTML(data.match.message)"></p>
</div>
