<p class="caption" [attr.title]="notification.caption">
    <span *ngIf="notification.options.type === 'error'" class="error-icon fas fa-exclamation-triangle"></span>
    <span *ngIf="notification.options.type === 'warning'" class="warning-icon fas fa-exclamation-triangle"></span>
    {{notification.caption}}
</p>
<p class="line">{{notification.row}}</p>
<div [attr.class]="'content'">
    <p [attr.class]="'t-normal ' + (notification.buttons !== undefined ? 'more' : '')">{{notification.message}}</p>
    <span   *ngIf="notification.buttons !== undefined && notification.buttons.length !== 0"
            [attr.class]="'toggle-button small-icon-button fas fa-angle-double-down' + (_ng_more ? ' opened' : '')"
            (click)="_ng_onMore()"></span>
    <div class="more" *ngIf="_ng_more && notification.buttons !== undefined">
        <span *ngFor="let button of notification.buttons" class="small-button" (click)="_ng_onButtonClick(button.handler)">{{button.caption}}</span>
    </div>
</div>