@import '../../../../theme/variables.less';

:host {
    position: relative;
    display: block;
    margin: 3px 3px;
    padding: 6px 3px;
    background: @scheme-color-4;
    cursor: default;
    border-radius: 3px;
    &:hover {
        background: @scheme-color-3;
    }
}
