@import '../../../theme/variables.less';

:host {
    position: relative;
    display: block;
    width: auto;
    height: 100%;
    & * {
        color: @scheme-color-1;
    }
    & p.wrapper{
        position: relative;
        display: block;
        width: auto;
        height: 100%;
        white-space: nowrap;
        padding-top: 2px;
        padding-right: 8px;
        padding-left: 8px;
    }
}
