@import '../../../../../../../../styles/variables.less';


:host {
    position: relative;
    display: block;
    width: 100%;
    p.settings {
        margin: 8px 0;
    }
    div.controlls{
        text-align: right;
    }
}