<div class="path">
    <app-autocomplete-input #path [options]="pathInputOptions"
        (edit)="onPathChange($event)"
        (enter)="onPathEnter()"
        (panel)="panel()"></app-autocomplete-input>
    <button tabindex="-1" class="flat-codicon-button" [matMenuTriggerFor]="menu">
        <ng-container *ngIf="state.loaded">Detected ports ({{state.ports.length}})</ng-container>
        <ng-container *ngIf="!state.loaded">
            <span>Scanning</span>
            <mat-spinner [diameter]="16"></mat-spinner>
        </ng-container>
    </button>
</div>
<mat-divider></mat-divider>
<p class="settings t-medium color-scheme-2">Settings</p>
<mat-form-field class="material-mofication-normal row">
    <mat-label>Baud Rate</mat-label>
    <mat-select [(ngModel)]="state.baudRateProxy" (ngModelChange)="state.baudRateChange()">
        <mat-option *ngFor="let value of state.BAUD_RATE" [value]="value">
            {{value}}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field class="material-mofication-normal row" *ngIf="state.isBoudRateCustom()">
    <mat-label>Custom Baud Rate</mat-label>
    <input matInput [(ngModel)]="state.configuration.configuration.baud_rate" (ngModelChange)="state.baudRateChange()">
</mat-form-field>
<mat-form-field class="material-mofication-normal row">
    <mat-label>Data Bits</mat-label>
    <mat-select [(ngModel)]="state.configuration.configuration.data_bits">
        <mat-option *ngFor="let value of state.DATA_BITS" [value]="value">
            {{value}}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field class="material-mofication-normal row">
    <mat-label>Flow Control</mat-label>
    <mat-select [(ngModel)]="state.configuration.configuration.flow_control">
        <mat-option *ngFor="let keyvalue of state.FLOW_CONTROL" [value]="keyvalue.value">
            {{keyvalue.name}}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field class="material-mofication-normal row">
    <mat-label>Parity</mat-label>
    <mat-select [(ngModel)]="state.configuration.configuration.parity">
        <mat-option *ngFor="let keyvalue of state.PARITY" [value]="keyvalue.value">
            {{keyvalue.name}}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field class="material-mofication-normal row">
    <mat-label>Stop Bits</mat-label>
    <mat-select [(ngModel)]="state.configuration.configuration.stop_bits">
        <mat-option *ngFor="let value of state.STOP_BITS" [value]="value">
            {{value}}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field class="material-mofication-normal row">
    <mat-label>Exclusive opening</mat-label>
    <mat-select [(ngModel)]="state.configuration.configuration.exclusive">
        <mat-option *ngFor="let keyvalue of state.EXCLUSIVE" [value]="keyvalue.value">
            {{keyvalue.name}}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field class="material-mofication-normal row">
    <mat-label>Delay on writing</mat-label>
    <mat-select [(ngModel)]="state.configuration.configuration.send_data_delay">
        <mat-option *ngFor="let keyvalue of state.DELAY" [value]="keyvalue.value">
            {{keyvalue.name}}
        </mat-option>
    </mat-select>
</mat-form-field>
<div class="controlls">
    <button mat-stroked-button (click)="state.defaluts()">Drop Setting To Defaults</button>
</div>
<mat-menu #menu="matMenu" class="app-transport-process-menu">
    <ng-container *ngIf="state.loaded">
        <ng-container *ngIf="state.ports.length === 0">
            <p class="material-menu-label">No ports found</p>
        </ng-container>
        <ng-container *ngIf="state.ports.length > 0">
            <button *ngFor="let port of state.ports" mat-menu-item (click)="selectDetectedPort(port)">
                <div class="shell-profile">
                    <span class="shell-name">{{port}}</span>
                </div>
            </button>                
        </ng-container>
    </ng-container>
    <ng-container *ngIf="!state.loaded">
        <p class="material-menu-label">Scanning for available ports...</p>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-container>
</mat-menu>