<p class="no_devices" *ngIf="state.isEmpty()">No devices detected</p>
<div *ngIf="!state.isEmpty()">
    <mat-form-field class="material-mofication-normal">
        <mat-label>Path to serial port</mat-label>
        <mat-select [(ngModel)]="state.configuration.configuration.path" (ngModelChange)="state.history().update($event)">
            <mat-option *ngFor="let port of state.ports" [value]="port">
                {{port}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-divider></mat-divider>
    <p class="settings t-medium color-scheme-2">Settings</p>
    <mat-form-field class="material-mofication-normal row">
        <mat-label>Baud Rate</mat-label>
        <mat-select [(ngModel)]="state.baudRateProxy" (ngModelChange)="state.baudRateChange()">
            <mat-option *ngFor="let value of state.BAUD_RATE" [value]="value">
                {{value}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="material-mofication-normal row" *ngIf="state.isBoudRateCustom()">
        <mat-label>Custom Baud Rate</mat-label>
        <input matInput [(ngModel)]="state.configuration.configuration.baud_rate" [errorStateMatcher]="state.errors.baudRate" (ngModelChange)="state.baudRateChange()">
        <mat-error *ngIf="state.errors.baudRate.getErrorCode() === 'INVALID'">
            Please enter a valid u32 value
        </mat-error>
        <mat-error *ngIf="state.errors.baudRate.getErrorCode() === 'REQUIRED'">
            <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="material-mofication-normal row">
        <mat-label>Data Bits</mat-label>
        <mat-select [(ngModel)]="state.configuration.configuration.data_bits">
            <mat-option *ngFor="let value of state.DATA_BITS" [value]="value">
                {{value}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="material-mofication-normal row">
        <mat-label>Flow Control</mat-label>
        <mat-select [(ngModel)]="state.configuration.configuration.flow_control">
            <mat-option *ngFor="let keyvalue of state.FLOW_CONTROL" [value]="keyvalue.value">
                {{keyvalue.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="material-mofication-normal row">
        <mat-label>Parity</mat-label>
        <mat-select [(ngModel)]="state.configuration.configuration.parity">
            <mat-option *ngFor="let keyvalue of state.PARITY" [value]="keyvalue.value">
                {{keyvalue.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="material-mofication-normal row">
        <mat-label>Stop Bits</mat-label>
        <mat-select [(ngModel)]="state.configuration.configuration.stop_bits">
            <mat-option *ngFor="let value of state.STOP_BITS" [value]="value">
                {{value}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="controlls">
        <button mat-stroked-button (click)="state.defaluts()">Drop Setting To Defaults</button>
    </div>
</div>
