@import '../../../styles/variables.less';
@import '../../../styles/support.less';

:host {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
    cursor: default;
    background: @scheme-color-5;
    & div.scrollfiller {
        position: relative;
        width: 1px;
        height: 10000000px;
    }
}
