@import '../../../styles/variables.less';


:host {
    position: relative;
    display: block;
    & app-tabs-settings-entry {
        margin: 6px 0;
    }
    & app-tabs-settings-node {
        margin: 6px 0;
    }
    & p.node {
        text-align: right;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            display: block;
            height: 1px;
            width: 100%;
            border-top: dashed thin @scheme-color-active;
            left: 0;
            top: 11px;
            z-index: 0;
        }
        & span {
            position: relative;
            display: inline-block;
            background: @scheme-color-active;
            border-radius: 3px;
            padding: 1px 12px 3px 12px;
            z-index: 1;
        }
    }
}