dialog-markers-manager{
    position    : absolute;
    width       : 100%;
    height      : 100%;
    overflow-x  : hidden;
    overflow-y  : auto;
    display     : block;
    ul{
        position        : absolute;
        padding         : 1rem 0;
        margin          : 0;
        list-style      : none;
        top             : 0;
        bottom          : 2.5rem;
        overflow-x      : hidden;
        overflow-y      : auto;
        left            : 0.5rem;
        right           : 0.5rem;
        li{
            position        : relative;
            padding         : 0.5rem 0;
            margin          : 0;
            border-bottom   : 1px dotted @grey;
            list-style      : none;
        }
    }
    div.markers-list-buttons{
        position    : absolute;
        bottom      : 0;
        left        : 0.5rem;
        right       : 0.5rem;
        height      : 2.5rem;
        overflow    : hidden;
        text-align  : right;
    }
}