<app-views-observed-list-title [title]="'New Command'" [buttons]="buttons" [opened]="state.quicksetup" (toggled)="toggled($event)"></app-views-observed-list-title>
<div *ngIf="state.quicksetup" class="quicksetup">
    <app-process-quicksetup #quicksetupref [configuration]="initial" [session]="provider.session" [action]="action"></app-process-quicksetup>
</div>
<div *ngIf="tailing.length > 0">
    <app-views-observed-list-title [title]="'Running'" [subtitle]="tailing.length.toString()"></app-views-observed-list-title>
    <app-views-observed-list-item *ngFor="let element of tailing" [element]="element"></app-views-observed-list-item>
</div>
<div *ngIf="offline.length > 0">
    <app-views-observed-list-title [title]="'Finished'" [subtitle]="offline.length.toString()"></app-views-observed-list-title>
    <app-views-observed-list-item *ngFor="let element of offline" [element]="element"></app-views-observed-list-item>
</div>