<div *ngIf="_ng_isPending() === false" 
    [attr.class]="'wrapper noreset ' + _ng_getAdditionCssClass()" 
    (contextmenu)="_ng_onContextMenu()">
    <div class="container" #numbernode>
        <span   class="source-alias"
                (click)="_ng_onNumberClick()"
                [ngStyle]="{'background': _ng_sourceColor}"
                [attr.data-source-name]="_ng_sourceName"></span>
        <span   class="number"
                (click)="_ng_onNumberClick()">
                    <span class="filler">{{_ng_number_filler}}</span>{{_ng_number}}{{_ng_numberDelimiter}}
                    <span   *ngIf="_ng_isRangeVisible()"
                            [attr.class]="'range ' + _ng_getRangeCssClass()"
                            [ngStyle]="_ng_getRangeStyle()"
                            [style.--range-color]="_ng_getRangeColor()"></span>
                </span>
        <span   class="error fas fa-exclamation-circle" 
                *ngIf="_ng_error !== undefined"
                [attr.title]="_ng_error"></span>
    </div>
    <app-views-output-row-standard
        #rendercomp  
        *ngIf="_ng_render === 'standard'"
        [str]="str" 
        [sessionId]="sessionId" 
        [position]="position" 
        [pluginId]="pluginId"
        [source]="_ng_sourceName"
        [parent]="parent"
        [api]="api"
        (click)="_ng_onRowSelect($event)"></app-views-output-row-standard>
    <app-views-output-row-columns
        #rendercomp  
        *ngIf="_ng_render === 'columns'"
        [str]="str" 
        [sessionId]="sessionId" 
        [position]="position" 
        [pluginId]="pluginId"
        [source]="_ng_sourceName"
        [api]="api"
        [parent]="parent"
        [render]="_ng_render_api" 
        (click)="_ng_onRowSelect($event)"></app-views-output-row-columns>
    <app-views-output-row-external
        #rendercomp
        *ngIf="_ng_component !== undefined"
        [str]="str" 
        [sessionId]="sessionId" 
        [position]="position" 
        [pluginId]="pluginId"
        [source]="_ng_sourceName"
        [parent]="parent"
        [api]="api"
        [component]="_ng_component"
        (click)="_ng_onRowSelect($event)"></app-views-output-row-external>
</div>
<div *ngIf="_ng_isPending() === true" [attr.class]="'wrapper noreset ' + (_ng_bookmarked ? 'bookmarked' : '')">
    <div class="container">
        <!-- <span class="source-name" *ngIf="_ng_source">n/d</span>
        <span class="source-alias" *ngIf="!_ng_source"></span> -->
        <span class="number"><span class="filler">{{_ng_number_filler}}</span>{{_ng_number}}</span>
    </div>
    <p class="row pending"><span></span></p>
</div>
<span *ngIf="_ng_tooltip !== undefined" class="t-small tooltip" [ngStyle]="_ng_getTooltipStyle()">{{_ng_tooltip.content}}</span>
    