<ul class="statemonitor-manager-wrapper">
    <li *ngFor="let indicate of indicates; let i = index;">
        <view-controller-state-manager-item [indicate]="indicate"
                                            [onIndicateRemoveHandle]="onIndicateRemove.bind(this, i)"
                                            [onIndicateUpdateHandle]="onIndicateUpdate.bind(this, i)" ></view-controller-state-manager-item>
    </li>
</ul>
<div class="buttons">
    <button-flat-text [caption]="'Add Indicate'" [handle]="addIndicate"></button-flat-text>
    <button-flat-text [caption]="'Remove All'" [handle]="onRemoveAll"></button-flat-text>
    <button-flat-text [caption]="'Edit As JSON'" [handle]="onEditAsJSON"></button-flat-text>
    <button-flat-text [caption]="'Import States'" [handle]="onImport"></button-flat-text>
    <button-flat-text [caption]="'Export States'" [handle]="onExport"></button-flat-text>
</div>
<a #exporturl [attr.href]="exportdata.url" class="export-url" [attr.download]="exportdata.filename"></a>