<mat-expansion-panel [disabled]="true" [expanded]="true" [hideToggle]="true">
    <mat-expansion-panel-header class="nowrap">
        <mat-panel-title>Logcat</mat-panel-title>
        <mat-panel-description *ngIf="_ng_deviceSelected.name !== _ng_noDevice.name"
            >{{_ng_amount}}</mat-panel-description
        >
    </mat-expansion-panel-header>
    <div *ngIf="service.status === 'init'">
        <p class="t-small">Checking for adb</p>
        <mat-spinner [diameter]="15" mode="indeterminate"></mat-spinner>
    </div>
    <div *ngIf="service.status === 'error'">
        <p class="t-small">{{service.errorMessage}}</p>
    </div>
    <div *ngIf="service.status === 'ready'">
        <div class="dropdown-container">
            <mat-form-field class="form-field" appearence="fill">
                <mat-label>Device</mat-label>
                <mat-select
                    [(value)]="_ng_deviceSelected"
                    [class]="_ng_deviceSelected.name === _ng_noDevice.name ? 'none' : ''"
                    (selectionChange)="_ng_onDeviceChange()"
                    (openedChange)="_ng_onDeviceOpen($event)"
                >
                    <mat-option
                        class="small t-console t-small"
                        [value]="device"
                        *ngFor="let device of _ng_devices"
                        >{{ device.name }}</mat-option
                    >
                    <mat-option
                        class="spinner"
                        [ngStyle]="{ 'display': _ng_loadDevicesDone ? 'none' : '' }"
                        [disabled]="true"
                    >
                        <div class="process spinner-holder">
                            <mat-spinner [diameter]="15" mode="indeterminate"></mat-spinner>
                        </div>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="dropdown-container">
            <mat-form-field class="form-field" appearence="fill">
                <mat-label>Process</mat-label>
                <mat-select
                    [(value)]="_ng_processSelected"
                    [class]="_ng_processSelected.caption === _ng_noProcessPair.caption ? 'none' : ''"
                    (keyup)="_ng_onKeyup($event)"
                    (selectionChange)="_ng_onChange()"
                    (openedChange)="_ng_onProcessOpen($event)"
                >
                    <mat-option
                        appScrollIntoView
                        [trigger]="_ng_scrollIntoViewTrigger"
                        [value]="_ng_noProcessPair"
                        [attr.title]="_ng_noProcessPair.caption"
                        (mousedown)="_ng_onProcessMousedown(_ng_noProcessPair)"
                        class="process small t-console t-small"
                    >
                        <span class="noreset process-caption">{{_ng_noProcessPair.caption}}</span>
                    </mat-option>
                    <mat-option
                        *ngFor="let processPair of _ng_processPairs"
                        [value]="processPair"
                        [attr.title]="processPair.caption"
                        (mousedown)="_ng_onProcessMousedown(processPair)"
                        class="process small t-console t-small"
                    >
                        <span
                            class="noreset process-caption"
                            [innerHTML]="_ng_getSafeHTML(processPair.tcaption === undefined ? processPair.caption : processPair.tcaption)"
                        ></span>
                    </mat-option>
                    <mat-option
                        class="spinner"
                        [ngStyle]="{ 'display': _ng_loadProcessesDone ? 'none' : '' }"
                        [disabled]="true"
                    >
                        <div class="process spinner-holder">
                            <mat-spinner [diameter]="15" mode="indeterminate"></mat-spinner>
                        </div>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="dropdown-container">
            <mat-form-field class="form-field" appearence="fill">
                <mat-label>Loglevel</mat-label>
                <mat-select [(value)]="_ng_logLevelSelected" (selectionChange)="_ng_onChange()">
                    <mat-option
                        class="small t-console t-small"
                        [value]="level.flag"
                        *ngFor="let level of _ng_logLevels"
                        >{{ level.name }}</mat-option
                    >
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</mat-expansion-panel>
<div *ngIf="_ng_processSearchTerm !== ''" class="process-search">
    <span class="search-term">{{_ng_processSearchTerm}}</span>
    <mat-icon class="search-close" (click)="_ng_onCloseSearch()">close</mat-icon>
</div>
