topbar-space-holder{
    position: absolute;
    display : block;
    top     : 2.5rem;
    left    : 0;
    width   : 100%;
    height  : 100%;
    &.desktop{
        top:0;
    }
    ul.shortcuts{
        display     : block;
        position    : absolute;
        width       : 100%;
        height      : 100%;
        list-style  : none;
        padding     : 0;
        margin      : 0;
        li{
            position    : relative;
            display     : inline-block;
            width       : 2.5rem;
            height      : 2.5rem;
            margin      : 0!important;
            padding     : 0!important;
            span.fa{
                display : block;
                margin  : 0;
                position: absolute;
                top     : 0.6rem;
                left    : 0.7rem;
            }
            &:hover{
            }
        }
    }

    .shortcuts{
        position: relative;
    }
}