<mat-checkbox class="material-mofication-mini" [disableRipple]="true" [checked]="state.active" (change)="_ng_onStateChange($event)"></mat-checkbox>
<div class="doubleclick" (dblclick)="_ng_onDoubleClick($event)">
    <span class="color" [ngStyle]="{'background': state.color}"></span>
    <span class="request" *ngIf="!entity.getEditState().state()">{{state.filter}}</span>
    <input #requestInput *ngIf="entity.getEditState().state()"
        matInput
        class="request"
        placeholder="Request"
        (keyup)="_ng_onRequestInputKeyUp($event)"
        (blur)="_ng_onRequestInputBlur()"
        [(ngModel)]="state.filter"/>
</div>
<span class="found" *ngIf="state.found !== 0">{{state.found}}</span>