<app-views-observed-list-title [title]="'Attach New File'" [buttons]="buttons" [opened]="state.quicksetup" (toggled)="toggled($event)"></app-views-observed-list-title>
<div *ngIf="state.quicksetup" class="quicksetup">
    <p *ngIf="warning !== undefined" class="t-normal color-scheme-2">{{warning}}</p>
    <div class="controlls">
        <button mat-stroked-button (click)="attach()" [disabled]="warning !== undefined">Attach Files</button>
    </div>
</div>
<div *ngIf="tailing.length > 0">
    <app-views-observed-list-title [title]="'Tailing'" [subtitle]="tailing.length.toString()"></app-views-observed-list-title>
    <app-views-observed-list-item *ngFor="let element of tailing" [element]="element"></app-views-observed-list-item>
</div>
<div *ngIf="offline.length > 0">
    <app-views-observed-list-title [title]="'Opened'" [subtitle]="offline.length.toString()"></app-views-observed-list-title>
    <app-views-observed-list-item *ngFor="let element of offline" [element]="element"></app-views-observed-list-item>
</div>