<mat-expansion-panel
    (click)="_ng_onPanelClick()"
    [expanded]="_ng_panels.binding"
    (opened)="_ng_onPanelToggle('binding', true)"
    (closed)="_ng_onPanelToggle('binding', false)">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Basic options
        </mat-panel-title>
        <mat-panel-description>
            IP and PORT
        </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field>
        <input matInput placeholder="ECU ID" [(ngModel)]="_ng_settings.ecu" [disabled]="_ng_state === 'disconnected' ? null : true" [errorStateMatcher]="_ng_errorStates.ecu">
        <mat-error *ngIf="_ng_errorStates.ecu.getErrorCode() === 'INVALID'">
            Use can use not more 4 symbols
        </mat-error>
        <mat-error *ngIf="_ng_errorStates.ecu.getErrorCode() === 'REQUIRED'">
           <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="IP Address" [(ngModel)]="_ng_settings.bindingAddress" [disabled]="_ng_state === 'disconnected' ? null : true" [errorStateMatcher]="_ng_errorStates.bindingAddress">
        <mat-error *ngIf="_ng_errorStates.bindingAddress.getErrorCode() === 'INVALID'">
            Please enter a valid IPv4 address
        </mat-error>
        <mat-error *ngIf="_ng_errorStates.bindingAddress.getErrorCode() === 'REQUIRED'">
            <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Port" [(ngModel)]="_ng_settings.bindingPort" [disabled]="_ng_state === 'disconnected' ? null : true" [errorStateMatcher]="_ng_errorStates.bindingPort">
        <mat-error *ngIf="_ng_errorStates.bindingPort.getErrorCode() === 'INVALID'">
            Please enter a valid port value
        </mat-error>
        <mat-error *ngIf="_ng_errorStates.bindingPort.getErrorCode() === 'REQUIRED'">
            <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <span class="slitter"></span>
    <mat-checkbox [(ngModel)]="_ng_settings.multicast" (change)="_ng_onMuliticastingStateChange($event)" [disabled]="_ng_state === 'disconnected' ? null : true">UDP muliticast</mat-checkbox>
</mat-expansion-panel>

<span class="slitter"></span>

<mat-expansion-panel 
    *ngIf="_ng_settings.multicast"
    (click)="_ng_onPanelClick()"
    [expanded]="_ng_panels.multicast"
    (opened)="_ng_onPanelToggle('multicast', true)"
    (closed)="_ng_onPanelToggle('multicast', false)">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Multicast
        </mat-panel-title>
        <mat-panel-description>
            IP and Interface
        </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field>
        <input matInput placeholder="IP Address" [(ngModel)]="_ng_settings.multicastAddress" [disabled]="_ng_state === 'disconnected' ? null : true" [errorStateMatcher]="_ng_errorStates.multicastAddress">
        <mat-error *ngIf="_ng_errorStates.multicastAddress.getErrorCode() === 'INVALID'">
            Please enter a valid IPv4 address
        </mat-error>
        <mat-error *ngIf="_ng_errorStates.multicastAddress.getErrorCode() === 'REQUIRED'">
            <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Interface" [(ngModel)]="_ng_settings.multicastInterface" [disabled]="_ng_state === 'disconnected' ? null : true" [errorStateMatcher]="_ng_errorStates.multicastInterface">
        <mat-error *ngIf="_ng_errorStates.multicastInterface.getErrorCode() === 'INVALID'">
            Please define valid interface
        </mat-error>
        <mat-error *ngIf="_ng_errorStates.multicastInterface.getErrorCode() === 'REQUIRED'">
            <strong>required</strong>
        </mat-error>
    </mat-form-field>
</mat-expansion-panel>

<span class="slitter"></span>

<div *ngIf="_ng_state === 'progress'" class="progress">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <span class="slitter"></span>
</div>

<div class="controlls">
    <button *ngIf="_ng_state === 'disconnected'" mat-stroked-button color="primary" (click)="_ng_onConnectClick()" [disabled]="_ng_isSettingsValid() ? null : true">Connect</button>
    <button *ngIf="_ng_state === 'connected'" mat-stroked-button color="primary" (click)="_ng_onDisconnectClick()">Disconnect</button>
</div>
