
<mat-expansion-panel
    (contextmenu)="_ng_onContexMenu($event)"
    [expanded]="true"
    [hideToggle]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Basic options
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
        <input
            matInput
            placeholder="Preset name"
            [(ngModel)]="_ng_settings.ecu"
            (ngModelChange)="_ng_onECUChange($event)"
            [disabled]="_ng_state === 'disconnected' ? false : true"
            [matAutocomplete]="auto"
            [errorStateMatcher]="_ng_errorStates.ecu">
        <mat-autocomplete #auto="matAutocomplete"
            (optionSelected)="_ng_onRecentSelected($event)">
            <mat-option *ngFor="let recent of _ng_recent" [value]="recent" [attr.title]="recent" class="recent-requests small t-console t-small">
                {{recent}}
            </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="_ng_errorStates.ecu.getErrorCode() === 'INVALID'">
            Use can use not more 4 symbols
        </mat-error>
        <mat-error *ngIf="_ng_errorStates.ecu.getErrorCode() === 'REQUIRED'">
           <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input
            matInput
            placeholder="Timezone"
            [(ngModel)]="_ng_settings.timezone"
            (ngModelChange)="_ng_onTZChange($event)"
            [disabled]="_ng_state === 'disconnected' ? false : true"
            [matAutocomplete]="auto_tz"
            >
        <mat-autocomplete #auto_tz="matAutocomplete" (optionSelected)="_ng_onTzSelected($event)">
            <mat-option
                *ngFor="let timezone of _ng_timezones"
                [value]="timezone"
                [attr.title]="timezone"
                class="recent-requests small t-console t-small"
            >
                <span
                    class="filename"
                    [innerHTML]="_ng_getSafeHTML(timezone)"
                ></span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
<!--
    <mat-form-field *ngIf="_ng_settings.IPVer === 'IPv4'">
        <input matInput placeholder="IP Address" [(ngModel)]="_ng_settings.bindingAddress" [disabled]="_ng_state === 'disconnected' ? null : true" [errorStateMatcher]="_ng_errorStates.bindingAddressV4">
        <mat-error *ngIf="_ng_errorStates.bindingAddressV4.getErrorCode() === 'INVALID'">
            Please enter a valid IPv4 address
        </mat-error>
        <mat-error *ngIf="_ng_errorStates.bindingAddressV4.getErrorCode() === 'REQUIRED'">
            <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="_ng_settings.IPVer === 'IPv6'">
        <input matInput placeholder="IP Address" [(ngModel)]="_ng_settings.bindingAddress" [disabled]="_ng_state === 'disconnected' ? null : true" [errorStateMatcher]="_ng_errorStates.bindingAddressV6">
        <mat-error *ngIf="_ng_errorStates.bindingAddressV6.getErrorCode() === 'INVALID'">
            Please enter a valid IPv6 address
        </mat-error>
        <mat-error *ngIf="_ng_errorStates.bindingAddressV6.getErrorCode() === 'REQUIRED'">
            <strong>required</strong>
        </mat-error>
    </mat-form-field>
 -->
    <mat-form-field>
        <input matInput placeholder="IP Address" [(ngModel)]="_ng_settings.bindingAddress" [disabled]="_ng_state === 'disconnected' ? false : true" [errorStateMatcher]="_ng_errorStates.bindingAddress">
        <mat-error *ngIf="_ng_errorStates.bindingAddress.getErrorCode() === 'INVALID'">
            Please enter a valid IPv4/IPv6 address
        </mat-error>
        <mat-error *ngIf="_ng_errorStates.bindingAddress.getErrorCode() === 'REQUIRED'">
            <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Port" [(ngModel)]="_ng_settings.bindingPort" [disabled]="_ng_state === 'disconnected' ? false : true" [errorStateMatcher]="_ng_errorStates.bindingPort">
        <mat-error *ngIf="_ng_errorStates.bindingPort.getErrorCode() === 'INVALID'">
            Please enter a valid port value
        </mat-error>
        <mat-error *ngIf="_ng_errorStates.bindingPort.getErrorCode() === 'REQUIRED'">
            <strong>required</strong>
        </mat-error>
    </mat-form-field>
    
    <span class="slitter"></span>
    <p class="alignright">
        <span>Connection:</span>
        <mat-button-toggle-group
            name="connectionType"
            aria-label="Connection Type"
            (change)="_ng_onTypeConnectionChange($event)"
            [disabled]="!(_ng_state === 'disconnected')"
            [(ngModel)]="_ng_settings.target">
            <mat-button-toggle value="Udp">UDP</mat-button-toggle>
            <mat-button-toggle value="Tcp">TCP</mat-button-toggle>
        </mat-button-toggle-group>
    </p>
    <span class="slitter"></span>
    <mat-checkbox [(ngModel)]="_ng_settings.fibex" (change)="_ng_onMuliticastingStateChange()" [disabled]="_ng_state === 'disconnected' ? false : true">Add fibex data</mat-checkbox>
</mat-expansion-panel>

<span class="slitter"></span>

<mat-expansion-panel
    *ngIf="_ng_settings.target === 'Udp'"
    (contextmenu)="_ng_onMulticastContexMenu($event)"
    [hideToggle]="true"
    [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Multicast
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let multicast of _ng_settings.multicast; let i=index">
        <mat-divider *ngIf="_ng_settings.multicast.length > 1 && i !== 0"></mat-divider>
        <app-sidebar-app-dlt-connector-multicast
            (contextmenu)="_ng_onMulticastContexMenu($event, i)"
            [multicast]="multicast"
            [clean]="_ng_multicastCleanSubject"
        ></app-sidebar-app-dlt-connector-multicast>
    </div>
    <div class="controlls">
        <button mat-stroked-button color="primary" (click)="_ng_onAddMulticastClick()">Add</button>
    </div>    
</mat-expansion-panel>

<span class="slitter"></span>

<mat-expansion-panel
    *ngIf="_ng_settings.fibex"
    [hideToggle]="true"
    [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Fibex
        </mat-panel-title>
        <mat-panel-description>
            Refered files
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="fibex">
        <ul class="reorderable-list-b" *ngIf="_ng_settings.fibexFiles.length > 0" cdkDropList (cdkDropListDropped)="_ng_onFibexFileDragged($event)">
            <li class="reorderable-list-b" cdkDrag *ngFor="let file of _ng_settings.fibexFiles" (contextmenu)="_ng_onFibexContexMenu($event, file)">
                <span class="t-console color-scheme-0">{{file.name}}</span>
                <span class="t-console color-scheme-2">{{file.viewPath}}</span>
                <span class="t-console color-scheme-2">{{(file.size / 1024).toFixed(2)}} kB</span>
            </li>
        </ul>
    </div>
    <span class="slitter" *ngIf="_ng_settings.fibexFiles.length > 0"></span>
    <div class="controlls">
        <button mat-stroked-button color="primary" (click)="_ng_onAddFibexFile()">Add File(s)</button>
    </div>
</mat-expansion-panel>

<span class="slitter"></span>

<div *ngIf="_ng_state === 'progress'" class="progress">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <span class="slitter"></span>
</div>

<div class="controlls">
    <button *ngIf="_ng_state === 'disconnected'" mat-stroked-button color="primary" (click)="_ng_onConnectClick()" [disabled]="_ng_isSettingsValid() ? null : true">Connect</button>
    <button *ngIf="_ng_state === 'connected'" mat-stroked-button color="primary" (click)="_ng_onDisconnectClick()">Disconnect</button>
    <button *ngIf="_ng_allowSaveAs" mat-stroked-button color="primary" (click)="_ng_onSaveAsClick()">Save As</button>
</div>
