@import '../../../styles/variables.less';

app-views-observe-list {
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    bottom: 0.5rem;
    right: 0.5rem;
    left: 0.5rem;
    top: 0.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    outline: none;
    & > div.caption {
        position: sticky !important;
        top: 0;
        left: 0;
        z-index: 1;
        background: @scheme-color-5;
        display: flex;
        padding: 0 24px;
        margin: 0;
        text-align: left;
        align-items: center;
        white-space: nowrap;
        font-size: 0.9rem;
        font-weight: 400;
        span.title{
            color: @scheme-color-2;
        }
        span.subtitle{
            padding-left: 6px;
            color: @scheme-color-3;
        }
        & span.filler {
            flex: auto;
        }

    }
    & mat-expansion-panel {
        margin: 6px 0!important;
    }
    & div.mat-expansion-panel-body {
        padding-left: 0;
        padding-right: 0;
    }

}
p.attach-menu-warning {
    padding: 12px 24px;
    color: @scheme-color-1;
}
div.attach-new-source-menu {
    & .mat-icon {
        width: 16px;
        height: 16px;
        font-size: 16px;
        color: @scheme-color-1;
    }
}