<div class="caption">
    <span class="title">Observing Sources</span>
    <span class="subtitle">({{operations.length}})</span>
    <span class="filler"></span>
    <app-attach-new-source-menu [session]="session"></app-attach-new-source-menu>
</div>
<mat-expansion-panel
    *ngIf="active.length > 0"
    [disabled]="true"
    [hideToggle]="true"
    [expanded]="true"
>
    <mat-expansion-panel-header>
        <mat-panel-title>Active</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="operations">
        <app-views-observed-operation
            *ngFor="let operation of active"
            [operation]="operation"
            [stream]="stream"
        >
        </app-views-observed-operation>
    </div>
</mat-expansion-panel>
<mat-expansion-panel
    *ngIf="inactive.length > 0"
    [disabled]="true"
    [hideToggle]="true"
    [expanded]="true"
>
    <mat-expansion-panel-header>
        <mat-panel-title>Inactive</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="operations">
        <app-views-observed-operation
            *ngFor="let operation of inactive"
            [operation]="operation"
            [stream]="stream"
        >
        </app-views-observed-operation>
    </div>
</mat-expansion-panel>
