<div class="caption">
    <span class="title">Observing Sources</span>
    <span class="subtitle">({{session.observed.count()}})</span>
    <span class="filler"></span>
    <app-attach-new-source-menu [session]="session"></app-attach-new-source-menu>
</div>
<ng-container *ngFor="let provider of session.observed.list | keyvalue">
    <mat-expansion-panel
        *ngIf="!provider.value.isEmpty() || provider.value.panels.nocontent.comp !== undefined"
        [disabled]="true"
        [hideToggle]="true"
        [expanded]="true"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>{{provider.value.panels.list.name}}</mat-panel-title>
            <mat-panel-description>{{provider.value.panels.list.desc}}</mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngIf="!provider.value.isEmpty()">
            <lib-containers-dynamic
                [component]="provider.value.panels.list.comp"
            ></lib-containers-dynamic>
        </div>
        <lib-containers-dynamic
            *ngIf="provider.value.isEmpty() && provider.value.panels.nocontent.comp !== undefined"
            [component]="provider.value.panels.nocontent.comp"
        ></lib-containers-dynamic>
    </mat-expansion-panel>
</ng-container>

