@import '../../../theme/scheme.less';

:host {
    position: relative;
    display: block;
    padding: 0.5rem;
    margin: 0;
    & span.spliter{
        position: relative;
        display: block;
        width: 100%;
        height: 0.5rem;
    }
    & ul {
        position: relative;
        display: block;
        max-height: 30rem;
        overflow: auto;
        border-top: 1px dotted @scheme-color-3;
        border-bottom: 1px dotted @scheme-color-3;
        padding: 0;
        box-shadow: 0 0 1rem rgba(0,0,0,0.4) inset;
        margin: 0;
        & li {
            .t-console;
            position: relative;
            display: block;
            list-style: none;
            padding: 0.25rem 0;
            margin: 0;
            &:last-child{
                border-bottom: none;
            }
        }
    }
}