@import '../../styles/variables.less';

:host {
    position: relative;
    display: flex;
    flex: auto;
    height: 32px;
    width: 100%;
    background: @scheme-color-5;
    overflow: hidden;
    align-items: center;
}
