@import '../../styles/variables.less';

:host {
    position: relative;
    display: block;
    height: 41px;
    width: 100%;
    background: @scheme-color-5;
    overflow: hidden;
    & mat-form-field {
        margin: 0;
    }
}
