<mat-form-field class="material-mofication-normal" *ngIf="field">
    <ng-container *ngIf="elListElement !== undefined">
        <mat-select [(ngModel)]="elListElement.value" (ngModelChange)="element.change()">
            <mat-option *ngFor="let item of elListElement.items" [value]="item">
                {{item}}
            </mat-option>
        </mat-select>
    </ng-container>
    <ng-container *ngIf="elNamedValuesElement !== undefined">
        <mat-select [(ngModel)]="elNamedValuesElement.value" (ngModelChange)="element.change()">
            <mat-option *ngFor="let item of elNamedValuesElement.items" [value]="item.value">
                {{item.key}}
            </mat-option>
        </mat-select>
    </ng-container>
    <ng-container *ngIf="elInputElement !== undefined">
        <input
            [attr.type]="(elInputElement.isString() ? 'text' : 'number')"
            [placeholder]="elInputElement.placeholder"
            matInput
            [(ngModel)]="elInputElement.value"
            (ngModelChange)="element.change()"
        />
    </ng-container>
</mat-form-field>
<ng-container *ngIf="elNestedDictionaryElement !== undefined">
    <app-settings-scheme-nested-dictionary [element]="element" [inner]="elNestedDictionaryElement">
    </app-settings-scheme-nested-dictionary>
</ng-container>

<ng-container *ngIf="elFilesFolderSelectorElement !== undefined">
    <app-settings-scheme-files-selector [element]="element" [inner]="elFilesFolderSelectorElement">
    </app-settings-scheme-files-selector>
</ng-container>

<ng-container *ngIf="elTimezoneSelectorElement !== undefined">
    <app-settings-scheme-tz-selector [element]="element" [inner]="elTimezoneSelectorElement">
    </app-settings-scheme-tz-selector>
</ng-container>

<ng-container *ngIf="elFieldsCollectionElement !== undefined">
    <div *ngFor="let collection of elFieldsCollectionElement.elements">
        <app-settings-scheme-element
            *ngFor="let element of collection"
            [element]="element"
            [provider]="elFieldsCollectionElement.provider"
        >
        </app-settings-scheme-element>
    </div>
    <button
        mat-icon-button
        *ngIf="elFieldsCollectionElement.addTitle === undefined"
        (click)="ngOnAddCollection()"
    >
        <mat-icon aria-hidden="false" class="mini-button">plus</mat-icon>
    </button>
    <button
        mat-stroked-button
        *ngIf="elFieldsCollectionElement.addTitle !== undefined"
        (click)="ngOnAddCollection()"
    >
        <mat-icon aria-hidden="false" class="mini-button">plus</mat-icon>
        {{elFieldsCollectionElement.addTitle}}
    </button>
    <!-- <app-settings-scheme-fields-collection-selector
        [element]="element"
        [inner]="elFieldsCollectionElement"
    ></app-settings-scheme-fields-collection-selector> -->
</ng-container>
