@import '../../../styles/variables.less';

app-layout-snackbar-message {
    padding: 0 16px 0 0;
    position: relative;
    display: block;
    & div.message{
        padding-bottom: 12px;
    }
    & div.controlls {
        text-align: right;
        & button {
            margin-left: 12px;
        }
    }
    & button[data-controll="close"] {
        position: absolute;
        right: -14px;
        top: -14px;
    }
}
