@import '../../../../../theme/variables.less';

app-sidebar-app-shell-environment-preset {

    & .mat-form-field-infix {
        width: auto!important;
    }

    & div.preset {
        display: flex;
        flex-direction: row;
        div.select {
            width: 100%;
            flex: auto;
        }
        div.preset-buttons {
            flex: auto;
            margin-top: 10px;
            margin-left: 10px;
        }
        & input.preset {
            margin-top: 20px;
            margin-bottom: 18px;
            padding: 0;
            border-bottom: dashed 1px @scheme-color-1;
            flex: auto;
            white-space: nowrap;
            color: @scheme-color-0;
        }
    }
}
