<div cdkTrapFocus *ngIf="popup.options !== undefined && !popup.options.minimalistic" class="container minimalistic">
    <div *ngIf="popup.message !== undefined" class="wrapper">
        <p class="caption">{{popup.caption}}<span *ngIf="popup.options !== undefined && popup.options.closable" class="close-button fas fa-times" (click)="onClose()"></span></p>
        <p class="content">{{popup.message}}</p>
        <div *ngIf="popup.buttons !== undefined" class="buttons">
            <button mat-stroked-button *ngFor="let button of popup.buttons" (click)="button.handler()">{{button.caption}}</button>
        </div>
    </div>
    <div *ngIf="popup.component !== undefined" class="wrapper">
        <p class="caption">{{popup.caption}}<span *ngIf="popup.options !== undefined && popup.options.closable" class="close-button fas fa-times" (click)="onClose()"></span></p>
        <div class="content">
            <lib-containers-dynamic [component]="popup.component"></lib-containers-dynamic>
        </div>
        <div *ngIf="popup.buttons !== undefined && popup.buttons.length > 0" class="buttons">
            <button *ngFor="let button of popup.buttons" mat-stroked-button color="primary" (click)="button.handler()">{{button.caption}}</button>
        </div>
    </div>
</div>
<div *ngIf="popup.options !== undefined && popup.options.minimalistic" class="container minimalistic">
    <lib-containers-dynamic [component]="popup.component"></lib-containers-dynamic>
</div>
