<mat-form-field class="material-mofication-normal">
    <mat-label>IP Address</mat-label>
    <input matInput [(ngModel)]="state.configuration.configuration.bind_addr" [errorStateMatcher]="state.errors.address">
    <mat-error *ngIf="state.errors.address.getErrorCode() === 'INVALID'">
        Please enter a valid IPv4/IPv6 address
    </mat-error>
    <mat-error *ngIf="state.errors.address.getErrorCode() === 'REQUIRED'">
        <strong>required</strong>
    </mat-error>
</mat-form-field>
<div class="controlls">
    <button mat-stroked-button (click)="connect()" [disabled]="action.disabled">Connect</button>
</div>