<app-transport-udp-review *ngIf="verified.UDP !== undefined" [source]="verified.UDP" [session]="session"></app-transport-udp-review>
<app-transport-tcp-review *ngIf="verified.TCP !== undefined" [source]="verified.TCP" [session]="session"></app-transport-tcp-review>
<!-- <app-transport-serial-review *ngIf="verified.UDP !== undefined" [source]="verified.UDP" [session]="session"></app-transport-serial-review> -->
<app-transport-process-review *ngIf="verified.Process !== undefined" [source]="verified.Process" [session]="session"></app-transport-process-review>
<app-transport-file-review *ngIf="verified.File !== undefined" [source]="verified.File" [session]="session"></app-transport-file-review>
