@import '../../../theme/scheme.less';


:host {
    display: flex;
    flex-flow: column;
    height: 100%;
    & div.request{
        position: absolute;
        top:0;
        height: 1.75rem;
        left:0;
        right: 0;
        & div.search-input-wrapper{
            position: absolute;
            top:0;
            bottom: 0;
            left:0;
            right: 0;
            transition: right 150ms ease-in-out;
            & input.not-valid{
                color: @scheme-color-error!important;
            }
            & div.spinner{
                position: absolute;
                right: 0.25rem;
                top:0.25rem;
                bottom: 0.25rem;
                width: 2rem;
                overflow: hidden;
            }
            & p.summary{
                position: absolute;
                top: 0;
                right: 4px;
                transition: right ease-in-out 350ms;
            }
            & div.spinner + p.summary{
                right: 40px;
            }
        }
        & div.request-buttons{
            position: absolute;
            right: 0;
            top:0;
            bottom: 0;
            width: 5rem;
            overflow: hidden;
            white-space: nowrap;
            & span.small-icon-button{
                line-height: 1.5rem;
            }
        }
        &.with-buttons{
            & div.search-input-wrapper{
                right: 4.7rem;
            }
        }
    }

    & div.rows{
        position: absolute;
        padding: 0;
        margin: 0;
        width: 100%;
        top:1.75rem;
        left:0;
        bottom: 0;
        overflow: hidden;
    }
}
