@import '../../../theme/variables.less';

app-views-search {
    display: flex;
    flex-flow: column;
    height: 100%;
    & div.request {
        position: absolute;
        top: 0;
        height: 1.75rem;
        left: 0;
        right: 0;
        display: flex;
        & div.search-input-wrapper {
            transition: right 150ms ease-in-out;
            position: relative;
            display: block;
            min-width: 20rem;
            width: calc(100% - 12rem);
            & input.not-valid {
                color: @scheme-color-error!important;
            }
            & input {
                box-sizing: border-box;
                width: ~'calc(100% - 81px)';
                font-size: 13px;
            }
            & div.activeSearchHolder {
                color: #ffffff;
                background-color: #74b9ff;
                border-color: #74b9ff;
                border-width: 1px;
                border-style: solid;
                border-radius: 4px;
                padding-left: 5px;
                display: flex;
                flex-direction: row;
                max-width: 40%;
                margin-left: -8px;
                & button {
                    background-color: @scheme-color-accent;
                    border: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    & mat-icon {
                        color: @scheme-color-0;
                        font-size: 14px;
                        width: 14px;
                        height: 14px;
                    }
                    & mat-icon.disabled {
                        color: @scheme-color-3;
                    }
                }
            }
            & span.activeSearch {
                position: relative;
                display: inline-block;
                color: @scheme-color-0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 14px;
                line-height: 18px;
            }
            & mat-form-field {
                margin: 0 4px;
                width: calc(100% - 8px);
                & .mat-form-field-flex {
                    height: 31px;
                }
                & .mat-form-field-infix {
                    display: flex;
                    flex-direction: row;
                    margin: 7px 0 0 0;
                    padding: 0;
                }
            }
            & div.spinner {
                position: absolute;
                left: 0px;
                right: 0px;
                bottom: -6px;
                height: 1px;
                overflow: hidden;
            }
            & div.request-mode-buttons {
                position: absolute;
                right: 3px;
                bottom: -2px;
                width: 5.5rem;
                overflow: hidden;
                white-space: nowrap;
                height: 25px;
                color: @scheme-color-0;
                cursor: default;
                & span.small-icon-button {
                    line-height: 1.5rem;
                    transition: all 50ms ease-in-out;
                    outline: none;
                    &:hover {
                        color: @scheme-color-1;
                    }
                    &.active {
                        background: fade(@scheme-color-accent, 25%);
                    }
                    &.inactive {
                        background: none;
                        color: @scheme-color-1;
                    }
                }
            }
        }
        & div.request-buttons {
            position: relative;
            display: block;
            flex: 0;
            white-space: nowrap;
            padding-top: 6px;
            & span.small-icon-button {
                line-height: 1.5rem;
            }
        }
        & p.summary {
            position: relative;
            display: block;
            flex: auto;
            white-space: nowrap;
            transition: right ease-in-out 350ms;
            pointer-events: none;
            padding: 7px 8px 0 8px;
            text-align: right;
        }
    }

    & div.rows {
        position: absolute;
        padding: 0;
        margin: 0;
        width: 100%;
        top: 34px;
        left: 0;
        bottom: 0;
        overflow: hidden;
    }
}

& span.filename {
    & > span {
        color: @scheme-color-accent;
    }
}
