<div *ngIf="_ng_width !== -1" class="shadow left select" [ngStyle]="{'width': _ng_left + 'px'}"></div>
<div *ngIf="_ng_width !== -1" class="cursor select" [ngStyle]="{'width': _ng_width + 'px', 'left': _ng_left + 'px'}" (click)="_ng_preventDefault($event)">
    <div class="area-move" (mousedown)="_ng_onMove($event)" (click)="_ng_preventDefault($event)"></div>
    <div class="area-select select" (click)="_ng_preventDefault($event)"></div>
    <div class="l-border" (mousedown)="_ng_onLeft($event)" (click)="_ng_preventDefault($event)"></div>
    <div class="r-border" (mousedown)="_ng_onRight($event)" (click)="_ng_preventDefault($event)"></div>
</div>
<div *ngIf="_ng_width !== -1" class="shadow right select" [ngStyle]="{'left': (_ng_left + _ng_width) + 'px'}"></div>
<div *ngIf="_ng_selection_left !== undefined" class="selection" [ngStyle]="_ng_getSelectionStyle()"></div>
