@import '../../../../styles/variables.less';

app-scrollarea-row-columns {
    display: block;
    position: relative;
    font-family: 'console', monospace;
    font-size: 13.5px;
    font-variant-numeric: tabular-nums;
    padding: 0;
    margin: 0;
    line-height: 16px;
    height: 16px;
    max-height: 16px;
    color: @scheme-color-0;
    font-weight: 500;
    user-select: text;
    cursor: text;
    width: 100%;
	span.cell {
        display: inline-block;
        overflow: hidden;
		padding: 0 12px;
        color: inherit;
		border-left: thin solid @scheme-color-3;
		&:first-child {
			border-left: none;
		}
	}
    & * {
        user-select: text;
    }
}