<p class="caption t-normal">File: {{fileName}} ({{_ng_size}})</p>
<span class="spliter"></span>
<p class="caption t-normal">Required log level:</p>
<div [attr.class]="'logs ' + (_ng_error !== undefined ? 'with-error' : '')">
    <lib-primitive-dropdownlist #loglevelcom [defaults]="_ng_logLevelDefault" [items]="_ng_logLevels" [onChange]="_ng_onLogLevelChange"></lib-primitive-dropdownlist>
</div>
<div *ngIf="_ng_scanning" class="progress">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div *ngIf="_ng_filters !== undefined" class="filter">
    <input
        class="standard"
        type="text" 
        placeholder="Filter: APID, CTID or ECUID"
        aria-label="Filter"
        (keyup)="_ng_onKeyUpFilterInput($event)"
        [(ngModel)]="_ng_filterValue"
        matInput>
</div>
<div *ngIf="_ng_filters !== undefined" class="filters">
    <span class="spliter"></span>
    <div *ngFor="let filter of _ng_filters | keyvalue" class="group">
        <app-views-dialogs-file-options-dlt-stats
            [id]="filter.key"
            [caption]="filter.value.caption"
            [sort]="_ng_sortSubject"
            [filter]="_ng_filterSubject"
            [display]="_ng_dispayed"
            [stats]="filter.value.stats">
        </app-views-dialogs-file-options-dlt-stats>
    </div>
    <span class="spliter"></span>
</div>
<p class="t-small" *ngIf="_ng_fibexFile !== undefined">Refered fibex file: {{_ng_fibexFile.name}} ({{(_ng_fibexFile.size / 1024).toFixed(2)}} kB)</p>
<div class="controlls">
    <button mat-stroked-button color="primary" (click)="_ng_onOpen()">Open</button>
    <button mat-stroked-button color="primary" (click)="_ng_onFibex()">Ref Fibex File</button>
    <button mat-stroked-button color="primary" (click)="_ng_onCancel()">Cancel</button>
</div>
