<mat-expansion-panel
    [disabled]="true"
    [expanded]="true"
    [hideToggle]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>General</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="comstyle-input-holder small">
        <mat-form-field class="recent-files outline regular" appearance="outline">
            <mat-label>Required log level</mat-label>
            <mat-select [(value)]="_ng_logLevel">
                <mat-option [value]="logLevel.value" *ngFor="let logLevel of _ng_logLevels">{{ logLevel.caption }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="comstyle-input-holder small">
        <mat-form-field class="recent-files outline regular" appearance="outline">
            <mat-label>Timezone</mat-label>
            <input
                type="text"
                [placeholder]="'Start typing time zone name'"
                aria-label="Timezone"
                matInput
                [formControl]="_ng_timezoneInput"
                [matAutocomplete]="auto"
                [disabled]="_ng_recentTzLoading"
                (focus)="_ng_tzOnFocus()"
            />
            <mat-autocomplete
                #auto="matAutocomplete"
                class="recent-files regular"
                [classList]="'recent-requests'"
                [autoActiveFirstOption]="true"
                [disableRipple]="true"
                (optionSelected)="_ng_onTzSelected($event)"
            >
                <mat-option
                    *ngFor="let timezone of _ng_timezones | async"
                    [value]="timezone"
                    [attr.title]="timezone"
                    class="recent-requests small t-console t-small"
                >
                    <span
                        class="filename"
                        [innerHTML]="_ng_getSafeHTML(timezone)"
                    ></span>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <div class="loading-recent-tz" *ngIf="_ng_recentTzLoading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>
</mat-expansion-panel>

<span class="spliter"></span>

<mat-expansion-panel [(expanded)]="_ng_filteringExpanded">
    <mat-expansion-panel-header>
        <mat-panel-title>Filtering</mat-panel-title>
        <mat-panel-description *ngIf="!_ng_filteringExpanded">
            <span *ngIf="!_ng_scanning">{{_ng_getStatsSummary()}}</span>
            <mat-progress-spinner *ngIf="_ng_scanning" class="description-loading-spinner" [diameter]="16" [mode]="'indeterminate'" ></mat-progress-spinner><span *ngIf="_ng_scanning" class="description-loading-spinner">Loading... </span>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="progress" *ngIf="_ng_scanning">
        <mat-progress-spinner [diameter]="32" [mode]="'indeterminate'" ></mat-progress-spinner>
    </div>
    <div *ngIf="_ng_filters !== undefined" class="filter">
        <input
            class="standard"
            type="text"
            placeholder="Filter: APID, CTID or ECUID"
            aria-label="Filter"
            (keyup)="_ng_onKeyUpFilterInput($event)"
            [(ngModel)]="_ng_filterValue"
            matInput>
    </div>
    <div *ngIf="_ng_filters !== undefined" class="filters">
        <span class="spliter"></span>
        <div *ngFor="let filter of _ng_filters | keyvalue" class="group">
            <app-views-dialogs-file-options-dlt-stats
                [id]="filter.key"
                [caption]="filter.value.caption"
                [sort]="_ng_sortSubject"
                [filter]="_ng_filterSubject"
                [display]="_ng_dispayed"
                [stats]="filter.value.stats">
            </app-views-dialogs-file-options-dlt-stats>
        </div>
    </div>
</mat-expansion-panel>

<span class="spliter"></span>

<mat-expansion-panel
    *ngIf="_ng_fibex.length > 0"
    [disabled]="true"
    [expanded]="true"
    [hideToggle]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>Referred fibed files</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="fibex">
        <ul class="reorderable-list-a" *ngIf="_ng_fibex.length > 0" cdkDropList (cdkDropListDropped)="_ng_onFibexFileDragged($event)">
            <li class="reorderable-list-a" cdkDrag *ngFor="let file of _ng_fibex" (contextmenu)="_ng_onFibexContexMenu($event, file)">
                <span class="t-console color-scheme-0">{{file.name}}</span>
                <span class="t-console color-scheme-2">{{file.viewPath}}</span>
                <span class="t-console color-scheme-2">{{(file.size / 1024).toFixed(2)}} kB</span>
            </li>
        </ul>
    </div>
</mat-expansion-panel>
<span class="spliter" *ngIf="_ng_fibex.length > 0"></span>

<div class="controlls">
    <button appFocusDefaultButton mat-stroked-button color="primary" (click)="_ng_onOpen()">Open</button>
    <button mat-stroked-button color="primary" (click)="_ng_onFibex()">Ref Fibex File(s)</button>
    <button mat-stroked-button color="primary" (click)="_ng_onCancel()">Cancel</button>
</div>
