@scheme-color-0: #FFFFFF;
@scheme-color-1: #eaeaea;
@scheme-color-2: #c0c0c0;
@scheme-color-3: #979797;
@scheme-color-4: #555555;
@scheme-color-5: #333333;
@scheme-color-6: #111111;
@scheme-color-7: #000000;

@scheme-color-error: rgb(253, 21, 21);
@scheme-color-accent: #74b9ff;
@scheme-color-warning: #fffd71;

@border-color-offset: 5%;
@border-radius: 6px;

@tabs-list-height: 1.5rem;
@caption-height: 1.5rem;

@status-bar-height: 1.5rem;
@func-bar-maximized: 20rem;

@status-bar-height-abs: 1.5;
@func-bar-maximized-abs: 20;