@import '../../../styles/variables.less';

:host {
    position: relative;
    display: block;
    padding: 16px;
    margin: 0;
    width: 450px;
    & div.options {
        display: flex;
        flex-direction: row;
        & div.left {
            flex: 1;
            & div.header {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 4px 0;
                border: thin solid var(--scheme-color-4);
                border-radius: 2px;
                & .title {
                    display: flex;
                    flex-direction: column;
                    padding: 2px 6px;
                    & .label {
                        color: var(--scheme-color-0);
                    }
                    & .sublabel {
                        color: var(--scheme-color-2);
                    }
                }
        
            }
        
        }
        & div.right {
            flex: 1;
            padding: 4px 0px 0px 16px;
            & p {
                padding-bottom: 12px;
            }
        }
    }
    & .controlls {
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin-top: 12px;
        & button {
            margin-left: 8px;
        }
    }
}