dialog-message-list{
    position    : absolute;
    display     : block;
    top         : 0rem;
    left        : 0rem;
    right       : 0rem;
    bottom      : 0rem;
    overflow    : hidden;
    .dialog-message-list{
        position    : absolute;
        top         : 0.5rem;
        left        : 0.5rem;
        right       : 0.5rem;
        bottom      : 0.5rem;
        overflow    : hidden;
        .content{
            position    : absolute;
            top         : 0!important;
            height      : 4rem;
            width       : 100%;
            font-size   : 1rem;
            border-bottom: thin dotted @light-grey;
        }
        .list{
            position    : absolute;
            top         : 4rem!important;
            bottom      : 2.5rem;
            width       : 100%;
            font-size   : 1rem;
        }
        .buttons{
            position        : absolute;
            bottom          : 0;
            height          : 2.5rem;
            overflow        : hidden;
            text-align      : right;
            white-space     : nowrap;
            width           : 100%;
        }

    }
}
