@import '../../../theme/variables.less';


:host {
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    bottom: 0.5rem;
    right: 0.5rem;
    left:0.5rem;
    top:0.5rem;
    overflow: hidden;
    & cdk-virtual-scroll-viewport{
        position: relative;
        height: 100%;
        width: 100%;
        background: @scheme-color-5;
        overflow-x: hidden;
    }
}
