<div class="bars">
    <div class="main">
        <app-views-measurement-chart *ngIf="_ng_service !== undefined" [service]="_ng_service"></app-views-measurement-chart>
    </div>
    <div class="overview">
        <app-views-measurement-overview *ngIf="_ng_service !== undefined" [service]="_ng_service"></app-views-measurement-overview>
    </div>
</div>
<div class="controlls">
    <app-views-measurement-controlls *ngIf="_ng_isControllerAvailable()" [controller]="_ng_getController()"></app-views-measurement-controlls>
</div>
