<div class="global" *ngIf="actual.globals !== undefined">
    <mat-spinner [diameter]="12"></mat-spinner>
    <span class="desc">{{actual.globals?.desc}}</span>
</div>
<div class="session" *ngIf="actual.session !== undefined">
    <mat-spinner [diameter]="12"></mat-spinner>
    <span class="desc">{{actual.session?.desc}}</span>
</div>
<div class="pinned" *ngIf="list.pinned.length > 0">
    <span class="pinned-job" *ngFor="let job of list.pinned">
        <span class="indicator" *ngIf="job.icon === undefined"></span>
        <mat-icon *ngIf="job.icon !== undefined">{{job.icon}}</mat-icon>
        <span class="desc">{{job.desc}}</span>
    </span>
</div>
